<nav class="navbar navbar-expand-lg">
  <a href="{{ url_for('index') }}" class="navbar-logo">
    <img
      src="{{ url_for('static',filename='images/logo.svg') }}"
      alt="Logo"
      width="182"
      height="50"
    />
  </a>
  <a
    class="btn-order-navbar d-xl-none"
    rel="”nofollow”"
    href="https://app.cindysfloridallc.com/v2/intake/service"
    target="_blank"
    >Order Now</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggler"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
    style="outline: none"
  >
    <span class="custom-toggler" style="outline: none"
      ><img
        src="{{ url_for('static',filename='images/icons/menu-burger.svg') }}"
        alt="burgerMenu"
        width="24px"
        height="24px"
    /></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="javascript:void(0);"
          id="navbarDropdown_1"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
          <a class="dropdown-item" href="{{ url_for('index') }}"
            >Form a Florida LLC</a
          >
          <a class="dropdown-item" href="{{ url_for('anonymous') }}"
            >Anonymous Florida LLC</a
          >
          <a class="dropdown-item" href="{{ url_for('agent') }}"
            >Florida Registered Agent</a
          >
          <a class="dropdown-item" href="{{ url_for('corp') }}"
            >Florida Corporation</a
          >
          <a class="dropdown-item" href="{{ url_for('vo') }}">Virtual Office</a>
          <a class="dropdown-item" href="{{ url_for('bookkeeping') }}"
            >Book Keeping</a
          >
          <a class="dropdown-item" href="{{ url_for('land') }}">Land Trust</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="javascript:void(0);"
          id="navbarDropdown_2"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
          <a class="dropdown-item" href="{{ url_for('benefits') }}"
            >Florida LLC Benefits</a
          >
          <a class="dropdown-item" href="{{ url_for('holding') }}"
            >Holding Company</a
          >
          <a class="dropdown-item" href="{{ url_for('taxes') }}"
            >FL LLC Taxes</a
          >
          <a class="dropdown-item" href="{{ url_for('oa') }}"
            >FL LLC Operating Agreement</a
          >
          <a class="dropdown-item" href="{{ url_for('llcvssole') }}"
            >Sole Proprietorship</a
          >
          <a class="dropdown-item" href="{{ url_for('ein') }}">Obtain an EIN</a>
          <a class="dropdown-item" href="{{ url_for('smllc') }}"
            >Single Member Florida LLC</a
          >
          <a class="dropdown-item" href="{{ url_for('fl_reqs') }}"
            >LLC Requirements</a
          >
          <a class="dropdown-item" href="{{ url_for('fees') }}">LLC Fees</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#contact" contact="true"
          >Contact Us</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}">About Me</a>
      </li>
      <li class="call-number">
        <a class="phone" href="tel:+1-727-300-0042"
          >Call: 727-300-0042</a
        >
      </li>
      <li class="for-btn">
        <a
          class="login"
          rel="nofollow"
          href="https://app.cindysfloridallc.com/login"
          target="_blank"
          >Login</a
        >
      </li>
      <li class="for-btn">
        <a class="btn-order-navbar d-none d-xl-flex" rel="nofollow" href="https://app.cindysfloridallc.com/v2/intake/service" target="_blank">Order Now</a>
      </li>
    </ul>
  </div>
</nav>
