.get-started {
  position: relative;
  background-color: rgba($blue, .3);
  padding: 68px 0;
  margin-top: 80px;

  @media (min-width: $lg) {
    padding: 80px 0 125px;
    margin-top: 130px;
  }

  @media (min-width: $xxxl) {
    padding: 126px 0 165px;
  }

  &::before {
    display: inline-block;
    content: "";
    background-image: url("/static/images/wave-top-small.svg");
    background-repeat: no-repeat;
    background-size: 100vw;
    position: absolute;
    top: -18px;
    left: 0;
    width: 100vw;
    height: 54px;

    @media (min-width: 360px) {
      top: -37px;
    }

    @media (min-width: $sm) {
      background-image: url("/static/images/wave-top.svg");
      top: -9px;
    }

    @media (min-width: $xl) {
      top: -17px;
    }
  }

  &::after {
    display: flex;
    content: "";
    background-image: url("/static/images/wave-bottom-md-sm.svg");
    background-repeat: no-repeat;
    background-size: 105vw;
    position: absolute;
    bottom: -24px;
    right: 0;
    width: 100vw;
    height: 57px;

    @media (min-width: $sm) {
      background-image: url("/static/images/wave-bottom-md.svg");
      height: 54px;
      bottom: -32px;
    }

    @media (min-width: $md) {
      height: 60px;
      bottom: -34px;
    }

    @media (min-width: $lg) {
      height: 97px;
      bottom: -58px;
    }

    @media (min-width: $xxxl) {
      height: 129px;
    }
  }

  .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $md) {
      flex-direction: row;
    }

    @media (min-width: $lg) {
      justify-content: space-evenly;
    }

    .promo {
      display: flex;
      flex-direction: column;
      max-width: 486px;

      .title {
        text-align: left;
        font: normal normal normal 30px/24px $roboto-bold;
        letter-spacing: 0px;
        color: rgba(51, 51, 51, 1);

        @media (min-width: $xl) {
          font: normal normal normal 48px/63px $roboto-bold;
        }
      }

      .sub-title {
        text-align: left;
        font: normal normal normal 16px/30px $cabin;
        letter-spacing: 0px;
        color: $secondary;

        @media (min-width: $xl) {
          font: normal normal normal 24px/30px $cabin;
        }
      }

      .text {
        display: block;
        text-align: justify;
        font: normal normal normal 16px/19px $cabin;
        letter-spacing: 0px;
        color: rgba(51, 51, 51, 1);
        margin: 13px 0 32px;

        @media (min-width: $md) {
          font: normal normal normal 20px/30px $cabin;
          margin: 17px 0 34px;
        }
      }
    }
    .btn-primary {
      padding: 17px;
      margin-top: 36px;

      @media (min-width: $md) {
        padding: 22px 43px;
        margin-top: 0;
      }
    }

    .cover {
      max-width: 100%;
      height: auto;

      @media (min-width: $md) {
        max-width: 275px;
        max-height: 236px;
      }

      @media (min-width: $xl) {
        max-width: 475px;
        max-height: 436px;
      }
    }
  }
}
