.improvement {
  position: relative;
  margin: 0 0 20px;
  padding-top: 31px;

  @media(min-width: $md) {
    padding-top: 0;
  }

  @media (min-width: $lg) {
    margin: 114px 0 150px;
  }

  &::before {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    content: '';
    background-image: url('/static/images/border-top-sm.svg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: 5.65px;
    z-index: -1;

    @media(min-width: $md) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 8px;
    display: flex;
    content: '';
    background-image: url('/static/images/border-bottom-sm.svg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: 5.65px;
    z-index: -1;

    @media(min-width: $md) {
      display: none;
    }
  }

  .improvement-block {
    position: relative;
    display: flex;
    justify-content: flex-start;

    @media (min-width: $lg) {
      justify-content: space-between;
      max-height: 440px;
      height: 100%;
    }

    &::before {
      position: absolute;
      right: 0;
      top: -25px;
      display: none;
      content: '';
      background-image: url('/static/images/border-top.svg');
      background-repeat: no-repeat;
      background-position: bottom;
      max-width: 100%;
      width: 100%;
      height: 3.65px;
      z-index: -1;

      @media(min-width: $md) {
        display: flex;
        height: 13.62px;
      }

      @media(min-width: $xxl) {
        max-width: 92.25%;
        top: 54px;
      }
      
      @media(min-width: $xxxl) {
        top: 60px;
        height: 17.62px;
      }
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 30px;
      display: none;
      content: '';
      background-image: url('/static/images/border-bottom.svg');
      background-repeat: no-repeat;
      background-position: top;
      max-width: 100%;
      width: 100%;
      height: 3.65px;
      z-index: -1;

      @media(min-width: $md) {
        display: flex;
        bottom: 0;
        height: 13.62px;
      }

      @media(min-width: $lg) {
        bottom: -42px;
      }

      @media(min-width: $xxl) {
        max-width: 92.25%;
        bottom: 25px;
      }

      @media(min-width: $xxxl) {
        bottom: 38px;
      }
    }

    .improvement-img {
      max-width: 250px;
      max-height: 220px;
      transform: scaleX(-1);
      margin-top: 34px;

      @media (min-width: $xxl) {
        max-width: 100%;
        max-height: 100%;
        margin-top: 0;
      }

      @media (min-width: $xxxl) {
        max-width: 100%;
        max-height: 440px;
      }
    }

    .improvement-info {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .title-block {
        display: flex;
        flex-direction: column;

        .title {
          text-align: left;
          font: normal normal normal 30px/24px $roboto-bold;
          letter-spacing: 0px;
          color: rgba(51, 51, 51, 1);

          @media (min-width: $lg) {
            font: normal normal normal 48px/63px $roboto-bold;
          }
        }

        .sub-title {
          text-align: left;
          font: normal normal normal 16px/30px $cabin-bold;
          letter-spacing: 0px;
          color: rgba(223, 111, 84, 1);

          @media (min-width: $lg) {
            font: normal normal normal 24px/30px $cabin-bold;
          }
        }
      }

      .text {
        display: block;
        text-align: justify;
        font: normal normal normal 16px/19px $cabin;
        letter-spacing: 0px;
        color: rgba(51, 51, 51, 1);
        margin: 14px 0 0;

        @media (min-width: $md) {
          font: normal normal normal 20px/30px $cabin;
        }
      }

      .right-side {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 35px;

        @media (min-width: $lg) {
          align-items: flex-end;
          margin-top: 0;
        }

        .package-price {
          text-align: left;
          font: normal normal normal 24px/30px $cabin;
          letter-spacing: 0px;
          color: rgba(223, 111, 84, 1);

          @media (min-width: $md) {
            font: normal normal normal 48px/63px $roboto-bold;
            text-align: right;
          }
        }

        .package-title {
          text-align: left;
          font: normal normal normal 16px/19px $cabin;
          letter-spacing: 0px;
          color: rgba(51, 51, 51, 1);

          @media (min-width: $lg) {
            text-align: right;
            font: normal normal normal 24px/30px $cabin;
          }
        }

        .btn-primary {
          margin-top: 14px;
          white-space: nowrap;

          @media (min-width: $lg) {
            margin-top: 64px;
          }
        }
      }
    }
  }
}
