@import "./getStarted";
@import "./improvement";
@import "./testimonials";

.home-section {
  &.what-should {
    margin: 50px 0;

    @media (min-width: $lg) {
      margin: 128px 0 118px;
    }
  }

  &.with-paragraph {
    margin: 76px 0 79px;

    @media (min-width: $lg) {
      margin: 140px 0 114px;
    }
  }

  &.with-bg {
    position: relative;
    background-color: rgba($blue, .3);
    padding: 70px 0;
    margin: 84px 0 54px;

    @media (min-width: $lg) {
      padding: 100px 0;
    }

    @media (min-width: $xl) {
      padding: 162px 0;
      margin: 98px 0 150px;
    }

    &::before {
      display: inline-block;
      content: "";
      background-image: url("/static/images/wave-top-small.svg");
      background-repeat: no-repeat;
      background-size: 100vw;
      position: absolute;
      top: -18px;
      left: 0;
      width: 100vw;
      height: 54px;

      @media(min-width: 360px) {
        top: -37px;
      }

      @media(min-width: $sm) {
        background-image: url("/static/images/wave-top.svg");
        top: -9px;
      }

      @media (min-width: $md) {
        top: -9px;
        height: 54px;
      }

      @media (min-width: $xl) {
        top: -17px;
      }
    }

    &::after {
      display: flex;
      content: "";
      background-image: url("/static/images/wave-bottom-sm.svg");
      background-repeat: no-repeat;
      background-size: 105vw auto;
      position: absolute;
      bottom: -40px;
      right: 0;
      width: 100vw;
      height: 79px;

      @media(min-width: 360px) {
        bottom: -10%;
        height: 16%;
      }

      @media(min-width: $sm) {
        background-image: url("/static/images/wave-bottom.svg");
        height: 56px;
        bottom: -20px;
      }

      @media (min-width: $md) {
        background-position: center;
        bottom: -28px;
        height: 60px;
      }

      @media (min-width: $lg) {
        height: 135px;
        bottom: -64px;
      }

      @media(min-width: $xxxl) {
        height: 185px;
      }
    }
  }

  .title-block {
    position: relative;
    display: flex;
    flex-direction: column;

    @media (min-width: $md) {
      margin-bottom: 35px;
    }

    &.with-row {
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;

      @media (min-width: $md) {
        flex-direction: row;
        align-items: center;
      }

      .child-block {
        display: flex;
        flex-direction: column;
        position: relative;
        &::after {
          display: flex;
          content: "";
          width: 64px;
          height: 5px;
          background-color: rgba(235, 187, 69, 1);
          margin-top: 15px;

          @media (min-width: $md) {
            position: absolute;
            left: 0;
            bottom: -15px;
            margin-top: 0;
          }
        }
      }
    }

    &:not(.with-row) {
      &::after {
        display: flex;
        content: "";
        width: 64px;
        height: 5px;
        background-color: rgba(235, 187, 69, 1);
        margin-top: 15px;

        @media (min-width: $md) {
          position: absolute;
          left: 0;
          bottom: -15px;
          margin-top: 0;
        }
      }
    }

    .sub-text {
      text-align: left;
      font: normal normal normal 16px/30px $cabin;
      letter-spacing: 0px;
      color: $secondary;
      opacity: 1;

      @media (min-width: $md) {
        font: normal normal normal 24px/30px $cabin;
      }
    }

    .title {
      text-align: left;
      font: normal normal normal 24px/26px $roboto-bold;
      letter-spacing: 0px;
      color: rgba(51, 51, 51, 1);

      @media (min-width: $md) {
        font: normal normal normal 48px/63px $roboto-bold;
      }
    }

    .price {
      text-align: left;
      font: normal normal normal 24px/30px $cabin;
      margin-top: 15px;
      letter-spacing: 0px;
      color: $secondary;

      @media (min-width: $lg) {
        font: normal normal normal 48px/48px $cabin;
        padding-bottom: 5px;
        margin-top: 0;
      }
    }

    .btn-primary {
      margin: 23px 0 28px;
    }
  }

  .section-img {
    max-width: 191px;
    max-height: 167px;
    margin-top: 36px;

    @media (min-width: $lg) {
      max-width: 100%;
      max-height: auto;
      margin-top: 0;
    }
  }

  .btn-primary {
    margin-top: 27px;

    @media (min-width: $md) {
      margin-top: 38px;
    }
  }

  .section-content {
    p {
      text-align: justify;
      font: normal normal normal 16px/19px $cabin;
      letter-spacing: 0px;
      color: rgba(51, 51, 51, 1);
      margin-top: 10px;

      @media (min-width: $md) {
        font: normal normal normal 20px/30px $cabin;
      }

      a {
        color: $secondary;
        transition: all 0.15s linear;

        &:hover {
          text-decoration: underline;
          color: $secondary-dark;
        }
      }
    }
  }
}

.paragraph-img-section {
  max-width: 100%;
}