.testimonials {
    padding: 144px 0 0;

    .title-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .title {
            text-align: left;
            font: normal normal normal 24px/32px $roboto-bold;
            letter-spacing: 0px;
            color: rgba(51, 51, 51, 1);

            @media(min-width: $lg) {
                font: normal normal normal 48px/63px $roboto-bold;
            }
        }

        .line-break {
            margin: 10px 0 21px;

            @media(min-width: $md) {
                margin: 13px 0;
            }
        }

        .sub-text {
            text-align: left;
            font: normal normal normal 16px/20px $cabin;
            letter-spacing: 0px;
            color: rgba(51, 51, 51, 1);

            @media(min-width: $lg) {
                font: normal normal normal 20px/30px $cabin;
            }
        }
    }

    .testimonials-list {
        display: flex;

        @media(min-width: $xxxl) {
            margin-top: 109px;
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-top: 90px;
            width: 100%;

            .image {
                display: block;
                max-width: 81px;
                max-height: 80px;
                border-radius: 50px;
                margin-bottom: 22px;
                overflow: hidden;

                @media(min-width: $lg) {
                    max-width: 141px;
                    max-height: 140px;
                    margin-bottom: 52px;
                }
            }

            .reviewer-text {
                display: block;
                margin: 0;
                text-align: center;
                font: normal normal normal 16px/20px $cabin;
                letter-spacing: 0px;
                color: rgba(51, 51, 51, 1);

                @media(min-width: $lg) {
                    font: normal normal normal 20px/30px $cabin;
                }
            }

            .reviewer-fullname {
                display: block;
                margin: 10px 0 0;
                text-align: center;
                font: normal normal normal 16px/30px $cabin-bold;
                letter-spacing: 0px;
                color: rgba(51, 51, 51, 1);

                @media(min-width: $lg) {
                    margin: 27px 0 0;
                    font: normal normal normal 20px/30px $cabin-bold;
                }
            }
        }
    }
}