<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Florida Holding Company Taxes</title>
    <meta
      name="description"
      content="When forming your Florida holding company, keep in mind that some of your formation choices might have tax implications for you and your company. A main concern will be the structure of your company, whether it is a personal holding company (i.e. C-corporation) or an LLC."
    />

    <!-- Json-LD Breadcrumb -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "https://cindysfloridallc.com/",
              "name": "Form a Florida LLC"
            }
          },
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "https://cindysfloridallc.com/FL-Holding-Company",
              "name": "Florida Holding Company Benefits"
            }
          },
          {
            "@type": "ListItem",
            "position": 3,
            "item": {
              "@id": "https://cindysfloridallc.com/Holding-Company/Taxes",
              "name": "Florida Holding Company Taxes"
            }
          }
        ]
      }
    </script>
    <!-- Json-LD Breadcrumb end -->

    {% extends "links/master/holding.html" %} {% block content %}

    <header id="main" class="header-promo page-header">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-9 mx-auto">
            <div class="row align-items-center">
              <div class="col-12">
                <div class="breadcrumb">
                  {% include "links/bread/holding.html" %}
                  <div class="breadcrumb-item">
                    <span> Taxes </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-7">
                <h1 class="promo-title">Florida Holding Company Taxes</h1>
                <div class="line-break"></div>
                <h6 class="promo-price">$225 - Same Day Filing</h6>
                <a
                  href="https://app.cindysfloridallc.com/v2/intake/service"
                  rel="nofollow"
                  target="_blank"
                  class="btn-order"
                  >Order Now</a
                >
              </div>
              <div class="col-12 col-lg-5 d-none d-lg-block">
                <img
                  src="{{ url_for('static',filename='images/illustrations/talking.svg') }}"
                  alt="Florida Holding Company Taxes"
                  class="promo-cover"
                  width="388"
                  height="227"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="table-of-content d-lg-none">
              <h6 class="block-title">Table of Contents</h6>
              <ul>
                <li>
                  <a href="#intro"> Taxes </a>
                </li>
                <li>
                  <a href="#Implications">Holding Company Tax Implications</a>
                </li>
                <li>
                  <a href="#Strategies">Holding Company Tax Strategies</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-lg-4 col-xl-3 order-2 order-lg-1">
            <div class="sticky-side">
              <div class="table-of-content d-none d-lg-flex">
                <h6 class="block-title">Table of Contents</h6>
                <ul>
                  <li>
                    <a href="#intro"> Taxes </a>
                  </li>
                  <li>
                    <a href="#Implications">Holding Company Tax Implications</a>
                  </li>
                  <li>
                    <a href="#Strategies">Holding Company Tax Strategies</a>
                  </li>
                </ul>
              </div>
              <!-- related -->
              {% include "/links/related/holding.html" %}
            </div>
          </div>
          <div class="col-12 col-lg-8 col-xl-9 order-1 order-lg-2">
            <div class="col-12 col-md-9 paragraph" id="intro">
              <p>
                When forming your
                <a href="{{ url_for('holding') }}">Florida holding company</a>,
                keep in mind that some of your formation choices might have tax
                implications for you and your company. A main concern will be
                the structure of your company, whether it is a personal holding
                company (i.e. C-corporation) or an LLC. The IRS has two tests to
                determine if your corporation is a personal holding company: the
                Income Test and the Stock Ownership Test. The Income Test states
                that if at least 60% of a corporation’s adjusted ordinary gross
                income for the tax year is from dividends, interest, rent,
                royalties, and annuities. The Stock Ownership Test states that
                if at any time during the last half tax year five or fewer
                individuals directly or indirectly own more than 50% of the
                corporation’s outstanding stock.
              </p>
            </div>

            <div class="col-12 paragraph" id="Implications">
              <div class="row">
                <div class="col-12 col-md-9">
                  <h3 class="primary-title">
                    Holding Company Tax Implications
                  </h3>

                  <p>
                    Whether you currently hold shares in a company or you are
                    considering forming a holding company, it is important to be
                    familiar with the possible tax implications. For example, if
                    you receive any dividend payments from a company, then there
                    will be taxes tied to those dividends. However, if you form
                    a holding company that then owns your shares in a
                    corporation, dividends paid to your holding company can
                    often times be tax-free.
                  </p>
                  <p>
                    With an LLC, each individual subsidiary files a tax return,
                    then all of the subsidiaries are added together. So, each
                    LLC would file a schedule C, then the losses and gains of
                    each is added up and filed on his personal tax return. In
                    this way, a profit made by one entity can be used to offset
                    a loss recorded by another.
                  </p>
                  <p>
                    Additionally, it is becoming increasing popular for families
                    to utilize holding companies, turning LLCs into holdings to
                    offer personal liability protection for members in the event
                    of a legal judgment or creditor claim. This structure also
                    has the added benefit of pass-through taxation, which allows
                    profits and losses to pass-through to individual members.
                    Pass-through taxation allows members to file income on their
                    personal taxes and not be subject to the double-taxation of
                    corporations.
                  </p>
                  <p>
                    For a C-corporation holding company, owners must file tax
                    returns for both the parent company and the subsidiaries.
                    There is a holding tax levied on C-corporations when at
                    least half of its stock is owned by five for less investors.
                    If you are interested in trying to avoid this personal
                    holding company tax, consider increasing the number of your
                    business owners. If the top five owners of your corporation
                    own less than 50% of its value then this tax would not
                    apply. Gifting stock to relatives or friends may be one way
                    to avoid this.
                  </p>
                  <p>
                    Determining tax implications for your holding company can be
                    a complex matter. Before you form your Florida holding
                    company you will want to consult an attorney or CPA with
                    expertise in this area. Lay out your intentions for the
                    company so that you are certain all state and federal
                    regulations are followed.
                  </p>
                </div>
                <div class="col-12 col-md-3">
                  <img
                    src="{{ url_for('static',filename='images/illustrations/improvement.svg') }}"
                    alt="Holding Company Tax Implications"
                    class="paragraph-img"
                    width="250"
                    height="200"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div class="col-12 paragraph" id="Strategies">
              <div class="row">
                <div class="col-12 col-md-9">
                  <h3 class="primary-title">Holding Company Tax Strategies</h3>

                  <p>
                    <b>Multiple Owners: </b>
                    If you have multiple owners, creating a holding company for
                    each provides greater flexibility. Each of the holding
                    companies then controls dividend payments to each person.
                  </p>
                  <p>
                    <b>Split Income: </b>
                    Since a holding company can be owned by more than one
                    person, dividend payments and any taxes can be divided among
                    owners.
                  </p>
                  <p>
                    <b>Create a Family Trust: </b>
                    Shares of your company can be placed in a family trust,
                    which will benefit both your family and business. You can
                    often distribute dividends tax free to your holding company
                    as a beneficiary.
                  </p>
                  <p>
                    <b> Protect from Creditors: </b>
                    Company profits can be sent to your holding company in the
                    form of dividends, which can then be used by the business in
                    the event that it needs cash. With this method, profits will
                    stay within the business and not go to creditors.
                  </p>
                  <p>
                    <b>Retirement Fund: </b>
                    Assets in your holding company can be classified to
                    represent a form of pension, which can be used once you
                    retire.
                  </p>
                </div>
                <div class="col-12 col-md-3">
                  <img
                    src="{{ url_for('static',filename='images/illustrations/turn-around.svg') }}"
                    alt="Holding Company Tax Strategies"
                    class="paragraph-img"
                    width="250"
                    height="200"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% endblock %}