<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Florida Non Profit Corporation</title>
    <meta
      name="description"
      content="Non-Profit Corporations are highly sought after, but must be governed correctly to enjoy their benefits."
    />

    <!-- Json-LD Breadcrumb -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "https://cindysfloridallc.com/",
              "name": "Form a Florida LLC"
            }
          },
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "https://cindysfloridallc.com/Florida-Corporation",
              "name": "Form a Florida Corporation"
            }
          },
          {
            "@type": "ListItem",
            "position": 3,
            "item": {
              "@id": "https://cindysfloridallc.com/Florida-Corporation/Non-Profit",
              "name": "Florida Non Profit Corporation"
            }
          }
        ]
      }
    </script>
    <!-- Json-LD Breadcrumb end -->

    {% extends "links/master/corp.html" %} {% block content %}

    <header id="main" class="header-promo page-header">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-9 mx-auto">
            <div class="row align-items-center">
              <div class="col-12">
                <div class="breadcrumb">
                  {% include "links/bread/corp.html" %}
                  <div class="breadcrumb-item">
                    <span> Non-Profit </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-7">
                <h1 class="promo-title">Florida Non Profit Corporation</h1>
                <div class="line-break"></div>
                <h6 class="promo-price">$199 - Same Day Filing</h6>
                <a
                  href="https://app.cindysfloridallc.com/v2/intake/service"
                  rel="nofollow"
                  target="_blank"
                  class="btn-order"
                  >Order Now</a
                >
              </div>
              <div class="col-12 col-lg-5 d-none d-lg-block">
                <img
                  src="{{ url_for('static',filename='images/illustrations/checklist.svg') }}"
                  alt="Florida Non Profit Corporation"
                  class="promo-cover"
                  width="280"
                  height="247"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="table-of-content d-lg-none">
              <h6 class="block-title">Table of Contents</h6>
              <ul>
                <li>
                  <a href="#intro">Non-Profit</a>
                </li>
                <li>
                  <a href="#Starting">Starting Up</a>
                </li>
                <li>
                  <a href="#Gaining">Gaining your 501(c)(3) Status</a>
                </li>
                <li>
                  <a href="#Tax">Who Takes the Tax Deduction?</a>
                </li>
                <li>
                  <a href="#Long-Term">Long-Term Work</a>
                </li>
                <li>
                  <a href="#Final">Final Thoughts</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-lg-4 col-xl-3 order-2 order-lg-1">
            <div class="sticky-side">
              <div class="table-of-content d-none d-lg-flex">
                <h6 class="block-title">Table of Contents</h6>
                <ul>
                  <li>
                    <a href="#intro">Non-Profit</a>
                  </li>
                  <li>
                    <a href="#Starting">Starting Up</a>
                  </li>
                  <li>
                    <a href="#Gaining">Gaining your 501(c)(3) Status</a>
                  </li>
                  <li>
                    <a href="#Tax">Who Takes the Tax Deduction?</a>
                  </li>
                  <li>
                    <a href="#Long-Term">Long-Term Work</a>
                  </li>
                  <li>
                    <a href="#Final">Final Thoughts</a>
                  </li>
                </ul>
              </div>
              <!-- related -->
              {% include "/links/related/corp.html" %}
            </div>
          </div>
          <div class="col-12 col-lg-8 col-xl-9 order-1 order-lg-2">
            <div class="col-12 col-md-9 paragraph" id="intro">
              <p>
                Starting a non-profit can be a difficult company to begin. Not
                only do you (often) have to prove that you are benefiting the
                public in some manner, you'll also be liable for a large sum of
                money once donors hear you're doing good. That means your
                <a href="{{ url_for('corp') }}">Florida Corporation</a> has to
                continue to do good, no matter how difficult that may become.
              </p>
              <p>
                If this hasn't scared you away yet, you may be the perfect new
                director for a non-profit company in your area. Let's take a
                look at some the groundwork you'll need to do.
              </p>
            </div>

            <div class="col-12 paragraph" id="Starting">
              <div class="row">
                <div class="col-12 col-md-9">
                  <h2 class="primary-title">Starting Up</h2>

                  <p>
                    To begin with, you'll need to start an LLC or a corporation
                    (most non-profits start as LLCs due to low start up costs
                    and the availability of becoming an LLC. You can always grow
                    into a corporation if you desire to). Once you've decided on
                    this, it's time to start pursuing the rest of your
                    documentation.
                  </p>
                  <p>
                    Depending on the exact details of your non-profit-to-be, you
                    may have more documentation that needs to be worked with,
                    For instance, a non-profit with the sole purpose of sending
                    children to Disney World may have to sign contracts with
                    Disney World for the express privilege of raising funds to
                    send the kids on the trip, etc. We strongly recommend
                    attaching a lawyer to your cause, whatever it is, to assist
                    you with the clarity of your functions and needs to get you
                    off on the best foot possible.
                  </p>
                </div>
                <div class="col-12 col-md-3">
                  <img
                    src="{{ url_for('static',filename='images/illustrations/time.svg') }}"
                    alt="Starting Up"
                    class="paragraph-img"
                    width="250"
                    height="200"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div class="col-12 col-md-9 paragraph" id="Gaining">
              <h2 class="primary-title">Gaining your 501(c)(3) Status</h2>
              <p>
                To gain your tax-exempt status, you'll need to communicate with
                the IRS. This is not something that your registered agent will
                do for you. Applications can take anywhere from six months and
                beyond. Becoming a corporation or an LLC does not change this in
                the slightest.
              </p>
              <p>
                At this point in your forming, it is best to do deeds rather
                than look for donations. The tax verification status at this
                point is complicated and, while it is doable, large sums of
                money can be more of a hindrance than anything during this time.
                If possible, ask that donations of items or non-liquid assets be
                donated instead.
              </p>
              <p>
                For instance, a food pantry with a pending tax exempt status
                might ask for donations of canned goods and produce to give away
                to the hungry rather than several thousands of dollars. This may
                make it difficult to keep the light on, but this is a budgeting
                issue. Keep someone money-minded on the staff and you should
                make it through.
              </p>
            </div>

            <div class="col-12 paragraph" id="Tax">
              <div class="row">
                <div class="col-12 col-md-9">
                  <h2 class="primary-title">Who Takes the Tax Deduction?</h2>

                  <p>
                    Before you have a tax-exempt status, you will function as
                    any other company and donations must be counted toward your
                    income. This also means that your donations will not be
                    tax-deductible for your donators or you. Again, as above,
                    this is why the best donation during this time is usable
                    items. Someone using their donation to pay your electric
                    bill may not be counted as income, but someone donating
                    $5,000 to purchase food for the hungry will, indeed, be
                    income that the organization then must figure out how to
                    tax.
                  </p>
                  <p>
                    After you have tax-exempt status, it is easy enough to
                    release a receipt with donations and offer tax-deductible
                    paperwork for donations which are large enough to apply to
                    this. Do make certain that these documents are tracked and
                    noted. Anyone who is audited may come asking for a copy of
                    their paperwork from you in the future.
                  </p>
                </div>
                <div class="col-12 col-md-3">
                  <img
                    src="{{ url_for('static',filename='images/illustrations/warning.svg') }}"
                    alt="Starting Up"
                    class="paragraph-img"
                    width="250"
                    height="200"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div class="col-12 col-md-9 paragraph" id="Long-Term">
              <h2 class="primary-title">Long-Term Work</h2>
              <p>
                Many non-profit businesses become corporations in the long-term
                so they can enjoy the perks of a larger staff and a more
                advanced outreach system. Corporations are simply easier to get
                a toe in overseas when they begin to expand.
              </p>
              <p>
                If you intend to keep your feet firmly planed on US soil
                throughout the foreseeable future, we can only encourage you to
                incorporate from an LLC if your financial advisers also
                encourage the same transformation. Indeed, many non-profit
                companies go their entire lifespan without ever incorporating or
                worrying about the process.
              </p>
            </div>

            <div class="col-12 col-md-9 paragraph" id="Final">
              <h2 class="primary-title">Final Thoughts</h2>
              <p>
                While it is difficult to begin a non-profit company, it is often
                incredibly rewarding. Not only are you doing good, but you are
                also assisting in helping others do good, as well.
              </p>
              <p>
                A non-profit entity is an alternative form of taxation, much as
                a
                <a href="{{ url_for('corp') }}">C-Corp</a> or
                <a href="{{ url_for('corp_taxation') }}">S-Corp</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% endblock %}