<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Florida S-Corporation | Difference from C-Corp</title>
    <meta
      name="description"
      content="A Corporation, by default, suffers from double taxation. However, a sub-chapter S election helps to avoid this by opting for pass-through taxation."
    />

    <!-- Json-LD Breadcrumb -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "https://cindysfloridallc.com/",
              "name": "Form a Florida LLC"
            }
          },
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "https://cindysfloridallc.com/Florida-Corporation",
              "name": "Form a Florida Corporation"
            }
          },
          {
            "@type": "ListItem",
            "position": 3,
            "item": {
              "@id": "https://cindysfloridallc.com/Florida-Corporation/S-Corp-Taxation",
              "name": "Florida S-Corporation"
            }
          }
        ]
      }
    </script>
    <!-- Json-LD Breadcrumb end -->

    {% extends "links/master/corp.html" %} {% block content %}

    <header id="main" class="header-promo page-header">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-9 mx-auto">
            <div class="row align-items-center">
              <div class="col-12">
                <div class="breadcrumb">
                  {% include "links/bread/corp.html" %}
                  <div class="breadcrumb-item">
                    <span> S-Corp Taxation </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-7">
                <h1 class="promo-title">Florida S-Corporation</h1>
                <div class="line-break"></div>
                <h6 class="promo-price">$199 - Same Day Filing</h6>
                <a
                  href="https://app.cindysfloridallc.com/v2/intake/service"
                  rel="nofollow"
                  target="_blank"
                  class="btn-order"
                  >Order Now</a
                >
              </div>
              <div class="col-12 col-lg-5 d-none d-lg-block">
                <img
                  src="{{ url_for('static',filename='images/illustrations/celebrate.svg') }}"
                  alt="Florida S-Corporation"
                  class="promo-cover"
                  width="282"
                  height="260"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="table-of-content d-lg-none">
              <h6 class="block-title">Table of Contents</h6>
              <ul>
                <li>
                  <a href="#intro">S-Corp Taxation</a>
                </li>
                <li>
                  <a href="#What">What is an S-Corp?</a>
                </li>
                <li>
                  <a href="#Benefit"
                    >Will an S-Corp Benefit Me or My Business?</a
                  >
                </li>
                <li>
                  <a href="#Self-Employment"
                    >How does this Differ from 1099 Self-Employment?</a
                  >
                </li>
                <li>
                  <a href="#Difference">Difference from Florida Corporation</a>
                </li>
                <li>
                  <a href="#Final">Final Thoughts</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-lg-4 col-xl-3 order-2 order-lg-1">
            <div class="sticky-side">
              <div class="table-of-content d-none d-lg-flex">
                <h6 class="block-title">Table of Contents</h6>
                <ul>
                  <li>
                    <a href="#intro">S-Corp Taxation</a>
                  </li>
                  <li>
                    <a href="#What">What is an S-Corp?</a>
                  </li>
                  <li>
                    <a href="#Benefit"
                      >Will an S-Corp Benefit Me or My Business?</a
                    >
                  </li>
                  <li>
                    <a href="#Self-Employment"
                      >How does this Differ from 1099 Self-Employment?</a
                    >
                  </li>
                  <li>
                    <a href="#Difference"
                      >Difference from Florida Corporation</a
                    >
                  </li>
                  <li>
                    <a href="#Final">Final Thoughts</a>
                  </li>
                </ul>
              </div>
              <!-- related -->
              {% include "/links/related/corp.html" %}
            </div>
          </div>
          <div class="col-12 col-lg-8 col-xl-9 order-1 order-lg-2">
            <div class="col-12 col-md-9 paragraph" id="intro">
              <p>
                Are you a legal citizen and permanent resident of the United
                States? Congratulations. It's likely that your new
                <a href="{{ url_for('corp') }}">Florida Corporation</a>
                can file as an S-Corp rather than a C-Corp. This will not only
                make taxes a great deal easier on you, but you'll find that this
                structure is very familiar. In fact, it's quite a bit like your
                average tax filing session now.
              </p>
              <p>
                Never heard of an S-Corp? Have you heard of a C-Corp? No? Let's
                get started. You've got a lot to learn.
              </p>
            </div>

            <div class="col-12 paragraph" id="What">
              <div class="row">
                <div class="col-12 col-md-9">
                  <h2 class="primary-title">What is an S-Corp?</h2>

                  <p>
                    An S-Corp is essentially a way to decide how you're going to
                    pay your taxes and how you will be taxed by the IRS. In many
                    circumstances, company losses are used as a barrier to
                    prevent those involved with the company from being heavily
                    taxed. We'll talk about how this can protect you from
                    enormous self-employment taxes in a moment, but it is a
                    wonderful way to cut your tax rate if you are a
                    self-employed individual (if you can afford the start-up
                    costs).
                  </p>
                  <p>
                    Many S-Corps are used to prevent heavy taxation on small
                    businesses and sole proprietors. This is completely legal
                    and very, very common. Most self-employed (or small
                    business) profession, it's worth looking into.
                  </p>
                </div>
                <div class="col-12 col-md-3">
                  <img
                    src="{{ url_for('static',filename='images/illustrations/talking.svg') }}"
                    alt="What is an S-Corp?"
                    class="paragraph-img"
                    width="250"
                    height="150"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div class="col-12 col-md-9 paragraph" id="Benefit">
              <h2 class="primary-title">
                Will an S-Corp Benefit Me or My Business?
              </h2>
              <p>
                The answer strongly depends on you and and your business. As
                mentioned above, if you're raking in pennies rather than dollar
                bills, it may not yet be worth the endeavor. Keep growing, keep
                building, and as you approach a taxable income, it's time to
                look into S-Corps.
              </p>
              <p>
                When dealing with your personal finances, we recommend speaking
                with a financial adviser or a CPA before you make any definite
                decisions. They will be up to date on your local and federal tax
                laws, making certain that this is the best way for you to move
                forward.
              </p>
            </div>

            <div class="col-12 paragraph" id="Self-Employment">
              <div class="row">
                <div class="col-12 col-md-9">
                  <h2 class="primary-title">
                    How does this Differ from 1099 Self-Employment?
                  </h2>

                  <p>
                    A 1099 or any self-employment taxation form (there are a few
                    others out there, but 1099s are the most common) or
                    "contractor" taxation form often leaves you with a great
                    deal of taxes to backpay. you may also be required to file
                    quarterly, even if you aren't paying your dues at that
                    moment. Self-employment taxation starts somewhere between 15
                    and 20% d
                  </p>
                  <p>
                    A 1099 or any self-employment taxation form (there are a few
                    others out there, but 1099s are the most common) or
                    "contractor" taxation form often leaves you with a great
                    deal of taxes to backpay. You may also be required to file
                    quarterly, even if you aren't paying your dues at that
                    moment. Self-employment taxation starts somewhere between 15
                    and 20% (depending on where you live) and goes up from
                    there, often at a steep curve.
                  </p>
                  <p>
                    This isn't because the IRS wants you to remain a working
                    drone in a larger company. Far from it. They love it when
                    individuals strike out on their own. However, there is
                    simply more to individually filing and the percentage
                    typically makes itself apparent.
                  </p>
                  <p>
                    Of course, this is where an S-Corp can help you. It works
                    sort of like a tax filter, allowing the company to take the
                    brunt of the taxes rather than your pocketbook. In almost
                    all cases, this leaves you with more money to invest or
                    spend as so desired, often on things that you can claim as
                    expenses for the next fiscal year and save even more off
                    your taxes.
                  </p>
                </div>
                <div class="col-12 col-md-3">
                  <img
                    src="{{ url_for('static',filename='images/illustrations/contract.svg') }}"
                    alt="How does this Differ from 1099 Self-Employment?"
                    class="paragraph-img"
                    width="250"
                    height="250"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div class="col-12 col-md-9 paragraph" id="Difference">
              <h2 class="primary-title">Difference from Florida Corporation</h2>
              <p>
                With a standard
                <a href="{{ url_for('corp') }}">Florida Corporation</a>, the
                money is taxed twice over. First, it is taxed as the business's
                income. Second, it is taxed as the investor or employee's
                income. Though this is perfectly legal, it can strangle smaller
                businesses who will miss that extra 10+% off the top.
              </p>
            </div>

            <div class="col-12 col-md-9 paragraph" id="Final">
              <h2 class="primary-title">Final Thoughts</h2>
              <p>
                An S-Corp isn't for everyone, but for those that it is for it
                can be an incredible tool. Bring your tax paperwork from last
                year when you speak to a CPA or a financial advisor so that they
                can double-check your math and do some of their own. This will
                allow them to discover any problems with your accounting, as
                well as help to tell you whether or not an S-Corp is right for
                you. It's important to file any necessary taxes, even if you
                have
                <a href="{{ url_for('fl_dissolve') }}"
                  >dissolved the Florid Corporation</a
                >.
              </p>
              <p>
                Indeed, some looking into S-Corps may actually benefit further
                from becoming a <a href="{{ url_for('corp') }}">C-Corp</a>. Want
                to know more?
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% endblock %}