<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Florida Articles of Incorporation</title>
    <meta
      name="description"
      content="To register with Sunbiz your Florida Corporation must first file Articles of Incorporation."
    />

    <!-- Json-LD Breadcrumb -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "https://cindysfloridallc.com/",
              "name": "Form a Florida LLC"
            }
          },
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "https://cindysfloridallc.com/Florida-Corporation",
              "name": "Form a Florida Corporation"
            }
          },
          {
            "@type": "ListItem",
            "position": 3,
            "item": {
              "@id": "https://cindysfloridallc.com/Florida-Corporation/Articles-of-Incorporation",
              "name": "Florida Articles of Incorporation"
            }
          }
        ]
      }
    </script>
    <!-- Json-LD Breadcrumb end -->

    {% extends "links/master/corp.html" %} {% block content %}

    <header id="main" class="header-promo page-header">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-9 mx-auto">
            <div class="row align-items-center">
              <div class="col-12">
                <div class="breadcrumb">
                  {% include "links/bread/corp.html" %}
                  <div class="breadcrumb-item">
                    <span> Articles of Incorporation </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-7">
                <h1 class="promo-title">Florida Articles of Incorporation</h1>
                <div class="line-break"></div>
                <h6 class="promo-price">$199 - Same Day Filing</h6>
                <a
                  href="https://app.cindysfloridallc.com/v2/intake/service"
                  rel="nofollow"
                  target="_blank"
                  class="btn-order"
                  >Order Now</a
                >
              </div>
              <div class="col-12 col-lg-5 d-none d-lg-block">
                <img
                  src="{{ url_for('static',filename='images/illustrations/talking.svg') }}"
                  alt="Florida Articles of Incorporation"
                  class="promo-cover"
                  width="400"
                  height="234"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="table-of-content d-lg-none">
              <h6 class="block-title">Table of Contents</h6>
              <ul>
                <li>
                  <a href="#intro">Articles of Incorporation</a>
                </li>
                <li>
                  <a href="#What">What are your Article of Incorporation?</a>
                </li>
                <li>
                  <a href="#Filing">Filing Articles of Incorporation</a>
                </li>
                <li>
                  <a href="#Documents">Extra Documents You May Need</a>
                </li>
                <li>
                  <a href="#Final">Final Thoughts</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-lg-4 col-xl-3 order-2 order-lg-1">
            <div class="sticky-side">
              <div class="table-of-content d-none d-lg-flex">
                <h6 class="block-title">Table of Contents</h6>
                <ul>
                  <li>
                    <a href="#intro">Articles of Incorporation</a>
                  </li>
                  <li>
                    <a href="#What">What are your Article of Incorporation?</a>
                  </li>
                  <li>
                    <a href="#Filing">Filing Articles of Incorporation</a>
                  </li>
                  <li>
                    <a href="#Documents">Extra Documents You May Need</a>
                  </li>
                  <li>
                    <a href="#Final">Final Thoughts</a>
                  </li>
                </ul>
              </div>
              <!-- related -->
              {% include "/links/related/corp.html" %}
            </div>
          </div>
          <div class="col-12 col-lg-8 col-xl-9 order-1 order-lg-2">
            <div class="col-12 col-md-9 paragraph" id="intro">
              <p>
                As you begin your business venture, you're faced with several
                unknowns. One of these are your Articles of incorporation. These
                Articles must be filed to start your
                <a href="{{ url_for('corp') }}">Florida Corporation</a>. They
                determined your company's name, its purpose, and so much more.
                This public document will assist others in learning about your
                business, help the government understand how you function, deal
                with your taxation, and many other issues.
              </p>
              <p>
                Let's take a look at what Articles of incorporation are and how
                you should file them to get your business started today.
              </p>

              <h4 class="secondary-title" id="What">
                What are your Article of Incorporation?
              </h4>
              <p>
                Though they may sound like a great deal of paperwork, in truth,
                it's very little to put together. You'll need your registered
                corporation name (and any names you've registered that it will
                go by, including trademarked handles, this does not include
                taglines) to begin with. Additionally, you'll need your
                registered agent's address and information. Every corporation
                must have a registered agent. Essentially, this person acts as a
                checker for your information and receives information for the
                corporation, too. Some registered agents may be part of an
                agency but this is not a requirement.
              </p>
              <p>
                Your information, or that of the registered agency, must be in
                line with the ownership information as well. Ideally, it should
                be your information. However, if you intend to make this an "off
                the books" sort of company (one you may not want to be linked
                back to in the future due to whatever career choices or
                relationships are involved), you can go ahead and use the
                registered agent.
              </p>
              <p>
                Please note, a registered agent may charge as little or as much
                as they desire for their services. There is no state-wide number
                that is significant enough to quote for this purpose of this
                article, with cities often costing more than more rural areas.
                If your nearest registered agent is out of your price range, we
                recommend shopping around to local, smaller cities and towns in
                your area. It is very likely that, should more expensive ones in
                your particular city limits. Per out typical recommendation: ask
                your city tax office for further information and the exact laws
                of your city.
              </p>
              <p>
                Your main place of business must also be listed. If this is your
                private residence (as such as in case of an author, for
                instance), you may want to find a "placeholder" address. Some
                businesses that are single-owner, single-employee that wish to
                remain anonymous rent storage lockers for this exact reason and
                simply give the address of the storage locker, using it for all
                business-related storage. While we don't recommend this since it
                is toeing a legality line, it is commonly done.
              </p>

              <h4 class="secondary-title" id="Filing">
                Filing Articles of Incorporation
              </h4>
              <p>
                There are a few options when filing, though we most recommend
                simply mailing your documents in. We realize that this commonly
                referred to as "snail mail", but it is the most widely accepted
                method and the easiest to track. Simply attach a tracking number
                to the documents and they're on their way.
              </p>
              <p>
                Processing fees may differ slightly based on country. A quick
                call to your country tax office will tell you if they have any
                additional fees beyond Florida's state $35 (as of this writing)
                charge. Processing times vary as well and are directly linked to
                just how busy the office is at that time. The average wait time,
                again, as of this writing, is anywhere from 3 days to 2 weeks.
                We recommend filing your articles at least 1 month in advance to
                avoid any delays.
              </p>
              <p>
                Also, when filling out your Articles of Incorporation, you must
                list the registered agent’s information, such as their name and
                physical address. With this in mind, make sure the registered
                agent is comfortable with this information being public. If not,
                you may look to enlisting the services of an attorney or
                formation service to serve in this capacity.
              </p>
              <p>
                There is an additional $35 fee associated with designating your
                registered agent. Together with the articles of incorporation
                fee, your total filing fee will be $70.
              </p>

              <h4 class="secondary-title" id="Documents">
                Extra Documents You May Need
              </h4>
              <p>
                This strongly depends on the exact details of your personal
                business. Those who intend to start a restaurant will require
                food permits and, possibly, an alcohol license. They may need
                special permissions for traffic laws (or even have local ones
                amended), changes for the new facility in terms of zoning, or a
                wide variety of other work prior to submitting their corporation
                paperwork.
              </p>

              <h4 class="secondary-title" id="Final">Final Thoughts</h4>
              <p>
                Though Articles of Incorporation are the easy and fast way to
                get your business moving, it's likely that they won't be all you
                need. For example, filing
                <a href="{{ url_for('corp_taxation') }}">S-Corp Tax election</a>
                requires an additional form with the IRS. They're the toe in the
                door of business, the absolute beginning of your
                <a href="{{ url_for('corp') }}">corporation</a> as it stands. no
                matter what business you're building, all LLCs need articles to
                be finished before they start the rest of their planning or open
                their doors. Get your Articles of Incorporation in order and the
                work will soon be yours.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% endblock %}