<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dissolving a Florida Corporation</title>
    <meta
      name="description"
      content="Follow our guide to determine how to dissolve your Florida Corporation. We make it easy!"
    />

    <!-- Json-LD Breadcrumb -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "https://cindysfloridallc.com/",
              "name": "Form a Florida LLC"
            }
          },
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "https://cindysfloridallc.com/Florida-Corporation",
              "name": "Form a Florida Corporation"
            }
          },
          {
            "@type": "ListItem",
            "position": 3,
            "item": {
              "@id": "https://cindysfloridallc.com/Florida-Corporation/How-to-Dissolve-a-FL-Corporation",
              "name": "Dissolving a Florida Corporation"
            }
          }
        ]
      }
    </script>
    <!-- Json-LD Breadcrumb end -->

    {% extends "links/master/corp.html" %} {% block content %}

    <header id="main" class="header-promo page-header">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-9 mx-auto">
            <div class="row align-items-center">
              <div class="col-12">
                <div class="breadcrumb">
                  {% include "links/bread/corp.html" %}
                  <div class="breadcrumb-item">
                    <span> Dissolve a Corporation </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-7">
                <h1 class="promo-title">Dissolving a Florida Corporation</h1>
                <div class="line-break"></div>
                <h6 class="promo-price">$199 - Same Day Filing</h6>
                <a
                  href="https://app.cindysfloridallc.com/v2/intake/service"
                  rel="nofollow"
                  target="_blank"
                  class="btn-order"
                  >Order Now</a
                >
              </div>
              <div class="col-12 col-lg-5 d-none d-lg-block">
                <img
                  src="{{ url_for('static',filename='images/illustrations/turn-around.svg') }}"
                  alt="Dissolving a Florida Corporation"
                  class="promo-cover"
                  width="250"
                  height="286"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="table-of-content d-lg-none">
              <h6 class="block-title">Table of Contents</h6>
              <ul>
                <li>
                  <a href="#intro">Dissolve a Corporation</a>
                </li>
                <li>
                  <a href="#Differences"
                    >Differences between Corporation and LLC Dissolving</a
                  >
                </li>
                <li>
                  <a href="#Fees&Forms">Fees and Forms</a>
                </li>
                <li>
                  <a href="#End">In the End</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-lg-4 col-xl-3 order-2 order-lg-1">
            <div class="sticky-side">
              <div class="table-of-content d-none d-lg-flex">
                <h6 class="block-title">Table of Contents</h6>
                <ul>
                  <li>
                    <a href="#intro">Dissolve a Corporation</a>
                  </li>
                  <li>
                    <a href="#Differences"
                      >Differences between Corporation and LLC Dissolving</a
                    >
                  </li>
                  <li>
                    <a href="#Fees&Forms">Fees and Forms</a>
                  </li>
                  <li>
                    <a href="#End">In the End</a>
                  </li>
                </ul>
              </div>
              <!-- related -->
              {% include "/links/related/corp.html" %}
            </div>
          </div>
          <div class="col-12 col-lg-8 col-xl-9 order-1 order-lg-2">
            <div class="col-12 col-md-9 paragraph" id="intro">
              <p>
                Perhaps you're simply tired of business or you're considering
                another avenue. Maybe you've found another passion and it just
                doesn't align with the business that you've already built.
                <a href="{{ url_for('corp') }}">Florida Corporations</a> come
                and go all of the time, often appearing and disappearing (on
                small scale corporations) within a few years. Business changes
                with every passing day, so this should be of little surprise to
                anyone who finds themselves in the business world.
              </p>
              <p>
                No matter what your reason, we're here to help make this as
                painless as possible. Thankfully, Florida makes the process
                sweet and simple. Let's dive on in.
              </p>
            </div>

            <div class="col-12 paragraph" id="Differences">
              <div class="row">
                <div class="col-12 col-md-9">
                  <h2 class="primary-title">
                    Differences between Corporation and LLC Dissolving
                  </h2>

                  <p>
                    The largest differences are in semantics. We'll get to fees
                    and forms, but there is little difference between them.
                    Florida does not require you to have a tax clearance to
                    dissolve your business, as many states do. However, we do
                    recommend that you file your tax clearance forms as soon as
                    the last financial documentation is ready. It makes the
                    entire process far simpler and assures that you won't run
                    into issues the next time the tax man comes to call.
                  </p>
                  <p>
                    With LLC dissolving, the business name is held by the State
                    of Florida for 1 year. That is the same with corporate
                    dissolution as well, with the caveat that corporate entities
                    may simply discard their request for dissolving within 120
                    days of receiving an answer on their submission. This means
                    that if you are able or willing (or both) to take up the
                    reins again within a few months, you can do so with little
                    penalty other than time.
                  </p>
                  <p>
                    This is also a wonderful way to take a little time to step
                    back, restructure, and reconsider the current path of your
                    company. It can give a failing corporation time to seek help
                    or even to look for investors. Yes, you can use dissolving
                    as a way to put your business world on hold. Corporations do
                    it all the time, though we recommend a lawyer's advice if
                    you intend to do it this way and do not advise corporations
                    to do this.
                  </p>
                </div>
                <div class="col-12 col-md-3">
                  <img
                    src="{{ url_for('static',filename='images/illustrations/warning.svg') }}"
                    alt="Differences between Corporation and LLC Dissolving"
                    class="paragraph-img"
                    width="250"
                    height="200"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div class="col-12 paragraph" id="Fees&Forms">
              <div class="row">
                <div class="col-12 col-md-9">
                  <h2 class="primary-title">Fees and Forms</h2>

                  <p>
                    To simply dissolve your corporation, your fee is $35 plus
                    the filing of the dissolution forms. You'll need to file for
                    tax clearance and finish up your financial filings overall
                    to be able to close your books. Once you have been contacted
                    and told that your business has been dissolved, you need
                    only finish the material dissolution: liquidizing your
                    assets and so forth.
                  </p>
                  <p>
                    However, if you decide to disappear, be aware that Florida
                    has steep fees for those who do not dissolve their
                    corporation. Your annual report is due on May 1st to the
                    tune of $150 for the filing fee. If you are late, these fees
                    can increase to a near $1,000 fee total by May 2nd. Your
                    reinstatement fees are nearly half of this.
                  </p>
                  <p>
                    Though we realize that it may seem easier to get up and walk
                    away from a business, especially if the corporation is
                    failing or combative, it is much better to file your
                    dissolution paperwork. Again, you can spend the next few
                    months considering if you desire to restructure or if you
                    want to let sleeping dogs lie. And we realize that this
                    decision is entirely up to you, but we do want to remind you
                    that a mere $35 fee to dissolve your business is much
                    preferable to a $600 reinstatement fee, a $300 late fee, and
                    a $150 filing fee for your annual reports.
                  </p>
                </div>
                <div class="col-12 col-md-3">
                  <img
                    src="{{ url_for('static',filename='images/illustrations/talking.svg') }}"
                    alt="Fees and Forms"
                    class="paragraph-img"
                    width="250"
                    height="200"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div class="col-12 col-md-9 paragraph" id="End">
              <h2 class="primary-title">In the End</h2>
              <p>
                Take care of yourself and any intellectual property maintained
                by the corporation. Place your copyrights and your patents
                before you begin dissolution. Remember, if the company owns it
                then the company is the one who has their hands on it; not you.
                This means even after dissolution; you will not own those rights
                unless stated throughout a contract.
              </p>
              <p>
                Protect your interests when you fold your
                <a href="{{ url_for('corp') }}">Corporation</a> if it is
                possible to do so. We recommend speaking with a copyright lawyer
                as soon as you give notification of intention to dissolve the
                company. It is, after all, possible for others to pick up your
                company name and essentially steal your identity if your IPs are
                unresolved or still waiting to be patented by a person; not just
                the company they intend to create under your old name.
              </p>
              <p>
                Several issues like this have popped up throughout the years,
                especially in the Central Florida area which is so rife with
                IPs. Do what is best for yours, and note the process is the same
                when dissolving a
                <a href="{{ url_for('corp_taxation') }}">Florida S-Corp</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% endblock %}