<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Form a Florida Corporation - Incorporate Today</title>
    <meta
      name="description"
      content="Allow us the pleasure of incorporating your Corporation in Florida. We will file your Articles and provide all supporting documents."
    />

    <!-- Json-LD Breadcrumb -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "https://cindysfloridallc.com/",
              "name": "Form a Florida LLC"
            }
          },
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "https://cindysfloridallc.com/Florida-Corporation",
              "name": "Form a Florida Corporation"
            }
          }
        ]
      }
    </script>
    <!-- Json-LD Breadcrumb end -->

    {% extends "links/master/corp.html" %} {% block content %}
    <header id="main" class="header-promo page-header">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-9 mx-auto">
            <div class="row align-items-center">
              <div class="col-12">
                <div class="breadcrumb">
                  {% include "links/bread/index.html" %}
                  <div class="breadcrumb-item">
                    <span> Florida Corporation </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-7">
                <h1 class="promo-title">Form a Florida Corporation</h1>
                <div class="line-break"></div>
                <h6 class="promo-price">$199 - Same Day Filing</h6>
                <a
                  href="https://app.cindysfloridallc.com/v2/intake/service"
                  rel="nofollow"
                  target="_blank"
                  class="btn-order"
                  >Order Now</a
                >
              </div>
              <div class="col-12 col-lg-5 d-none d-lg-block">
                <img
                  src="{{ url_for('static',filename='images/illustrations/warning.svg') }}"
                  alt="Form a Florida Corporation"
                  class="promo-cover"
                  width="300"
                  height="252"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="table-of-content d-lg-none">
              <h6 class="block-title">Table of Contents</h6>
              <ul>
                <li>
                  <a href="#intro">Florida Corporation</a>
                </li>
                <li>
                  <a href="#How-to">How to Incorporate in Florida</a>
                </li>
                <li>
                  <a href="#S-Corp">Florida S Corporation</a>
                </li>
                <li>
                  <a href="#Dissolving">Dissolving a Florida Corporation</a>
                </li>
                <li>
                  <a href="#Renewals">Corporate Annual Renewals</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-lg-4 col-xl-3 order-2 order-lg-1">
            <div class="sticky-side">
              <div class="table-of-content d-none d-lg-flex">
                <h6 class="block-title">Table of Contents</h6>
                <ul>
                  <li>
                    <a href="#intro">Florida Corporation</a>
                  </li>
                  <li>
                    <a href="#How-to">How to Incorporate in Florida</a>
                  </li>
                  <li>
                    <a href="#S-Corp">Florida S Corporation</a>
                  </li>
                  <li>
                    <a href="#Dissolving">Dissolving a Florida Corporation</a>
                  </li>
                  <li>
                    <a href="#Renewals">Corporate Annual Renewals</a>
                  </li>
                </ul>
              </div>
              <!-- related -->
              {% include "/links/related/corp.html" %}
            </div>
          </div>
          <div class="col-12 col-lg-8 col-xl-9 order-1 order-lg-2">
            <div class="col-12 col-md-9 paragraph" id="intro">
              <p>
                A corporation is a legal entity formed in accordance with state
                law and separate from its owners. It is owned by shareholders
                that have purchased shares of the corporation’s stock. The
                shareholders elect a board of directors, who in turn oversee the
                entity’s operations and officers.
              </p>
              <p>
                Incorporation offers several distinct advantages, including the
                option to elect
                <a href="{{ url_for('corp_taxation') }}">S-Corp taxation</a>,
                but are more complicated to operate than a
                <a href="{{ url_for('index') }}">Florida LLC</a>:
              </p>

              <ul class="ps-3">
                <li>
                  <b>Secure Assets: </b> Corporations offer limited liability
                  protection, which secures the owner assets from any business
                  debts. Additionally, corporations often times gain tax
                  advantages on things like insurance premiums and other tax
                  write-offs.
                </li>
                <li>
                  <b> Reinvestment Possibilities: </b>
                  Corporations have the ability to reinvest profits back into
                  their companies, which fuels growth and research, or pay off
                  company debts. Also, corporations have the unique means of
                  raising capital through selling stock, which is attractive to
                  investors and banks.
                </li>
                <li>
                  <b> Greater Credibility and Prestige: </b>
                  Corporations provide a trusted administrative structure with a
                  long history of success. For this reason, incorporating
                  instantly gives businesses a leg-up on competition by
                  promoting a business structure associated with longevity and
                  stability.
                </li>
              </ul>
            </div>

            <div class="col-12 paragraph" id="How-to">
              <div class="row">
                <div class="col-12 col-md-9">
                  <h2 class="primary-title">How to Incorporate in Florida:</h2>

                  <h4 class="secondary-title">Articles of Incorporation</h4>
                  <p>
                    Filing Articles of Incorporation for your business is the
                    first step. This document lists some of your corporation’s
                    basic information. This will include the name of your
                    corporation, which must be unique from other Florida
                    corporations. Additionally, these articles require you list
                    the information of your corporation’s registered agent.
                  </p>
                  <p>
                    Florida has a $35 filing fee for Articles of Incorporation.
                    You can complete the filing online at the Department of
                    Corporations site, by mail, fax, or hand delivery. If you
                    choose to mail your articles, the usual processing time is
                    one week. However, submitting your articles online will take
                    no longer than two days.
                  </p>

                  <h4 class="secondary-title">Registered Agent</h4>
                  <p>
                    Designating a registered agent for your corporation is the
                    second step. Make sure the person or company you designate
                    to serve as your registered agent is able to complete the
                    necessary role requirements. Some of these main roles are:
                  </p>
                  <ul class="list-group">
                    <li>
                      Receiving official documents on behalf of the company.
                    </li>
                    <li>
                      Maintaining regular business hours at their designated
                      address.
                    </li>
                    <li>
                      Informing the business of any important notifications or
                      legal notices.
                    </li>
                  </ul>
                  <p>
                    Also, when filling out your Articles of Incorporation, you
                    must list the registered agent’s information, such as their
                    name and physical address. With this in mind, make sure the
                    registered agent is comfortable with this information being
                    public. If not, you may look to enlisting the services of an
                    attorney or formation service to serve in this capacity.
                  </p>
                  <p>
                    There is an additional $35 fee associated with designating
                    your registered agent. Together with the articles of
                    incorporation fee, your total filing fee will be $70.
                  </p>
                </div>
                <div class="col-12 col-md-3">
                  <img
                    src="{{ url_for('static',filename='images/illustrations/improvement.svg') }}"
                    alt="How to Incorporate in Florida"
                    class="paragraph-img"
                    width="250"
                    height="200"
                    loading="lazy"
                  />
                </div>
                <div class="col-12 col-md-9">
                  <h4 class="secondary-title">Corporate Bylaws</h4>

                  <p>
                    Writing your corporation’s bylaws is the third step. Your
                    bylaws serve as the rules of your corporation. You can use
                    your bylaws as an important organizational tool, outlining
                    the duties of different roles within the company and how
                    certain operations are to function.
                  </p>

                  <p>
                    While corporate bylaws are not actually essential to
                    complete the incorporation process, they do exhibit good
                    practice by your company, as well as smart leadership. Your
                    corporate bylaws will outline how to run the company and the
                    responsibilities of its ownership. Deciding to forgo this
                    process will leave your company vulnerable to organizational
                    and administrative problems.
                  </p>

                  <h4 class="secondary-title">Authorize Stock</h4>
                  <p>
                    Authorizing shares of stock to determine company ownership
                    is the fourth step. This is accomplished in your Articles of
                    Incorporation. There are two classes of stock that you can
                    choose to authorize: Preferred Stock and Common Stock.
                    Typically, corporations only have one class of common stock,
                    which offers basic ownership and voting rights. In some
                    cases, a corporation also offers preferred stock, which
                    carries special guarantees, voting rights, or dividends.
                  </p>
                  <p>
                    Additionally, your articles must set a par value for the
                    corporation’s stock. Par value is the minimum stated price
                    that the share can sell for. For example, if your common
                    stock par value is set at $5, then the shares cannot sell
                    for any amount less than $5.
                  </p>
                </div>
                <div class="col-12 col-md-3">
                  <img
                    src="{{ url_for('static',filename='images/illustrations/checklist.svg') }}"
                    alt="Corporate Bylaws"
                    class="paragraph-img"
                    width="250"
                    height="200"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div class="col-12 col-md-9 paragraph" id="S-Corp">
              <h2 class="primary-title">Florida S Corporation</h2>
              <p>
                By default every Corporation is taxed as a "C-Corp" with the
                IRS. This means the corporation will file its own tax returns
                and pay the federal rate for corporate income tax. If profits
                are distributed, then shareholders incur double taxation. An
                S-Corp election is a type of pass-through taxation. This means
                income flows to the owner's income statements regardless of
                whether the profits are distributed. This avoidance of double
                taxation is what appeals to many, but each shareholder must be a
                US-resident and there cannot be more than 75 shareholders. Learn
                more here about
                <a href="{{ url_for('corp_taxation') }}"
                  >Florida S Corporations</a
                >.
              </p>
            </div>

            <div class="col-12 paragraph" id="Dissolving">
              <div class="row">
                <div class="col-12 col-md-9">
                  <h3 class="primary-title">
                    Dissolving a Florida Corporation
                  </h3>

                  <p>
                    Not every business works out and some must be dissolved. You
                    can
                    <a href="{{ url_for('fl_dissolve') }}">
                      dissolve a Florida Corporation</a
                    >
                    in one of two ways. The first is the simplest because you
                    simply fail to pay the annual report and you will be
                    administratively dissolved. There are more details on annual
                    reports in the section below. The second option for
                    dissolution is to pay Sunbiz $35 and submit the correct
                    form.
                  </p>
                </div>
                <div class="col-12 col-md-3">
                  <img
                    src="{{ url_for('static',filename='images/illustrations/talking.svg') }}"
                    alt="Dissolving a Florida Corporation"
                    class="paragraph-img"
                    width="250"
                    height="200"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div class="col-12 col-md-9 paragraph" id="Renewals">
              <h3 class="primary-title">Corporate Annual Renewals</h3>
              <p>
                Filing your corporation’s annual reports is the fifth step. In
                order to maintain your corporation’s good standing in the State
                of Florida, you must file annual reports. The fee to do so is
                $150 for corporations. You must file your annual report between
                January 1st and May 1st. It is important that you file these
                reports routinely and on time. Failure to file on time results
                in a penalty of $400. Continuing to not file your annual report
                results in an administrative dissolution of your corporation by
                the Florida Division of Corporations. It is possible to
                reinstate your corporation if it has been dissolved, but this
                can happen only after you have paid all past fines and new
                processing fees.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% endblock %}