<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Florida Secretary of State</title>
    <meta
      name="description"
      content="As of this writing, the Secretary of State in Florida is Laurel M. Lee. She is faced with significant challenges regarding the business administration of the state of Florida, among other responsibilities. "
    />

    <!-- Json-LD Breadcrumb -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "https://cindysfloridallc.com/",
              "name": "Form a Florida LLC"
            }
          },
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "https://cindysfloridallc.com/Florida-Registered-Agent",
              "name": "Florida Registered Agent"
            }
          },
          {
            "@type": "ListItem",
            "position": 3,
            "item": {
              "@id": "https://cindysfloridallc.com/Florida-Registered-Agent/FL-Secretary-of-State",
              "name": "Florida Secretary of State"
            }
          }
        ]
      }
    </script>
    <!-- Json-LD Breadcrumb end -->

    {% extends "links/master/agent.html" %} {% block content %}

    <header id="main" class="header-promo page-header">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-9 mx-auto">
            <div class="row align-items-center">
              <div class="col-12">
                <div class="breadcrumb">
                  {% include "links/bread/agent.html" %}
                  <div class="breadcrumb-item">
                    <span> Secretary of State </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-7">
                <h1 class="promo-title">Florida Secretary of State</h1>
                <div class="line-break"></div>
                <a
                  href="https://app.cindysfloridallc.com/v2/intake/service"
                  rel="nofollow"
                  target="_blank"
                  class="btn-order"
                  >Order Now</a
                >
              </div>
              <div class="col-12 col-lg-5 d-none d-lg-block">
                <img
                  src="{{ url_for('static',filename='images/illustrations/confidential.svg') }}"
                  alt="Florida Secretary of State"
                  class="promo-cover"
                  width="192"
                  height="205"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="table-of-content d-lg-none">
              <h6 class="block-title">Table of Contents</h6>
              <ul>
                <li>
                  <a href="#intro"> Secretary of State </a>
                </li>
                <li>
                  <a href="#What">What You Need to Know</a>
                </li>
                <li>
                  <a href="#How-to">How to Contact</a>
                </li>
                <li>
                  <a href="#Why">Why You May Need to Contact</a>
                </li>
                <li>
                  <a href="#Additional">Additional Information</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-lg-4 col-xl-3 order-2 order-lg-1">
            <div class="sticky-side">
              <div class="table-of-content d-none d-lg-flex">
                <h6 class="block-title">Table of Contents</h6>
                <ul>
                  <li>
                    <a href="#intro"> Secretary of State </a>
                  </li>
                  <li>
                    <a href="#What">What You Need to Know</a>
                  </li>
                  <li>
                    <a href="#How-to">How to Contact</a>
                  </li>
                  <li>
                    <a href="#Why">Why You May Need to Contact</a>
                  </li>
                  <li>
                    <a href="#Additional">Additional Information</a>
                  </li>
                </ul>
              </div>
              <!-- related -->
              {% include "links/related/agentchild.html" %}
            </div>
          </div>
          <div class="col-12 col-lg-8 col-xl-9 order-1 order-lg-2">
            <div class="col-12 col-md-9 paragraph" id="intro">
              <p>
                As of this writing, the Secretary of State in Florida is Laurel
                M. Lee. She is faced with significant challenges regarding the
                business administration of the state of Florida, among other
                responsibilities. She is directly responsible for that which
                governs the LLC and Incorporation processes and, in the case of
                drawn-out appeals, she may be your last bastion of hope for your
                LLC. Let's talk about the position, the policies, and the people
                behind her. As a commercial
                <a href="{{ url_for('agent') }}">Florida Registered Agent</a>
                it's our job to be familiar with the Secretary and its
                intricacies.
              </p>
            </div>

            <div class="col-12 paragraph" id="What">
              <div class="row">
                <div class="col-12 col-md-9">
                  <h2 class="primary-title">What You Need to Know</h2>

                  <p>
                    Since 2002, the Secretary of State has been appointed by the
                    governor in Florida. Though this isn't always the case
                    throughout the United States, and wasn't in Florida until
                    after the 1998 election. At this point, the election was
                    removed from the ballot and the Secretary of State has been
                    treated as a cabinet position.
                  </p>
                  <p>
                    The Secretary of State in Florida is in charge of a wide
                    variety of offices, including culturally significant
                    procedures for both Native and modern Floridians. She also
                    covers the departments involving LLCs and so forth.
                  </p>
                </div>
                <div class="col-12 col-md-3">
                  <img
                    src="{{ url_for('static',filename='images/illustrations/turn-around.svg') }}"
                    alt="What You Need to Know"
                    class="paragraph-img"
                    width="250"
                    height="200"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div class="col-12 paragraph" id="How-to">
              <div class="row">
                <div class="col-12 col-md-9">
                  <h2 class="primary-title">How to Contact</h2>

                  <p>
                    The biggest question is: do you simply need to speak to the
                    department at hand? Or do you need to speak to the Secretary
                    of State herself?
                  </p>
                  <p>
                    Speaking to the department of the Secretary of State (or any
                    of them that fall under the guidance of it) is a fairly easy
                    matter. You can call, contact your local representative at
                    their place of business, or email. These contacts are easily
                    found on .gov sites representing the Secretary of State in
                    Florida. This (<a
                      href="https://dos.myflorida.com/sunbiz/contact/address-phone-numbers/"
                      target="_blank"
                      rel="nofollow"
                      >https://dos.myflorida.com/sunbiz/contact/address-phone-numbers/</a
                    >) is an easy list to start off with. If you cannot find
                    what you are looking for here, we recommend starting at the
                    SunBiz website and working from there.
                  </p>
                  <p>
                    If you need to speak with the Secretary of State directly,
                    things become a great deal more complex. Typically, your
                    average businessperson would not need to contact the
                    Secretary of State unless there were dire circumstances. If
                    this does reflect your situation, then it may be time to
                    consider a lawyer as well.
                  </p>
                  <p>
                    Speaking with the Secretary of State personally may not be
                    available to arrange. Do keep in mind that she is an
                    extremely busy person and, as of this writing, is difficult
                    to contact. However, if you need to speak with her for some
                    matter regarding media or news coverage, you can talk to her
                    secretary as noted on her personal website.
                  </p>
                  <p>
                    We do encourage that you not make this request lightly.
                    There are many security checks required to be cleared to
                    visit her and many other forms that need to be filled out.
                    This will take up a significant portion of your time. We
                    realize that you may still desire to do this and if you do,
                    again, please use the contact information on her website.
                  </p>
                </div>
                <div class="col-12 col-md-3">
                  <img
                    src="{{ url_for('static',filename='images/illustrations/improvement.svg') }}"
                    alt="How to Contact"
                    class="paragraph-img"
                    width="250"
                    height="200"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div class="col-12 paragraph" id="Why">
              <div class="row">
                <div class="col-12 col-md-9">
                  <h2 class="primary-title">Why You May Need to Contact</h2>

                  <p>
                    Perhaps you are a journalist who wants to speak with her
                    about a new accomplishment on her behalf. This is a common
                    request and is typically answered very speedily. Contact may
                    be made over the phone or through email rather than in
                    person due to what time is available.
                  </p>
                  <p>
                    You may also need to contact the department, rather than the
                    person, in the case of misplaced paperwork or documentation
                    errors, essentially going over the head of the department
                    you are already dealing with. This is usually only done if
                    the situation continues to worsen or you run into truly
                    abhorrent customer service. This is not standard practice by
                    any means nor should it be treated as such. "Getting to the
                    head of the matter" usually does not work out the way you
                    would hope for it to.
                  </p>
                  <p>
                    Last but not least, you may need to contact the Secretary of
                    State in the case of serious misconduct within her
                    organization as attended to your situation in particular.
                    Though this is incredibly unlikely, we are aware that one
                    simply never knows when they may need further assistance
                    from someone with access to more information.
                  </p>
                </div>
                <div class="col-12 col-md-3">
                  <img
                    src="{{ url_for('static',filename='images/illustrations/mail.svg') }}"
                    alt="Why You May Need to Contact"
                    class="paragraph-img"
                    width="250"
                    height="200"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div class="col-12 col-md-9 paragraph" id="Additional">
              <h2 class="primary-title">Additional Information</h2>
              <p>
                If you desire to directly contact the Secretary of State, make
                certain that your request is properly forwarded. Speaking with
                the receptionist on a daily basis, if long-term contact is
                needed (or contact is taking several days), and simply
                requesting further information regarding your case is not out of
                the question. Be patient. Be polite. Realize that even if your
                case is dire, so are most others on the desk in front of the
                Secretary of State, too. If you like, we are happy to help
                interface as your
                <a href="{{ url_for('agent') }}">registered agent</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% endblock %}