.accordion {
    margin-top: 40px;
    overflow: hidden;
  
    .item {
      width: 100%;
  
      border-bottom: 1px solid rgba(174, 174, 174, 1);
  
      transition: all 0.15s linear;
  
      &:first-child {
        border-top: 1px solid rgba(174, 174, 174, 1);
      }
  
      &[open="false"] {
        .item-body {
          max-height: 0;
          opacity: 0;
          overflow: hidden;
        }
      }
      &[open="true"] {
        .item-header {
          &::after {
            transform: translateY(-50%) rotate(180deg);
          }
        }
        .item-body {
          padding: 0 0 41px;
          opacity: 1;
          transform: translateX(0px);
          max-height: unset;
        }
      }
  
      .item-header {
        position: relative;
  
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
  
        padding: 18px 0;
  
        cursor: pointer;
  
        border-bottom: 1px solid transparent;
  
        transition: all 0.2s linear;
  
        margin: 0;
        text-align: left;
        font: normal normal normal 18px/24px $roboto-bold;
        letter-spacing: 0px;
        color: rgba(0, 0, 0, 1);
        padding-right: 16px;
  
        @media (min-width: $lg) {
          align-items: center;
          font: normal normal normal 24px/28px $roboto-bold;
        }
  
        &::after {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
          content: "";
          transition: all 0.15s linear;
          background-image: url("/static/images/icons/arrow-down.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: 15.34px;
          height: 8.31px;
          object-fit: contain;
          margin-left: 30px;
  
          @media (min-width: $lg) {
            width: 20.22px;
            height: 10.95px;
            right: 24px;
          }
        }
      }
  
      .item-body {
        position: relative;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
  
        font-size: 14px;
        font-weight: 400;
  
        color: $dark;
        transform: translateX(16px);
        transition: all .15s linear;
      }
  
      .content {
        @media (min-width: $md) {
          padding-right: 70px;
        }
        p {
          text-align: justify;
          font: normal normal normal 16px/19px $cabin;
          letter-spacing: 0.13px;
          color: rgba(0, 0, 0, 1);
  
          @media (min-width: $lg) {
            font: normal normal normal 20px/24px $cabin;
          }
  
          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
      }
  
      .more {
        display: flex;
        align-items: center;
        margin-top: 16px;
        margin-left: auto;
        margin-right: 11px;
        width: fit-content;
        width: -moz-fit-content;
        text-align: left;
        font: normal normal normal 16px/21px $roboto-light;
        letter-spacing: 0px;
        color: $secondary;
  
        @media (min-width: $lg) {
          font: normal normal normal 24px/32px $roboto-light;
          color: $secondary-dark;
        }
  
        &::after {
          display: flex;
          content: "";
          background-image: url("/static/images/icons/arrow-right.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: 14px;
          height: 16px;
          margin-left: 8px;
  
          @media (min-width: $md) {
            width: 21px;
            height: 24px;
            margin-left: 16px;
          }
        }
      }
    }
  }
  