// Header banner
.first-announcement {
  // background-color: $secondary-dark;
  background-color: #39a0db;
  padding: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: $roboto-light;
  font-size: 16px;

  @media (min-width: $md) {
    font-size: 20px;
  }

  a {
    color: $dark;
  }
}
