// new
.breadcrumb {
  display: none;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin-bottom: 24px;
  margin-left: -12px;
  margin-right: -12px;

  @media (min-width: $lg) {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    flex-direction: row;
  }

  .breadcrumb-item {
    position: relative;
    display: flex;
    width: auto;
    align-items: center;
    width: 100%;
    padding: 12px 32px;

    border-bottom: 1px solid rgba($lightGray, 0.3);

    @media (min-width: $md) {
      border: none;
      padding: 0;
      width: auto;
    }

    a,
    span {
      font-size: 16px;
      line-height: 1;
      font-family: $roboto;
      color: #333333;
      padding: 0 6px;

      @media (min-width: $xxl) {
        font-size: 20px;
      }
    }

    &:not(:last-child) {
      a {
        color: #333333;
        font-family: $roboto-bold;
        line-height: 1;
        border-right: 2px solid #333;
        transition: all 0.15s linear;

        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
