.btn-primary,
.btn-order {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px 43px;
  background-color: $secondary;
  border: none;
  border-radius: 66px;
  text-align: center;
  font: normal normal normal 20px/26px $roboto-bold;
  color: rgba(255, 255, 255, 1);
  transition: all 0.15s linear;

  &:hover {
    background-color: rgba($secondary, 0.9);
  }

  &:focus {
    background-color: rgba($secondary, 0.9);
    transform: scale(1.02);
  }

  &:active {
    background-color: rgba($secondary, 0.9);
    transform: scale(1.02);
  }

  @media (min-width: $md) {
    width: fit-content;
    width: -moz-fit-content;
    font: normal normal normal 26px/34px $roboto-bold;
  }

  @media (min-width: $xl) {
    padding: 16px 83px;
  }
}

.play-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  width: -moz-fit-content;
  cursor: pointer;
  margin: 33px auto 0;

  @media (min-width: $md) {
    margin: 0;
  }

  img {
    max-width: 66px;
    max-height: 67px;
    margin-right: 20px;
  }

  .title {
    text-align: left;
    font: normal normal normal 24px/30px $cabin;
    letter-spacing: 0px;
    color: rgba(223, 111, 84, 1);
    line-height: 1;
    white-space: nowrap;
  }

  .sec {
    text-align: left;
    font: normal normal normal 20px/30px $cabin;
    letter-spacing: 0px;
    color: rgba(rgba(51, 51, 51, 1), 0.45);
    line-height: 1;
  }
}
