#contact {
  padding: 47px 0 55px;
  font-family: $cabin;

  .section-headline {
    margin-bottom: 42px;
  }

  .contact-form-custom {
    overflow-x: hidden;
    .form-group {
      position: relative;

      margin-bottom: 38px;

      div.mce_inline_error {
        background-color: transparent;
        color: red;
        margin: 0;
        position: absolute;
        bottom: -24px;
        padding: 0;
        font-family: $cabin;
      }

      label {
        display: none;
      }

      input {
        padding: 11px 0;
        width: 100%;
        font-size: 18px;
        font-family: $cabin;
        color: rgb(67, 66, 67);
        line-height: 1.333;
        text-align: left;
        border: none;

        border-bottom: 2px solid rgb(227, 227, 227);
      }

      textarea {
        padding: 0;
        width: 100%;
        font-size: 18px;
        font-family: $cabin;
        color: rgb(67, 66, 67);
        line-height: 1;
        text-align: left;
        border: none;

        border-bottom: 2px solid rgb(227, 227, 227);

        resize: none;
      }

      input,
      textarea {
        &.mce_inline_error {
          border-color: red;
        }
        &:focus {
          border-color: $blue;
        }
      }

      input,
      textarea,
      button {
        &:focus {
          outline: none;
        }
      }
    }

    .submit {
      padding: 21px 46px;
      margin-top: 9px;
      border-radius: 20px;
      background-color: $darkBlue;
      border: none;
      font-size: 16px;
      font-family: $cabin;
      color: rgb(255, 255, 255);
      font-weight: 700;
      line-height: 1;
    }
  }
}

// new contact form
.contact-fixed {
  position: fixed;
  bottom: 16px;
  right: 16px;
  font-family: $cabin;

  z-index: 999999999999;

  @media (min-width: $md) {
    bottom: 24px;
    right: 24px;
  }

  .contact-circle {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $darkBlue;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    cursor: pointer;

    @media (min-width: $lg) {
      width: 60px;
      height: 60px;
    }

    img {
      width: 20px;
      height: 20px;

      transition: all 0.15s linear;

      @media (min-width: $lg) {
        width: 32px;
        height: 32px;
      }
    }
  }

  .contact-form {
    position: absolute;
    right: 0;
    bottom: 120%;

    display: none;
    width: calc(70vw + 10px);
    height: 80vh;
    overflow: hidden;

    background-color: $lightBlue;
    border-radius: 4px;
    padding: 20px;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);

    @media (max-width: $lg) and (orientation: landscape) {
      height: auto;
      overflow-y: scroll;
    }

    @media(min-width: $md) {
      height: auto;
    }

    @media(min-width: $lg) {
      width: 50vw;
    }

    @media(min-width: $xxl) {
      width: 40vw;
    }

    &.show {
      display: block;
    }

    .hbspt-form {
      overflow-y: scroll;
      height: 100%;
      padding-right: 10px;
    }

    iframe {
      overflow: auto !important;
    }

    form {
      .head-title {
        font-size: 16px;
        font-weight: 600;
        color: $dark;

        white-space: nowrap;
        text-align: center;

        @media (min-width: $md) {
          font-size: 18px;
        }
      }

      .sub-title {
        text-align: center;
        color: $gray;
        font-size: 12px;
        font-weight: 300;

        margin: 10px 0;

        @media (min-width: $md) {
          margin: 14px 0;
          font-size: 14px;
        }
      }

      textarea {
        width: 100%;
      }

      button {
        background-color: $darkBlue;
        border: none;
        border-radius: 4px;
        width: 100%;
        height: 48px;

        font-weight: 500;
        font-size: 16px;
        color: $light;

        cursor: pointer;

        transition: all 0.15s linear;

        &:hover {
          background-color: rgba($darkBlue, 0.9);
        }
      }
    }
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 -6px;
  @media (min-width: $md) {
    flex-direction: row;
  }
  @media (max-width: $md) and (orientation: landscape) {
    flex-direction: row;
  }

  & .input-label {
    margin-left: 6px;
    margin-right: 6px;
  }
}

.input-label {
  margin-bottom: 9px;

  @media (min-width: $md) {
    margin-bottom: 12px;
  }

  @media (min-width: $lg) {
    margin-bottom: 16px;
  }

  label {
    position: relative;
    margin-bottom: 16px;
    font-size: 12px;
    color: $dark;
    .required {
      position: absolute;
      color: red;
      font-size: 20px;
      padding-left: 4px;
    }
  }

  input,
  textarea,
  select {
    margin-top: 8px;
  }

  &.error {
    label {
      color: red;
    }
    input,
    textarea {
      border-color: red;
      color: red;
    }
  }
}

.input {
  width: 200px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  background-color: rgb(252, 252, 252);
  padding: 8px 16px;
  color: $dark;
  font-size: 14px;
  line-height: 20px;
  transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
}

.textarea {
  width: 100%;
  height: 60px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  background-color: rgb(252, 252, 252);
  padding: 8px 16px;
  color: $dark;
  font-size: 14px;
  line-height: 20px;
  resize: none;
  transition: color 0.3s ease 0s, border-color 0.3s ease 0s;

  @media (min-width: $sm) {
    height: 80px;
  }

  @media (max-width: $md) and (orientation: landscape) {
    height: 50px;
  }
}

.select {
  display: block;
  width: 100%;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  background-color: rgb(252, 252, 252);
  padding: 8px 16px;
  color: $dark;
  font-size: 14px;
  line-height: 20px;
  transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
}

input,
textarea,
select {
  &:focus {
    outline: none;
    border-color: $lightBlue;
  }
}

.mce_inline_error {
  color: red;
  padding-top: 10px;
}

#mce-responses {
  text-align: center;
  padding: 10px 0;

  .response {
    text-align: center;
  }
}

input,
textarea {
  transition: all 0.15s linear;
  &:disabled {
    background-color: #ebebe4;
  }
  &.error {
    border-color: red !important;
    color: red;
    &:focus {
      outline: none;
    }
  }
}

.mc-status {
  text-align: center;
  font-size: 10px;

  @media (min-width: $md) {
    font-size: 14px;
  }

  &.error-message {
    font-weight: 400;
    color: red;
    padding-top: 5px;
    @media (min-width: $md) {
      padding-top: 10px;
    }

    a {
      color: $darkBlue;
    }
  }

  &.success-message {
    font-weight: 400;
    color: green;
    padding-top: 5px;
    @media (min-width: $md) {
      padding-top: 10px;
    }
  }
}

.subscription-btn {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  width: -moz-fit-content;

  &.loading {
    &::after {
      display: flex;
      content: "";
      background-image: url("/static/images/icons/loader.svg");
      background-repeat: no-repeat;
      width: 22px;
      height: 22px;
      margin-left: 8px;
    }
  }
}

.contact-form {
  @media (max-height: 650px) {
    position: relative;
    height: 500px;
    overflow-y: scroll;
  }
  .input-label {
    position: relative;
    .error-message {
      position: absolute;
      left: 0;
      bottom: -15px;
      font-size: 12px;
      color: red;
    }

    textarea + .error-message {
      bottom: -11px;
    }
  }
  .mc-status {
    text-align: center;

    &.error-message {
      font-weight: 400;
      padding-bottom: 10px;
      color: red;
      a {
        color: $darkBlue;
      }
    }

    &.success-message {
      font-weight: 400;
      font-size: 14px;
      padding-bottom: 10px;
      color: green;
    }
  }

  .subscription-btn {
    display: flex !important;
    justify-content: center;
    margin-top: 14px;

    @media (min-width: $md) {
      margin-top: 24px;
    }

    &.loading {
      &::after {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        filter: brightness(100);
      }
    }
  }
}

.tos-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  a {
    color: $dark;
    text-decoration: underline;
    transition: all 0.15s linear;

    &:hover {
      color: $secondary;
    }
  }

  .space {
    display: none;
    margin: 0 8px;

    @media (min-width: $md) {
      display: block;
    }
  }
}
