footer {
  position: relative;
  background-color: rgba($blue, 0.3);
  width: 100%;
  padding: 77px 0 28px;
  margin-top: 156px;

  @media (min-width: $lg) {
    margin-top: 276px;
  }

  @media (min-width: $xl) {
    padding: 117px 0 42px;
  }

  &::before {
    position: absolute;
    right: 0;
    top: -17vh;
    display: inline-block;
    content: "";
    background-image: url("/static/images/cactus-sm.svg");
    background-size: 105vw;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 30vh;

    @media (min-width: $sm) {
      top: -24vh;
    }

    @media (min-width: $md) {
      background-image: url("/static/images/cactus.svg");
      top: -170px;
      height: 296px;
    }

    @media (min-width: $lg) {
      top: -190px;
    }

    @media (min-width: $xl) {
      top: -200px;
    }
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    @media (min-width: $xl) {
      margin-bottom: 0;
    }

    .title {
      display: block;
      margin-bottom: 4px;
      text-align: left;
      font: normal normal normal 24px/32px $roboto-bold;
      letter-spacing: 0px;
      color: rgba(51, 51, 51, 1);

      @media (min-width: $lg) {
        font: normal normal normal 36px/48px $roboto-bold;
      }
    }

    .contact-ft-item {
      text-align: left;
      font: normal normal normal 16px/20px $cabin;
      letter-spacing: 0px;
      color: rgba(51, 51, 51, 1);
      transition: all 0.15s linear;

      @media (min-width: $lg) {
        font: normal normal normal 20px/30px $cabin;
      }
    }

    a.contact-ft-item {
      width: fit-content;
      width: -moz-fit-content;
      &:hover {
        color: $secondary;
        text-decoration: underline;
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        a {
          text-align: left;
          font: normal normal normal 16px/24px $cabin;
          letter-spacing: 0px;
          color: rgba(51, 51, 51, 1);
          transition: all 0.15s linear;
          @media (min-width: $lg) {
            font: normal normal normal 20px/30px $cabin;
          }

          &:hover {
            color: $secondary;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .social-list {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $md) {
      justify-content: flex-start;
    }

    .item {
      transition: all 0.15s linear;

      &:not(:last-child) {
        margin-right: 24px;
      }

      &:hover {
        transform: scale(1.03);
      }
    }
  }

  .footer-line {
    display: flex;
    width: 100%;
    height: 10px;
    margin: 24px 0 30px;
    background-image: url("/static/images/footer-line.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $md) {
      margin: 47px 0 59px;
    }
  }

  .footer-text {
    display: flex;
    margin-bottom: 53px;
    max-width: 955px;
    text-align: justify;
    font: normal normal normal 20px/30px $cabin;
    letter-spacing: 0px;
    color: rgba(51, 51, 51, 1);
  }

  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @media (min-width: $md) {
      align-items: center;
    }

    .footer-logo {
      max-width: 145px;
      max-height: 42px;
      margin: 0 auto;

      @media (min-width: $md) {
        margin: unset;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .copyright {
      display: block;
      margin: 13px 0;
      text-align: left;
      font: normal normal normal 16px/20px $cabin;
      letter-spacing: 0px;
      color: rgba(51, 51, 51, 1);

      @media (min-width: $md) {
        margin: 0 43px;
      }

      @media (min-width: $lg) {
        font: normal normal normal 20px/30px $cabin;
      }
    }

    .footer-link {
      text-align: left;
      font: normal normal normal 16px/30px $cabin;
      letter-spacing: 0px;
      color: rgba(51, 51, 51, 1);

      @media (min-width: $lg) {
        font: normal normal normal 20px/30px $cabin;
      }

      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }
}
