.header-promo {
  position: relative;
  overflow: visible;
  height: 100%;
  padding-top: 36px;

  @media (min-width: $md) {
    padding-top: 50px;
  }

  &:not(.with-bg) {
    margin-bottom: 40px;
  }

  .promo-title {
    text-align: left;
    font: normal normal 300 30px/36px $roboto-light;
    letter-spacing: 0px;
    color: $dark;

    @media (min-width: $md) {
      font: normal normal 300 55px/65px $roboto;
    }

    @media (min-width: $xxxl) {
      font: normal normal 300 72px/77px $roboto-light;
    }

    b {
      font-family: $roboto-bold;
    }
  }

  .promo-text {
    text-align: justify;
    font: normal normal normal 16px/19px $cabin;
    letter-spacing: 0px;
    color: $fourth-light;

    @media (min-width: $lg) {
      font: normal normal normal 20px/30px $cabin;
    }
  }

  .promo-price {
    display: block;
    margin: 12px 0 10px;
    text-align: left;
    font: normal normal normal 18px/30px $cabin-bold;
    color: $secondary;

    @media (min-width: $md) {
      font: normal normal normal 24px/30px $cabin-bold;
      margin: 28px 0 13px;
    }
  }

  .line-break {
    margin: 18px 0 25px;

    @media (min-width: $lg) {
      margin: 28px 0 35px;
    }
  }

  .promo-cover {
    display: block;
    overflow: hidden;
    max-width: 100%;
    object-fit: contain;
    margin: 40px auto 0;

    @media (min-width: $md) {
      display: none;
    }

    @media (min-width: $lg) {
      margin: 0 auto;
      display: block;
    }

    @media (min-width: $xxl) {
      max-height: 373px;
    }
  }

  .btn-primary, .btn-order {
    white-space: nowrap;
    font-family: $roboto-light;
    font-size: 12px;
    max-width: 48%;
    padding: 7px 15px;
    margin-top: 24px;

    @media (min-width: 370px) {
      padding: 13px 43px;
      font-size: 16px;
    }

    @media (min-width: $md) {
      font-family: $roboto-bold;
      font-size: 26px;
      padding: 16px 43px;
      margin-right: 43px;
      margin-bottom: 0;
    }
    @media (min-width: $xl) {
      padding: 16px 83px;
    }
  }

  .play-btn {
    max-width: 48%;
    margin-top: 0;

    img {
      width: 33px;
      height: 32px;
      margin-right: 2px;

      @media (min-width: 370px) {
        width: 53px;
        height: 52px;
        margin-right: 10px;
      }

      @media (min-width: $md) {
        max-width: 66px;
        max-height: 67px;
        margin-right: 20px;
      }
    }

    .title {
      font-size: 16px;

      @media (min-width: $md) {
        font-size: 24px;
      }
    }

    .sec {
      font-size: 13px;
      @media (min-width: $md) {
        font-size: 20px;
      }
    }
  }
}

.features {
  position: relative;
  margin: 84px 0;
  background-color: rgba($blue, .3);
  padding: 60px 0;

  @media (min-width: $sm) {
    padding: 70px 0;
  }

  @media (min-width: $md) {
    margin: 136px 0;
    padding: 130px 0;
  }

  @media (min-width: $xxxl) {
    padding: 200px 0;
  }

  &::before {
    display: inline-block;
    content: "";
    background-image: url("/static/images/wave-top-border-sm.svg");
    background-repeat: no-repeat;
    background-size: 105vw;
    background-clip: border-box;
    position: absolute;
    top: -32px;
    left: 0;
    width: 100vw;
    height: 78px;

    @media (min-width: $md) {
      background-image: url("/static/images/wave-top-border.svg");
      height: 64px;
      top: -27px;
    }

    @media (min-width: $lg) {
      height: 78px;
      top: -34px;
    }

    @media (min-width: $xl) {
      height: 120px;
      top: -50px;
    }

    @media (min-width: $xxxl) {
      height: 200px;
    }
  }

  &::after {
    display: block;
    content: "";
    background-image: url("/static/images/wave-bottom-border-sm.svg");
    background-repeat: no-repeat;
    background-size: 105vw;
    background-clip: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 67px;
    bottom: -32px;
    overflow: hidden;

    @media (min-width: $md) {
      background-image: url("/static/images/wave-bottom-border.svg");
      height: 70px;
      bottom: -35px;
    }

    @media (min-width: $lg) {
      height: 85px;
      bottom: -40px;
    }

    @media (min-width: $xl) {
      height: 135px;
      bottom: -65px;
    }

    @media (min-width: $xxxl) {
      height: 200px;
    }
  }

  .feature-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 13px;

    @media (min-width: $md) {
      margin-bottom: 0;
      flex-direction: column;
      justify-content: center;
    }

    .item-img {
      max-width: 58px;
      max-height: 58px;
      margin-right: 20px;

      @media (min-width: $md) {
        max-width: 100px;
        max-height: 100px;
        margin-right: 0;
      }

      @media (min-width: $xl) {
        max-width: 121px;
        max-height: 121px;
      }
    }

    .line-break {
      display: none;
      margin: 20px 0 15px;

      @media (min-width: $md) {
        display: flex;
      }

      @media (min-width: $lg) {
        margin: 25px 0 15px;
      }
    }

    p {
      text-align: center;
      font: normal normal normal 20px/29px $roboto-bold;
      letter-spacing: 0px;
      color: rgba(51, 51, 51, 1);
      opacity: 1;

      @media (min-width: $xl) {
        font: normal normal normal 30px/39px $roboto-bold;
        padding: 0 20px;
      }
    }
  }
}

// page header
.page-header {
  .promo-title {
    color: #333;
  }

  .features {
    background-color: transparent;
    margin: 12px 0 115px;
    padding: 57px 0 56px;

    &::after {
      background-image: url("/static/images/border-bottom.svg");
      background-size: cover;
      height: 20px;
      width: 100%;
      bottom: 0;
    }

    &::before {
      background-image: url("/static/images/features-top-line.svg");
      background-size: cover;
      height: 20px;
      width: 100%;
      top: 0;
    }

    .feature-item {
      .item-img {
        @media (min-width: $md) {
          max-width: 97px;
          max-height: 97px;
        }
      }

      p {
        font: normal normal normal 20px/24px $roboto-bold;
        letter-spacing: 0px;
        color: #333333;
      }
    }
  }
}
