nav.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 13px 21px;
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.16);
  z-index: 99999;

  // &.sticky {
  //     background-color: $lightBlue;

  // }

  @media (min-width: $xl) {
    justify-content: unset;
    padding: 25px 48px 23px 20px;
  }

  .btn-order-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px 22px;
    margin-left: auto;
    margin-right: 20px;
    background-color: $secondary;
    border-radius: 28px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 400;
    font-family: $roboto-bold;
    white-space: nowrap;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 1);
    transition: all 0.15s linear;

    &:hover {
      background-color: rgba($secondary, 0.9);
    }

    @media (min-width: $xl) {
      margin: 0;
      font-size: 20px;
      line-height: 26px;
      padding: 11px 22px;
    }
  }

  .login {
    display: flex;
    background-color: transparent;
    color: $fourth-light;
    font-size: 20px;
    line-height: 24px;
    font-family: $roboto-bold;
    padding: 0;
    margin-top: 16px;

    &:hover {
      color: $secondary-dark;
      background-color: transparent;
    }

    @media (min-width: $xl) {
      margin: 0 51px;
      font-size: 20px;
      line-height: 24px;
    }
  }

  .call-number {
    .phone {
      font-family: $roboto-bold;
      font-size: 20px;
      line-height: 24px;
      color: $fourth-light;
      transition: all 0.15s linear;

      &:hover {
        color: $secondary-dark;
      }
    }
  }

  .navbar-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 24px;
    background-color: transparent;
    border: none;

    @media (min-width: $xl) {
      display: none;
    }
  }

  .navbar-logo {
    display: flex;
    align-items: center;
    transition: all 0.15s linear;

    img {
      max-width: 108px;
      max-height: 30px;

      object-fit: contain;
      transition: all 0.15s linear;

      @media (min-width: $md) {
        max-width: 182px;
        max-height: 50px;
      }
    }
  }

  .navbar-collapse {
    position: absolute;
    overflow-x: hidden;
    top: 100%;
    right: 0;
    width: 0;
    height: 100vh;
    display: block;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.16);
    border-top: 1px solid rgba($fifth-light, 0.4);
    transition: all 0.2s linear;

    &.show {
      width: 100vw;
    }

    @media (min-width: $xl) {
      position: relative;
      background-color: transparent;
      width: fit-content;
      width: -moz-fit-content;
      display: block;
      opacity: 1;
      height: auto;
      margin-left: auto;
      border-top: none;
      box-shadow: none;
      overflow-x: unset;
    }

    .navbar-nav {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 24px 16px;

      @media (min-width: $xl) {
        flex-direction: row;
        flex-wrap: unset;
        align-items: center;
        padding: 0;
      }

      .nav-item {
        width: 100%;
        margin-bottom: 16px;

        @media (min-width: $xl) {
          width: unset;
          margin-bottom: 0;

          &:not(:last-child) {
            margin-right: 24px;
          }
        }

        @media (min-width: $xxl) {
          &:not(:last-child) {
            margin-right: 32px;
          }
        }

        &.for-btn {
          @media (min-width: $md) {
            max-width: 48%;
          }

          @media (min-width: $xl) {
            max-width: unset;
          }
        }

        .nav-link {
          text-align: left;
          font-family: $roboto-light;
          font-size: 20px;
          line-height: 26px;
          color: $fourth-light;
          text-decoration: none;
          transition: color 0.15s linear;

          &:hover {
            color: $fourth;
          }

          @media (min-width: $xl) {
            font-family: $roboto;
          }
        }

        &.dropdown {
          position: relative;
          cursor: pointer;

          .dropdown-toggle {
            display: flex;
            align-items: center;
            transition: all 0.15s linear;
            &::after {
              display: flex;
              align-items: center;
              justify-content: center;
              content: "";
              background-image: url("/static/images/icons/arrow-down.svg");
              background-size: contain;
              background-repeat: no-repeat;
              width: 15.34px;
              height: 8.31px;
              margin-left: 10px;
              transition: all 0.2s linear;
            }
          }

          &:hover {
            .dropdown-toggle {
              &::after {
                transform: rotate(-180deg);
              }
            }

            @media (min-width: $xl) {
              .dropdown-menu {
                opacity: 1;
                height: auto;
                padding: 18px 24px;
              }
            }
          }

          .dropdown-menu {
            display: flex;
            flex-direction: column;
            position: relative;
            top: 0px;
            left: 0;
            max-width: 330px;
            width: max-content;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 5px;
            z-index: 999999999;
            padding: 0 24px;
            opacity: 1;
            height: 0px;
            overflow: hidden;
            transition: all 0.2s linear;

            @media (min-width: $xl) {
              position: absolute;
              top: 100%;
              left: 50%;
              transform: translateX(-50%);
              box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
              overflow: hidden;
            }

            &.show {
              height: auto;
              padding: 18px 24px;
            }

            .dropdown-item {
              width: fit-content;
              width: -moz-fit-content;
              font-weight: 400;
              font-size: 16px;
              font-family: $cabin;
              line-height: 1;
              color: $darkGray;
              transition: color 0.15s linear;

              &:not(:last-child) {
                margin-bottom: 14px;
              }

              &:hover {
                color: $gray;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes opacityIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
