.paragraph {
    overflow-wrap: anywhere;
    &:not(:first-of-type) {
      padding-top: 50px;
    }
  
    @media (min-width: $md) {
      &:not(:first-of-type) {
        padding-top: 50px;
      }
    }
  
    b {
      font-family: $cabin-bold;
    }
  
    strong {
      font-family: $cabin-bold;
    }
  
    .paragraph-img {
      display: block;
      margin-bottom: 24px;
      object-fit: contain !important;
      float: right !important;
      margin: 40px 0;
      max-width: 100%;
      max-width: 100%;
      width: 100%;
  
      &:not(.graphic) {
        margin: 40px 0 0 !important;
      }
  
      @media (min-width: $xl) {
        &.obj-cover {
          object-fit: cover !important;
        }
      }
    }
  
    .primary-title {
      text-align: left;
      font: normal normal normal 28px/38px $roboto;
      color: #333333;
      margin-bottom: 17px;
      letter-spacing: 0px;
  
      @media (min-width: $md) {
        font: normal normal normal 36px/48px $roboto;
      }
    }
  
    .secondary-title {
      text-align: left;
      font: normal normal 700 24px/40px $cabin;
      color: $darkGray;
      margin-bottom: 16px;
      margin-top: 48px;
  
      @media (min-width: $md) {
        font: normal normal 700 28px/40px $cabin;
      }
    }
  
    p {
      text-align: justify;
  
      &:not(:last-child) {
        margin-bottom: 16px;
  
        @media(min-width: $xxl) {
            margin-bottom: 24px;
        }
      }
  
      a {
        color: $secondary;
        transition: all 0.15s linear;
  
        &:hover {
          color: $secondary;
          text-decoration: underline;
        }
      }
    }
  
    p,
    li {
      font-family: $cabin;
      color: #333333;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
  
      @media (min-width: $md) {
        font-size: 20px;
      }
    }
  
    li {
      &:not(.f-regular) {
        font-family: $cabin-bold;
      }
  
      font-family: $cabin;
    }
  
    ul,
    ol:not(.list-group) {
      @media(min-width: $md) {
        margin-left: 20px;
        margin-bottom: 20px;
      }
    }
  }
  
  .order-col {
    margin-bottom: 40px;
  
    .list-group {
      width: -moz-fit-content;
      width: fit-content;
      background-color: #fff;
      padding: 24px;
      border: 1px solid rgba($lightGray, 0.3);
      border-radius: 5px;
  
      li {
        font-size: 24px;
        color: $dark;
      }
    }
    .btn-order {
      margin: 24px auto;
      font-size: 32px;
      text-align: center;
      flex-direction: column;
      align-items: center;
      line-height: 1;
      cursor: pointer;
      padding: 16px 60px;
      font-family: $cabin;
  
      p {
        font-size: 18px;
        margin-top: 8px;
      }
    }
  }
  
  // vo cards
  .card-box {
    position: relative;
    overflow: hidden;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: -7px 7px 20px -10px rgb(0 0 0 / 20%),
      7px 7px 20px -10px rgb(0 0 0 / 20%);
    background-color: $light;
    border-radius: 0.5rem;
    margin-bottom: 24px;
    transition: all 0.3s ease-in;
  
    @media (min-width: $md) {
      margin-bottom: 0;
    }
  
    &:hover {
      top: -5px;
  
      .thumbnail__overlay {
        visibility: visible !important;
        opacity: 1 !important;
      }
    }
  
    & .card__header {
      padding: 0;
      position: relative;
      height: 230px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
      .thumbnail__overlay {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 0.5rem 0.5rem 0 0;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        font-size: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        visibility: hidden;
        opacity: 0;
      }
    }
  
    .card__body {
      display: flex;
      flex-wrap: wrap;
      height: calc(100% - 230px);
      border: 0;
      padding: 16px;
      font-family: $cabin;
  
      .card__description-heading {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }
  
      .card__description-text {
        font-size: 13px;
        margin-bottom: 0;
        line-height: 1.2;
        text-align: justify;
      }
  
      .card__nap {
        align-self: flex-end;
        width: 100%;
        font-style: italic;
        font-size: 12px;
        line-height: 1.1;
        margin: 0;
  
        .separator {
          margin: 16px 0;
        }
      }
    }
  }
  
  // pricing card
  .pricing-row {
    .card {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 380px;
      height: 100%;
      background-color: $light;
      box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 10%);
      border-radius: 1rem;
      font-family: $cabin;
      transition: all 0.15s linear;
  
      &:hover {
        box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 30%);
      }
  
      .card-body {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 1.25rem;
  
        .card-price {
          font-size: 24px;
          font-weight: 700;
          text-align: center;
          margin-bottom: 10px;
        }
  
        small {
          font-size: 80%;
        }
  
        hr {
          margin: 16px 0;
        }
  
        .fa-ul {
          padding: 0;
          margin: 0;
  
          li {
            font-size: 16px;
            margin-bottom: 8px;
          }
        }
  
        .btn-block {
          margin-top: auto;
  
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $secondary;
          color: $light;
          border-radius: 1.5rem;
          height: 48px;
        }
      }
    }
  }
  
  .testimonial-row {
    .col-12 {
      margin-bottom: 60px;
    }
  }
  
  .testimonials-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #efefef;
    padding: 80px 16px 16px;
    border-radius: 2px;
    color: $dark;
    transition: all 0.15s linear;
    margin-bottom: 60px;
    min-height: 360px;
    height: 100%;
    border-radius: 5px;
    font-family: $cabin;
  
    @media (min-width: $lg) {
      margin-bottom: 0;
    }
  
    .testimonial-user-photo {
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 100px;
      border: 10px solid $light;
      border-radius: 50%;
    }
  
    .testimonial-name {
      margin-top: auto;
      font-size: 22px;
      color: $salmon;
      text-shadow: none;
    }
  }
  
  pre {
    @media (max-width: $md) {
      white-space: initial;
    }
  }
  
  .block-title {
    font-size: 20px;
    font-family: $cabin;
    color: rgb(67, 66, 67);
    line-height: 1.333;
    text-align: left;
    font-weight: 600;
  }
  
  // table of content
  .table-of-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 29px 22px;
    border: 1px solid #707070;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 14px;
  
    .block-title {
      font: normal normal normal 24px/32px $roboto;
      letter-spacing: 0px;
      color: #333333;
    }
  
    ul {
      list-style: decimal;
      padding: 0;
      margin: 16px 0 0;
  
      li {
        margin-bottom: 6px;
        margin-left: 10px;
  
        a {
          display: flex;
          width: fit-content;
          width: -moz-fit-content;
          font-size: 16px;
          font-family: $cabin;
          color: #333333;
          text-decoration: underline;
          line-height: 1.2;
          text-align: left;
          transition: all 0.15s linear;
          text-align: left;
  
          &:hover {
            color: rgb(36, 76, 98, 0.7);
          }
        }
  
        &:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
  }
  
  // section paragraph
  .section-paragraph {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  
    @media (min-width: $lg) {
      margin-top: 51px;
    }
  
    p {
      margin-top: 14px !important;
  
      @media (min-width: $md) {
        margin-top: 20px !important;
      }
    }
  
    .more {
      display: flex;
      align-items: center;
      text-align: left;
      font: normal normal normal 16px/21px $roboto;
      letter-spacing: 0px;
      color: $secondary;
      margin-left: auto;
      margin-top: 14px;
  
      @media (min-width: $lg) {
        font: normal normal normal 24px/32px $roboto-light;
        margin: 0;
      }
  
      &::after {
        display: flex;
        content: "";
        background-image: url("/static/images/icons/arrow-right.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 14px;
        height: 16px;
        margin-left: 8px;
  
        @media (min-width: $md) {
          width: 21px;
          height: 24px;
          margin-left: 16px;
        }
      }

      &:hover {
        color: $secondary-dark;
      }
    }
  }
  
  // titles
  .secondary-normal-title {
    display: flex;
    justify-content: flex-start;
  
    &.with-link {
      justify-content: flex-start;
      align-items: center;
  
      @media (min-width: $lg) {
        justify-content: space-between;
      }
    }
  
    .title {
      text-align: left;
      font: normal normal normal 22px/24px $cabin;
      letter-spacing: 0px;
      color: rgba(51, 51, 51, 1);
      max-width: 805px;
  
      @media (min-width: $md) {
        font: normal normal normal 36px/48px $roboto;
      }
    }
  }
  
  .secondary-bold-title {
    display: flex;
  
    .title {
      text-align: left;
      font: normal normal normal 22px/24px $roboto-bold;
      letter-spacing: 0px;
      color: rgba(51, 51, 51, 1);
  
      @media (min-width: $md) {
        font: normal normal normal 36px/48px $roboto-bold;
      }
    }
  }
  
  blockquote {
    position: relative;
    border-left: 5px solid rgba(235, 187, 69, 1);
    padding: 4px 0 4px 20px;
    margin: 30px 0 14px;
    max-width: 790px;
  
    text-align: left;
    font: italic normal normal 22px/27px $cabin-bold;
    letter-spacing: 0px;
    color: rgba(51, 51, 51, 1);
  
    @media (min-width: $md) {
      padding: 4px 0 4px 36px;
      margin: 43px 0 15px;
      font: italic normal normal 36px/44px $cabin-bold;
    }
  }
  