* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  opacity: 1;
}

a {
  text-decoration: none;
}

ul, ol {
  li {
    a {
      color: $secondary-dark;

      transition: all 0.15s linear;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.list-group {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  padding: 20px 40px;
  margin: 24px auto;
  text-align: center;

  @media (min-width: $md) {
    width: auto;
  }

  li {
    font-size: 20px;
    font-family: $cabin;
    color: rgb(67, 66, 67);
    line-height: 1.333;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  .list-group-item {
    display: block;
    font-size: 16px;
    font-family: $cabin;
    color: rgb(67, 66, 67);
    line-height: 1.333;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

  }

  &.advantages-list {
    .list-group-item {
      &:first-child {
        background-color: $lightBlue;
        color: $light;

        a {
          color: $light;
        }
      }
    }
  }
}

.obj-contain {
  object-fit: contain;
}

.obj-cover {
  object-fit: cover !important;
}

.fit-content {
  width: fit-content;
  width: -moz-fit-content;
}

.p-relative {
  position: relative;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
}

.rounded-sm {
  border-radius: 4px;
}


@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sticky-side {
  @media(min-width: $md) {
    // position: sticky;
    // top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.container {
  @media(max-width: $md) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media(max-width: 371px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media(min-width: $xxxl) {
    max-width: 1470px;
  }
}

.line-break {
  width: 65px;
  height: 5px;
  background: $secondary-dark 0% 0% no-repeat padding-box;
}

.check-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 30px 0;
  padding: 0;

  @media(min-width: $xl) {
    margin: 50px 0;
  }

  li {
    display: flex;
    align-items: flex-start;

    text-align: left;
    font: normal normal normal 18px/26px $cabin;
    letter-spacing: 0px;
    color: rgba(51, 51, 51, 1);

    @media(min-width: $md) {
      font-size: 24px;
      line-height: 32px;
    }

    @media(min-width: $xxxl) {
      font-size: 30px;
      line-height: 40px;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &::before {
      display: flex;
      content: '';
      background-image: url('/static/images/icons/check.svg');
      background-size: contain;
      width: 15px;
      height: 15px;
      margin-right: 15px;
      margin-top: 4px;

      @media(min-width: $md) {
        width: 21px;
        height: 21px;
        margin-top: 6px;
      }

      @media(min-width: $xxxl) {
        margin-top: 10px;
      }
    }
  }
}

.checklist-merge {
  @media(max-width: $md - 1) {
    ul {
      margin: 0;
      li {
        margin-bottom: 5px !important;
      }
    }
    .col-12 {
      &:first-child {
        ul {
          margin-top: 24px;
        }
      }
  
      &:last-child {
        ul {
          margin-bottom: 30px;
        }
      }
    }
  }

  &.none {
    li {
      &::before {
        display: none !important;
      }
    }
  }
}

.text-underline {
  text-decoration: underline;
}

.regular-strong {
  font-family: $cabin !important;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  @media (min-width: $md) {
    font-size: 20px;
  }
}