.related-links-block {
  margin-top: 48px;
  .block-title {
    font-size: 32px;
    text-align: center;
    font-family: $cabin;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .related-link {
    background-color: $darkBlue;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-family: $cabin;
    color: $light;
    margin: 10px;
    transition: all 0.15s linear;

    &:hover {
      background-color: rgba($darkBlue, 0.8);
    }
  }
}

// new style
// related items
.related-links-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 29px 22px;
  border: 1px solid #707070;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);

  .block-title {
    margin-bottom: 11px;
    text-align: left;
    font: normal normal normal 24px/32px $roboto;
    letter-spacing: 0px;
    color: #333333;
  }

  .related-links {
    display: flex;
    flex-direction: column;

    @media (min-width: $sm) {
      flex-direction: unset;
      flex-wrap: wrap;
    }

    @media (min-width: $lg) {
      flex-direction: column;
      flex-wrap: unset;
    }
  }

  .related-link-btn {
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
    font-size: 16px;
    font-family: $cabin;
    letter-spacing: 0px;
    color: $secondary;
    line-height: 1.2;
    text-align: left;
    transition: all 0.15s linear;
    margin: 5px 0;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    @media (min-width: $lg) {
      margin: 0 0 8px;
    }

    &:hover {
      color: $secondary-dark;
      text-decoration: underline;
    }
  }
}

// related links in home page
.related-index {
  ul {
    list-style: none;
    padding: 0;
    margin: 40px 0 0;

    li {
      &:not(:last-child) {
        margin-bottom: 7px;
      }

      a {
        text-align: left;
        font: normal normal normal 16px/24px $cabin;
        letter-spacing: 0px;
        color: rgba(51, 51, 51, 1);
        transition: all 0.15s linear;

        @media (min-width: $lg) {
          font: normal normal normal 20px/30px $cabin;
        }

        @media (min-width: $xxxl) {
          font: normal normal normal 24px/34px $cabin;
        }

        &:hover {
          color: $secondary;
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: $md - 1) {
    ul:not(.first-list) {
      margin-top: 0;
    }
  }
}
