.body-outer-404 {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;

  .btn-order-navbar {
      background-color: #75A37C !important;
  }

  .body-404 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    padding-top: 8%;

    @media (min-width: $sm) {
      flex-direction: row;
      padding-top: 25%;
    }

    @media (min-width: $md) {
    }

    @media (min-width: $lg) {
      padding-top: 8%;
    }

    .image-404 {
      max-width: 59%;
      max-height: 35%;
      width: 100%;
      height: 100%;
      order: 1;

      @media (min-width: $sm) {
        order: 2;
        max-width: 39%;
        max-height: 35%;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .text-404 {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-bottom: 30px;
      margin-top: 50px;
      order: 2;

      @media (min-width: $sm) {
        order: 1;
        margin-top: 0;
        align-items: unset;
      }

      h1,
      h2 {
        text-align: left;
        font: normal normal bold 30px/40px $cabin;
        letter-spacing: 0px;
        color: #161616;

        @media (min-width: $lg) {
          font-size: 48px;
          line-height: 64px;
        }

        @media (min-width: $xxxl) {
          font-size: 58px;
          line-height: 71px;
        }
      }

      .return-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: fit-content;
        width: -moz-fit-content;
        background-color: #75A37C;
        border-radius: 64px;
        padding: 12px 32px;
        border: 4px solid transparent;

        font: normal normal normal 24px/38px $roboto;
        letter-spacing: 0px;
        color: #ffffff;
        margin: 24px 0 0;
        transition: all 0.15s ease-in;

        @media (min-width: $lg) {
          font-size: 32px;
          line-height: 42px;
          padding: 16px 40px;
        }

        @media (min-width: $xxxl) {
          font-size: 44px;
          line-height: 58px;
        }

        &:hover {
          background-color: transparent;
          border-color: #75A37C;
          color: #75A37C;
        }
      }
    }
  }
}
