<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Florida LLC Annual Report</title>
    <meta
      name="description"
      content="Here we discuss the ins and outs to filing an annual report for your Florida limited liability company."
    />

    <!-- Json-LD Breadcrumb -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "https://cindysfloridallc.com/",
              "name": "Form a Florida LLC"
            }
          },
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "https://cindysfloridallc.com/FL-LLC-Benefits",
              "name": "Florida LLC Benefits"
            }
          },
          {
            "@type": "ListItem",
            "position": 3,
            "item": {
              "@id": "https://cindysfloridallc.com/FL-LLC-Benefits/Annual-Report",
              "name": "Florida LLC Annual Report"
            }
          }
        ]
      }
    </script>
    <!-- Json-LD Breadcrumb end -->

    {% extends "links/master/benefits.html" %} {% block content %}

    <header id="main" class="header-promo page-header">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-9 mx-auto">
            <div class="row align-items-center">
              <div class="col-12">
                <div class="breadcrumb">
                  {% include "links/bread/benefits.html" %}
                  <div class="breadcrumb-item">
                    <span> Florida LLC Annual Report </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-7">
                <h1 class="promo-title">Florida LLC Annual Report</h1>
                <div class="line-break"></div>
                <h6 class="promo-price">$225 - Same Day Filing</h6>
                <a
                  href="https://app.cindysfloridallc.com/v2/intake/service"
                  rel="nofollow"
                  target="_blank"
                  class="btn-order"
                  >Order Now</a
                >
              </div>
              <div class="col-12 col-lg-5 d-none d-lg-block">
                <img
                  src="{{ url_for('static',filename='images/illustrations/turn-around.svg') }}"
                  alt="Florida LLC Annual Report"
                  class="promo-cover obj-contain"
                  width="250"
                  height="286"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="table-of-content d-lg-none">
              <h6 class="block-title">Table of Contents</h6>
              <ul>
                <li>
                  <a href="#intro">Florida LLC Annual Report</a>
                </li>
                <li>
                  <a href="#Failing">Failing to File Your Annual Report</a>
                </li>
                <li>
                  <a href="#About">About Your Florida Annual Report</a>
                </li>
                <li>
                  <a href="#Florida">Filing Your Annual Report in Florida</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-lg-4 col-xl-3 order-2 order-lg-1">
            <div class="sticky-side">
              <div class="table-of-content d-none d-lg-flex">
                <h6 class="block-title">Table of Contents</h6>
                <ul>
                  <li>
                    <a href="#intro">Florida LLC Annual Report</a>
                  </li>
                  <li>
                    <a href="#Failing">Failing to File Your Annual Report</a>
                  </li>
                  <li>
                    <a href="#About">About Your Florida Annual Report</a>
                  </li>
                  <li>
                    <a href="#Florida">Filing Your Annual Report in Florida</a>
                  </li>
                </ul>
              </div>
              <!-- related -->
              {% include "/links/related/benefitschild.html" %}
            </div>
          </div>
          <div class="col-12 col-lg-8 col-xl-9 order-1 order-lg-2">
            <div class="col-12 col-md-9 paragraph" id="intro">
              <p>
                Once you have formed your LLC, you are required to file annual
                reports with the state on its behalf. This is the practice in
                the State of Florida, where you must file your annual report
                with the Florida Division of Corporations by May 1 st of every
                year to maintain your
                <a href="{{ url_for('benefits') }}">LLC benefits</a>.
              </p>
              <p>
                The annual report is neither very long nor complex. Its purpose
                is mainly to confirm information about your business and confirm
                that it is still operating in good standing. The information
                that you provide will consist of your business address, the name
                and address of your registered agent, and anyone authorized to
                manage the LLC. There is also an accompanying
                <a href="{{ url_for('fees') }}">filing fee</a> of $138.75 for
                LLCs.
              </p>

              <p>
                If necessary, you can make certain changes to your annual report
                information, as the state will want your most up-to-date
                information. Here are the changes you can make on your annual
                report that do not require an amendment:
              </p>

              <ul class="list-group">
                <li>The names and addresses of members and managers</li>
                <li>Your registered agent’s name and address</li>
                <li>The address of your principal office</li>
                <li>Your Federal Employer Identification Number (EIN)</li>
              </ul>
            </div>

            <div class="col-12 paragraph" id="Failing">
              <div class="row">
                <div class="col-12 col-md-9">
                  <h2 class="primary-title">
                    Failing to File Your Annual Report
                  </h2>

                  <p>
                    There is a $400 fee assessed for failure to file an annual
                    report and there are no scenarios in which this fee can be
                    waived. In the event your LLC maintains this failure to
                    file, the Florida Division of Corporations can
                    administratively dissolve your LLC.
                  </p>
                  <p>
                    There are serious consequences that can follow your LLC’s
                    dissolution. For example, your LLC will no longer be able to
                    conduct business in the State of Florida or have legal
                    standing in Florida courts. While reinstatement of good
                    standing is possible to achieve for your LLC, it is
                    certainly best to avoid, as there are fees and applications
                    that must be filed before reinstatement is a possibility.
                  </p>
                </div>
                <div class="col-12 col-md-3">
                  <img
                    src="{{ url_for('static',filename='images/illustrations/talking.svg') }}"
                    alt="Failing to File Your Annual Report"
                    class="paragraph-img"
                    width="250"
                    height="200"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div class="col-12 col-md-9 paragraph" id="About">
              <h2 class="primary-title">About Your Florida Annual Report</h2>
              <p>
                Here is the information you should be aware of when you go to
                file your annual report with the State of Florida:
              </p>
              <ul class="list-group">
                <li>
                  All entities in Florida must file an annual report with the
                  Division of Corporations.
                </li>
                <li>The due date for annual reports is May 1 st .</li>
                <li>
                  The report must be filed online at the Division of
                  Corporations website.
                </li>
                <li>
                  A filing fee accompanies every report. The fee depends on the
                  entity filing. For Florida LLCs the amount is $138.75.
                </li>
              </ul>
            </div>

            <div class="col-12 paragraph" id="Florida">
              <div class="row">
                <div class="col-12 col-md-9">
                  <h2 class="primary-title">
                    Filing Your Annual Report in Florida
                  </h2>

                  <p>
                    When you are ready to file your annual report, visit the
                    Florida Division of Corporations website. Here is what you
                    will need when you go to file:
                    <br /><br />
                    <b>Document Number:</b> This number is provided by the
                    Division of Corporations in their annual report notice sent
                    either by email or postcard. You can also search the number
                    of your business in the Department of State online records.
                    <br /><br />
                    <b>Federal Employer Identification Number (EIN):</b> This is
                    your unique 9-digit number assigned by the IRS. Some
                    companies are not required to have one, in which case it
                    will not be necessary to your filing. <br /><br />
                    <b>Payment Method:</b> A valid payment method is required
                    for the accompanying filing fee. Acceptable methods are
                    debit/credit card, check, money order, or Sunbiz e-file
                    account.
                  </p>

                  <p>
                    Next, visit the Sunbiz Annual Report Portal at the Division
                    of Corporations website. Enter your business specific
                    document number. Then, confirm your business information.
                    This will include information like your company name,
                    principal address, EIN, mailing address, email, registered
                    agent, member and manager names and addresses.
                  </p>

                  <p>
                    While it is possible to complete these steps on your own,
                    you also have the option of hiring our services. We will
                    handle every aspect of your annual report, including its
                    filing, so that you know everything is completed correctly
                    and your LLC is in good standing. This helps ensure you
                    don't lose important
                    <a href="{{ url_for('benefits') }}">benefits</a> such as the
                    corporate veil. We also offer several other helpful
                    formation services, freeing you up to focus on other
                    business priorities. Note, every company must file their
                    report - even
                    <a href="{{ url_for('smllc') }}">Single Member LLCs</a>.
                  </p>
                </div>
                <div class="col-12 col-md-3">
                  <img
                    src="{{ url_for('static',filename='images/illustrations/celebrate.svg') }}"
                    alt="Filing Your Annual Report in Florida"
                    class="paragraph-img"
                    width="250"
                    height="200"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% endblock %}