<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fiduciary Duties of Florida LLCs</title>
    <meta
      name="description"
      content="Limited liability companies have the option of being structured as manager-managed LLCs or member-managed LLCs. Regardless of who is tasked with managing your company, there are responsibilities expected of the managers in charge."
    />

    <!-- Json-LD Breadcrumb -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "https://cindysfloridallc.com/",
              "name": "Form a Florida LLC"
            }
          },
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "https://cindysfloridallc.com/FL-LLC-Benefits",
              "name": "Florida LLC Benefits"
            }
          },
          {
            "@type": "ListItem",
            "position": 3,
            "item": {
              "@id": "https://cindysfloridallc.com/FL-LLC-Benefits/Fiduciary-Duties",
              "name": "Fiduciary Duties of Florida LLCs"
            }
          }
        ]
      }
    </script>
    <!-- Json-LD Breadcrumb end -->

    {% extends "links/master/benefits.html" %} {% block content %}

    <header id="main" class="header-promo page-header">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-9 mx-auto">
            <div class="row align-items-center">
              <div class="col-12">
                <div class="breadcrumb">
                  {% include "links/bread/benefits.html" %}
                  <div class="breadcrumb-item">
                    <span> Fiduciary Duties of Florida LLCs </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-7">
                <h1 class="promo-title">Fiduciary Duties of Florida LLCs</h1>
                <div class="line-break"></div>
                <h6 class="promo-price">$225 - Same Day Filing</h6>
                <a
                  href="https://app.cindysfloridallc.com/v2/intake/service"
                  rel="nofollow"
                  target="_blank"
                  class="btn-order"
                  >Order Now</a
                >
              </div>
              <div class="col-12 col-lg-5 d-none d-lg-block">
                <img
                  src="{{ url_for('static',filename='images/illustrations/talking.svg') }}"
                  alt="Fiduciary Duties of Florida LLCs"
                  class="promo-cover"
                  width="400"
                  height="234"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="table-of-content d-lg-none">
              <h6 class="block-title">Table of Contents</h6>
              <ul>
                <li>
                  <a href="#intro">Fiduciary Duties of Florida LLCs</a>
                </li>
                <li>
                  <a href="#Responsibilities"
                    >Responsibilities of Managers and Members in LLCs</a
                  >
                </li>
                <li>
                  <a href="#Limits"
                    >Limits to Manager or Member Fiduciary Duty</a
                  >
                </li>
                <li>
                  <a href="#Final">Fiduciary Duties of LLCs: Final Thoughts</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-lg-4 col-xl-3 order-2 order-lg-1">
            <div class="sticky-side">
              <div class="table-of-content d-none d-lg-flex">
                <h6 class="block-title">Table of Contents</h6>
                <ul>
                  <li>
                    <a href="#intro">Fiduciary Duties of Florida LLCs</a>
                  </li>
                  <li>
                    <a href="#Responsibilities"
                      >Responsibilities of Managers and Members in LLCs</a
                    >
                  </li>
                  <li>
                    <a href="#Limits"
                      >Limits to Manager or Member Fiduciary Duty</a
                    >
                  </li>
                  <li>
                    <a href="#Final"
                      >Fiduciary Duties of LLCs: Final Thoughts</a
                    >
                  </li>
                </ul>
              </div>
              <!-- related -->
              {% include "/links/related/benefitschild.html" %}
            </div>
          </div>
          <div class="col-12 col-lg-8 col-xl-9 order-1 order-lg-2">
            <div class="col-12 col-md-9 paragraph" id="intro">
              <p>
                Limited liability companies have the
                <a href="{{ url_for('benefits') }}">benefit</a> of being
                structured as manager-managed LLCs or member-managed LLCs.
                Regardless of who is tasked with managing your company, there
                are responsibilities expected of the managers in charge. The
                Florida Revised LLC Act stipulates that managers of a
                manager-managed LLC and members of a member-managed LLC have a
                fiduciary duty of loyalty to the LLC and its corresponding
                membership. This obviously is less important for a
                <a href="{{ url_for('smllc') }}">Single Member LLC</a>. The
                fiduciary duty of loyalty imposes certain responsibilities on
                manager or member, respectively.
              </p>
            </div>

            <div class="col-12 col-md-9 paragraph" id="Responsibilities">
              <h2 class="primary-title">
                Responsibilities of Managers and Members in LLCs
              </h2>
              <p>
                The key duties of managers in a manager-managed LLC or members
                of a member-managed LLC related to the fiduciary duty of loyalty
                are the following:
              </p>
              <ul>
                <li>
                  Accounting to the LLC and hosting as trustee, the LLC’s
                  property, profit, or benefit derived from the manager or
                  member in 1) the conduct or winding up of the LLC’s affairs,
                  2) the use of the LLC’s property, or 3) the appropriation of a
                  business opportunity for the LLC.
                </li>
                <li>
                  Refraining from dealing with the LLC as a person with an
                  adverse interest to the LLC.
                </li>
                <li>Refraining from competing with the LLC.</li>
                <li>
                  Managers and members are expected to perform the above duties
                  of loyalty consistent with their obligations to good faith and
                  fair dealing.
                </li>
              </ul>
            </div>

            <div class="col-12 col-md-9 paragraph" id="Limits">
              <h2 class="primary-title">
                Limits to Manager or Member Fiduciary Duty
              </h2>
              <p>
                The Florida Revised LLC Act also details that certain limits
                exist to the stated fiduciary duty of loyalty, which include the
                following:
              </p>
              <ul>
                <li>
                  A manager or member is not in violation of their duty simply
                  because their conduct furthers an interest of their own.
                </li>
                <li>
                  A manager or member is allowed to rely on information,
                  reports, statements, or opinions prepared for them by 1)
                  employees or members of the LLC that are believed to be
                  competent and reliable, 2) legal counsel, CPAs, or other
                  professionals acting in their professional area of expertise,
                  and 3) an appointed committee of which the manager or member
                  is not a participating committee member and the committee
                  instills a reasonable degree of confidence.
                </li>
              </ul>
              <p>
                In addition to the fiduciary duty of loyalty, managers or
                members are expected to owe a fiduciary duty of care to the
                limited liability company and its members. This duty of care
                typically refers to refraining from any reckless or negligent
                conduct, willful misconduct, or knowingly committing any
                violations of the law. Managers and members must also conduct
                their fiduciary duties with an obligation toward good faith and
                fair dealing. Additionally, managers and members should consider
                long-term interests of the LLC, including economic, social,
                legal, and more. Managers and members should also consider the
                impact of company actions on the LLC employees, customers, and
                community at large.
              </p>
              <p>
                Your LLC
                <a href="{{ url_for('oa') }}">operating agreement</a> and other
                common law principles supplement a manager or member’s fiduciary
                responsibilities. The Florida Revised LLC Act gives emphasis to
                the enforceability of an operating agreement, as well as common
                law principles that relate to fiduciary duties, as supplements
                to the act.
              </p>
            </div>

            <div class="col-12 col-md-9 paragraph" id="Final">
              <h2 class="primary-title">
                Fiduciary Duties of LLCs: Final Thoughts
              </h2>
              <p>
                With the Florida Revised LLC Act, it is important to designate
                at formation whether your LLC is to be manager-managed or
                member-managed. The fiduciary responsibilities that guide both
                manager and member will be determined by this designation.
                Similarly, any limitations on those duties will derive from this
                designation, as well. It is smart practice to have an
                experienced attorney review your LLC management designation, as
                well as your company’s operating agreement, to ensure that
                managers and members are in compliance with the act and you
                don't forsake any
                <a href="{{ url_for('benefits') }}">benefits</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% endblock %}