<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Canonical start -->
    <link
      rel="canonical"
      href='{{"https://cindysfloridallc.com"+request.path}}'
    />
    <!-- Canonical end -->
    <!-- preconnect start -->
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    
    <!-- preconnect end -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="shortcut icon"
      type="image/png"
      href="{{ url_for('static',filename='images/favicon.ico') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/styles.css') }}"
    />
  </head>

  
  <body class="body-outer-404">
    {% include 'links/announcement/banner.html' %}
    {% include 'links/navbars/index.html' %}
    <div class="body-404">
      <div class="text-404">
        <h1>404</h1>
        <h2>Oops! Page not found</h2>
        <a href="{{ url_for('index') }}" class="return-btn">Return home</a>
      </div>
      <div class="image-404">
        <img
          src="{{ url_for('static',filename='images/illustrations/warning-404.svg') }}"
          alt="warning"
          width="722"
          height="608"
        />
      </div>
    </div>
    
    {% include 'contact.html' %}

    <script src="{{ url_for('static',filename='javascript/scripts.min.js') }}" defer></script>
  </body>
</html>
