<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Cindy's Florida LLC Service</title>
    <meta
      name="description"
      content="My site was designed with you in mind.I understand filing your Articles with Sunbiz is only the first part of running successful company."
    />

    <!-- Json-LD Breadcrumb -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "https://cindysfloridallc.com/",
              "name": "Form a Florida LLC"
            }
          },
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "https://cindysfloridallc.com/About",
              "name": "About Cindy's Florida LLC Service"
            }
          }
        ]
      }
    </script>
    <!-- Json-LD Breadcrumb end -->

    {% extends "links/master/index.html" %} {% block content %}

    <header id="main" class="header-promo page-header">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-9 mx-auto">
            <div class="row align-items-center">
              <div class="col-12">
                <div class="breadcrumb">
                  {% include "links/bread/index.html" %}
                  <div class="breadcrumb-item">
                    <span> About Me </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-7">
                <h1 class="promo-title">About Me</h1>
                <div class="line-break"></div>
                <a
                  href="https://app.cindysfloridallc.com/v2/intake/service"
                  rel="nofollow"
                  target="_blank"
                  class="btn-order"
                  >Order Now</a
                >
              </div>
              <div class="col-12 col-lg-5 d-none d-lg-block">
                <img
                  src="{{ url_for('static',filename='images/illustrations/talking.svg') }}"
                  alt="About Me"
                  class="promo-cover"
                  width="400"
                  height="234"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">

          <div class="col-12">
            <div class="table-of-content d-lg-none">
              <h6 class="block-title">Table of Contents</h6>
              <ul>
                <li>
                  <a href="#intro"> About Me </a>
                </li>
                <li>
                  <a href="#Pricing"> Pricing </a>
                </li>
                <li>
                  <a href="#testimonials">Testimonials</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-lg-4 col-xl-3 order-2 order-lg-1">
            <div class="sticky-side">
              <div class="table-of-content d-none d-lg-flex">
                <h6 class="block-title">Table of Contents</h6>
                <ul>
                  <li>
                    <a href="#intro"> About Me </a>
                  </li>
                  <li>
                    <a href="#Pricing"> Pricing </a>
                  </li>
                  <li>
                    <a href="#testimonials">Testimonials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-8 col-xl-9 order-1 order-lg-2">
            <div class="col-12 paragraph" id="intro">
              <div class="d-inline">
                <img
                  src="{{ url_for('static',filename='images/cindy-poster.webp') }}"
                  alt="Cindy's Poster"
                  class="paragraph-img rounded-sm graphic"
                  width="300"
                  height="300"
                  loading="lazy"
                />
              </div>
              <p>
                I have started and sold 12 businesses in my career. In my
                experience, the step that was unnecessarily difficult was the
                formation paperwork. Those experiences drove me to establish
                this company.
              </p>
              <p>
                My site was designed with you in mind. I understand filing your
                Articles with Sunbiz is only the first part of running a
                successful company.
              </p>
              <p>
                <b
                  ><a href="https://www.linkedin.com/in/cynthia-davies-74b63aa1" target="_blank" rel="nofollow"
                    >Learn more about me on my Linkedin page here.</a
                  ></b
                >
              </p>
              <p>
                Unsure an LLC or Corporation is for you? Whether your learning
                the ABCs of LLCs, or establishing a Professional Corporation, my
                team can help. My goal is to empower clients via informational
                and DIY pages. From obtaining an EIN, to establishing a bank
                account or live phone answering... we're happy to help :)
              </p>
            </div>

            <div class="col-12 paragraph pricing-row" id="Pricing">
              <h1 class="primary-title mb-5">Pricing</h1>

              <div class="row first-row">
                <!-- Free Tier -->
                <div class="col-lg-4 mb-5">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-price text-center">Mail Scanning</p>
                      <small class="text-center">
                        (Every Entity Receives 5 Free Pieces Per Year
                        Automatically)
                      </small>
                      <hr />
                      <ul class="fa-ul list-unstyled">
                        <li>
                          &#x2714; Monthly Mail Service
                          <span class="bigger">&raquo;</span> $100
                        </li>
                        <li>
                          &#x2714; Weekly Mail
                          <span class="bigger">&raquo;</span> $150
                        </li>
                        <li>
                          &#x2714; Daily Mail
                          <span class="bigger">&raquo;</span> $200
                        </li>
                        <li>
                          &#x2714; 5 Extra Pieces (10 Total)
                          <span class="bigger">&raquo;</span> $50
                        </li>
                      </ul>
                      <a href="#contact" class="btn btn-block text-uppercase"
                        >Learn More</a
                      >
                    </div>
                  </div>
                </div>
                <!-- Plus Tier -->
                <div class="col-lg-4 mb-5">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-price text-center">EIN</p>
                      <hr />
                      <ul class="fa-ul list-unstyled">
                        <li>
                          &#x2714; EIN (US Residents) for Double LLC (2 EINs)
                          <span class="bigger">&raquo;</span> $100
                        </li>
                        <li>
                          &#x2714; Foreign EIN (Non-US Residents) - for Double
                          LLC (2 EINs)
                          <span class="bigger">&raquo;</span> $300
                        </li>
                        <li>
                          &#x2714; EIN (US Residents)
                          <span class="bigger">&raquo;</span> $50
                        </li>
                        <li>
                          &#x2714; Foreign EIN (Non-US Residents)
                          <span class="bigger">&raquo;</span> $150
                        </li>
                      </ul>
                      <a href="#contact" class="btn btn-block text-uppercase"
                        >Learn More</a
                      >
                    </div>
                  </div>
                </div>

                <!-- Pro Tier -->
                <div class="col-lg-4 mb-5">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-price text-center">
                        Certified Copies or Certificate of Incumbency
                      </p>
                      <hr />
                      <ul class="fa-ul list-unstyled">
                        <li>
                          &#x2714; Certified Copies & Certificate of Status
                          <span class="bigger">&raquo;</span> $75
                        </li>
                        <li>
                          &#x2714; Certificate of Incumbency
                          <span class="bigger">&raquo;</span> $50
                        </li>
                      </ul>
                      <a href="#contact" class="btn btn-block text-uppercase"
                        >Learn More</a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="row second-row">
                <!-- Pro Tier -->
                <div class="col-lg-4 mb-5">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-price text-center">
                        Phone Forwarding or Answering
                      </p>
                      <hr />
                      <ul class="fa-ul list-unstyled">
                        <li>
                          &#x2714; Live Phone Answering Base Rate + $1.5 Per
                          Minute
                          <span class="bigger">&raquo;</span> $50
                        </li>
                        <li>
                          &#x2714; Phone Forwarding
                          <span class="bigger">&raquo;</span> $10
                        </li>
                      </ul>
                      <a href="#contact" class="btn btn-block text-uppercase"
                        >Learn More</a
                      >
                    </div>
                  </div>
                </div>
                <!-- Pro Tier -->
                <div class="col-lg-4 mb-5">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-price text-center">Apostille</p>
                      <small class="text-center">
                        (For International Clients)
                      </small>
                      <hr />
                      <ul class="fa-ul list-unstyled">
                        <li>
                          &#x2714; Apostilled Articles
                          <span class="bigger">&raquo;</span> $125
                        </li>
                      </ul>
                      <a href="#contact" class="btn btn-block text-uppercase"
                        >Learn More</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 paragraph" id="testimonials">
              <h1 class="primary-title">Testimonials</h1>
              <p class="testimonials-paragraph">
                Check out the reviews from our happy customers. Even more -
                <a href="https://g.page/r/CZ7ofbH5Cz57EAE" target="_blank" rel="nofollow"
                  >here</a
                >
              </p>

              <div class="col-12 mt-5">
                <div class="row">
                  <div
                    class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0 mb-5 mb-md-0"
                  >
                    <div class="testimonials-card">
                      <img
                        src="{{ url_for('static',filename='images/reviewer-1.png') }}"
                        alt="Essix White"
                        class="testimonial-user-photo"
                      />
                      <p>
                        There are some great articles on forming Florida LLCs vs
                        another state, e.g. Delaware, Wyoming or New Mexico.
                      </p>
                      <div
                        class="
                          d-flex
                          text-center
                          align-items-end
                          justify-content-center
                        "
                      >
                        <strong class="testimonial-name">Richard Lalli</strong>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0 mb-5 mb-md-0"
                  >
                    <div class="testimonials-card">
                      <img
                        src="{{ url_for('static',filename='images/reviewer-2.png') }}"
                        alt="reviewer2"
                        class="testimonial-user-photo"
                      />
                      <p>
                        A friendly local registered agent. I prefer her to the
                        faceless competitors!
                      </p>
                      <div
                        class="
                          d-flex
                          text-center
                          align-items-end
                          justify-content-center
                        "
                      >
                        <strong class="testimonial-name">David Hudson</strong>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0 mb-5 mb-md-0"
                  >
                    <div class="testimonials-card">
                      <img
                        src="{{ url_for('static',filename='images/reviewer-3.png') }}"
                        alt="reviewer3"
                        class="testimonial-user-photo"
                      />
                      <p>
                        Cindy's a sweetheart. I'll definitely be coming back.
                      </p>
                      <div
                        class="
                          d-flex
                          text-center
                          align-items-end
                          justify-content-center
                        "
                      >
                        <strong class="testimonial-name">Billy Shaw</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% endblock %}