<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
<div class="contact-fixed">
  <div class="position-relative">
    <div class="contact-circle">
      <img
        class="close"
        src="{{url_for('static', filename='images/icons/contact.svg')}}"
        alt="Contact"
      />
      <img
        class="open d-none"
        src="{{url_for('static', filename='images/icons/cancel.svg')}}"
        alt="Contact"
      />
    </div>

    <div class="contact-form">
      <script>
          hbspt.forms.create({
            region: "na1",
            portalId: "22739768",
            formId: "2339d2a6-cab6-4c4e-a19b-1aac80c237ff"
          });
        </script>
    </div>
  </div>
</div>