<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-xl-4">
        <div class="footer-menu">
          <div class="title">Contact Info</div>
          <div class="d-flex flex-column">
            <div class="contact-ft-item">Cindy's Florida LLC Formations</div>
            <div class="contact-ft-item">8051 N. Tamiami Trail STE E6</div>
            <div class="contact-ft-item">Sarasota, FL 34243</div>
            <a href="tel:+1-727-300-0042" class="contact-ft-item"
              >727-300-0042</a
            >
            <a href="mailto:intake@cindysfloridallc.com" class="contact-ft-item"
              >intake@cindysfloridallc.com</a
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-xl-2 offset-xl-1">
        <div class="footer-menu">
          <div class="title">Product</div>
          <ul>
            <li>
              <a
                href="https://app.cindysfloridallc.com/v2/intake/service"
                rel="nofollow"
                target="_blank"
                >Get Started</a
              >
            </li>
            <li>
              <a href="{{ url_for('index') }}">Home</a>
            </li>
            <li>
              <a href="{{ url_for('about') }}">Pricing</a>
            </li>
            <li>
              <a href="{{ url_for('about') }}">About Cindy</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-4 col-xl-2">
        <div class="footer-menu">
          <div class="title">Services</div>
          <ul>
            <li>
              <a href="{{ url_for('index') }}">Form an LLC</a>
            </li>
            <li>
              <a href="{{ url_for('agent') }}">Registered Agent</a>
            </li>
            <li>
              <a href="{{ url_for('holding') }}">Holding Companies</a>
            </li>
            <li>
              <a href="{{ url_for('corp') }}">Corporation</a>
            </li>
            <li>
              <a href="{{ url_for('name_search') }}">LLC Name Search</a>
            </li>
            <li>
              <a href="{{ url_for('taxes') }}">LLC Taxes</a>
            </li>
            <li>
              <a href="{{ url_for('fees') }}">LLC Fees</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-4 col-xl-3">
        <div class="footer-menu">
          <div class="title">Resources</div>
          <ul>
            <li>
              <a href="{{ url_for('anonymous') }}">Anonymous Double LLC</a>
            </li>
            <li>
              <a href="{{ url_for('dissolve_llc') }}"
                >Dissolving a Florida LLC</a
              >
            </li>
            <li>
              <a href="{{ url_for('fl_reqs') }}">LLC Requirements</a>
            </li>
            <li>
              <a href="{{ url_for('ar') }}">Annual Report</a>
            </li>

            <li>
              <a href="{{ url_for('land') }}">Land Trust</a>
            </li>

            <li>
              <a href="{{ url_for('vo') }}">Virtual Office</a>
            </li>
            <li>
              <a href="{{ url_for('mail') }}">Mail Forwarding</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="social-list">
          <!-- <a href="https://www.linkedin.com/in/cynthia-davies-74b63aa1/" class="item" target="_blank" rel="nofollow">
              <img
                src="{{ url_for('static',filename='images/icons/linkedin.svg') }}"
                alt="linkedin"
                class="icon"
                width="32"
                height="32"
              />
            </a>
            <a href="https://www.facebook.com/FormANewMexicoLLC/" class="item" target="_blank" rel="nofollow">
              <img
                src="{{ url_for('static',filename='images/icons/facebook.svg') }}"
                alt="facebook"
                class="icon"
                width="32"
                height="32"
              />
            </a> -->
          <!-- <a href="#" class="item" target="_blank" rel="nofollow">
              <img
                src="{{ url_for('static',filename='images/icons/twitter.svg') }}"
                alt="twitter"
                class="icon"
                width="32"
                height="32"
              />
            </a>
            <a href="#" class="item" target="_blank" rel="nofollow">
              <img
                src="{{ url_for('static',filename='images/icons/youtube.svg') }}"
                alt="youtube"
                class="icon"
                width="32"
                height="32"
              />
            </a>
            <a href="#" class="item" target="_blank" rel="nofollow">
              <img
                src="{{ url_for('static',filename='images/icons/instagram.svg') }}"
                alt="instagram"
                class="icon"
                width="32"
                height="32"
              />
            </a> -->
        </div>
      </div>
    </div>
    <div class="footer-line"></div>
    <div class="row">
      <div class="d-none d-md-flex col-12">
        <p class="footer-text">
          This site is solely intended for informational purposes. It is beyond
          the scope of this site to provide any legal or tax advice. Rather, we
          only intend to make you aware of the forms of ownership available to
          you. We advise you seek professional advice before embarking upon any
          course of action.
        </p>
      </div>
      <div class="col-12">
        <div class="footer-bottom">
          <a
            href="{{ url_for('index') }}"
            class="footer-logo"
            target="_blank"
            rel="nofollow"
          >
            <img
              src="{{ url_for('static',filename='images/logo.svg') }}"
              alt="Logo"
              class="icon"
              width="145"
              height="42"
              loading="lazy"
            />
          </a>

          <div class="copyright">
            Copyright
            <span id="copyright-year">
              <script>
                document
                  .getElementById("copyright-year")
                  .appendChild(
                    document.createTextNode(new Date().getFullYear())
                  );
              </script>
            </span>
            Cindy’s New Mexico LLC Formation Service , LLC
          </div>
          <div class="d-flex mx-auto mx-xl-0 ms-xl-auto">
            <a href="{{ url_for('privacy') }}" class="footer-link"
              >Privacy Policy</a
            >
            <a href="{{ url_for('terms') }}" class="footer-link"
              >Terms of Services</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
