<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Form a Florida LLC $225, Anonymity Available & Filed Same Day</title>
    <meta
      name="description"
      content="Your home for forming anonymous Florida LLCs, establishing a virtual office, opening a bank account and more. "
    />

    <!-- Json-LD Breadcrumb -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "https://cindysfloridallc.com/",
              "name": "Form a Florida LLC"
            }
          }
        ]
      }
    </script>
    <!-- Json-LD Breadcrumb end -->

    <!-- Business Schema start -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "LegalService",
        "founder": {
          "@type": "Person",
          "givenName": "Cynthia",
          "gender": "Female",
          "nationality": "https://en.wikipedia.org/wiki/USA",
          "worksFor": "https://cindysfloridallc.com/",
          "image": "https://cindysfloridallc.com/static/images/cindy-poster.jpeg",
          "name": "Cynthia Davies",
          "familyName": "Davies"
        },
        "telephone": "+1 (727) 300-0042",
        "priceRange": "$$$",
        "name": "Cindy's Florida LLC",
        "logo": "https://cindysfloridallc.com/static/images/florida-logo.jpg",
        "description": "We are a Florida LLC formation service. We provide a full suite of corporate services, from registered agent and virtual office services to incorporations and EINs.",
        "openingHours": "8:00 AM - 5:00 PM",
        "url": "https://cindysfloridallc.com/",
        "address": "8051 N Tamiami Trail STE E6, Sarasota, FL 34243"
      }
    </script>
    <!-- Business Schema finish -->

    {% extends "links/master/index.html" %} {% block content %}

    <header id="main" class="header-promo with-bg">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6">
            <h3 class="promo-title">Fast Florida LLC Formations</h3>
            <div class="line-break"></div>
            <p class="promo-text">
              We make forming a Florida Limited Liability Company (LLC) easy and
              fast. We do everything from submitting your company's Articles and
              drafting the operating agreement to being your registered agent in
              Florida.
            </p>
            <div class="promo-price">$225 - Same Day Filing</div>
            <a
              href="https://app.cindysfloridallc.com/v2/intake/service"
              rel="nofollow"
              target="_blank"
              class="btn-primary"
              >Order Now</a
            >
          </div>
          <div class="col-12 col-lg-5 offset-lg-1 d-none d-lg-block">
            <img
              src="{{ url_for('static',filename='images/illustrations/talking.svg') }}"
              alt="Fast New Mexico LLC Formations"
              class="promo-cover"
              width="500"
              height="366"
            />
          </div>
        </div>
      </div>
      <div class="features">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="feature-item">
                <img
                  src="{{ url_for('static',filename='images/contract.svg') }}"
                  alt="contract"
                  height="100"
                  width="100"
                  class="item-img obj-contain"
                />
                <div class="line-break"></div>
                <p>Fast Formations Same Day Filing - $225 TOTAL</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="feature-item">
                <img
                  src="{{ url_for('static',filename='images/warning.svg') }}"
                  alt="Paperplane"
                  height="100"
                  width="100"
                  class="item-img obj-contain"
                />
                <div class="line-break"></div>
                <p>Anonymous LLCs Available Upon Request</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="feature-item">
                <img
                  src="{{ url_for('static',filename='images/checklist.svg') }}"
                  alt="partnership"
                  height="100"
                  width="100"
                  class="item-img obj-contain"
                />
                <div class="line-break"></div>
                <p>Personal Service Guaranteed!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
     
      <section class="home-section">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-8">
              <div class="title-block">
                <span class="sub-text">LLC Benefits for just $225</span>
                <h3 class="title">Florida LLC Benefits</h3>
              </div>

              <div class="section-content">
                <p>
                  Florida's Sunbiz and Divison of Corporations encourage new
                  business formations. They provide limited liability
                  protections while lowering personal and business. If formed
                  correctly, a Florida LLC can also be anonymous - thus
                  providing you with a degree of protection from fortune hunters
                  and those who wish you harm. Forming an
                  <a href="{{ url_for('benefits') }}"
                    >LLC provides important benefits</a
                  >
                  and you should choose a formation service that understands the
                  ins and outs of the process. Florida companies have the
                  following advantages:
                </p>

                <div class="row checklist-merge none">
                  <div class="col-12 col-md-6">
                    <ul class="check-list">
                      <li>Anonymous Formation Strategies</li>
                      <li>Everything Done Online</li>
                      <li>Fast Filing Times</li>
                      <li>No Visit to Florida</li>
                      <li>No Visit to U.S.A.</li>
                    </ul>
                  </div>
                  <div class="col-12 col-md-6">
                    <ul class="check-list">
                      <li>LLCs are Taxable as S-Corps</li>
                      <li>LLCs are Taxable as C-Corps</li>
                      <li>Be A Resident Anywhere Worldwide</li>
                      <li>Limit Your Liability</li>
                    </ul>
                  </div>
                </div>
                <p>
                  Do your research before forming a limited liability company.
                  Competing providers add unnecessary fees and force you to
                  publish personal details. Find a discussion of
                  <a href="{{ url_for('benefits') }}"
                    >Florida LLC advantages here.</a
                  >
                </p>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="d-none d-lg-flex justify-content-center">
                <img
                  src="{{ url_for('static',filename='images/warning.svg') }}"
                  alt="warning"
                  class="section-img"
                  width="260"
                  height="219"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="home-section with-bg what-should">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-8">
              <div class="title-block">
                <span class="sub-text">LLC Fees for just $225</span>
                <h3 class="title">What you should know</h3>
              </div>
              <div class="section-content">
                <div class="section-paragraph">
                  <div class="secondary-normal-title with-link">
                    <h4 class="title">Holding Company</h4>
                    <a
                      href="{{ url_for('holding') }}"
                      class="d-none d-lg-flex more"
                      >Learn More</a
                    >
                  </div>
                  <p>
                    Those desiring additional protections may consider
                    establishing a holding companies with subsidiaries. Such
                    structures are common for real estate and other risk prone
                    industries, or for those with significant personal assets
                    who are interested in protecting them. A holding company
                    separates valuable assets from operating liabilities. This
                    graphics shows how the structure works:
                  </p>
                  <img
                    src="{{ url_for('static',filename='images/holding.svg') }}"
                    alt="New Mexico LLC Formations"
                    height="500"
                    width="400"
                    class="paragraph-img-section mx-auto"
                    loading="lazy"
                  />
                  <a href="{{ url_for('holding') }}" class="d-lg-none more"
                    >Learn More</a
                  >
                </div>
                <div class="d-flex d-lg-none justify-content-center">
                  <img
                    src="{{ url_for('static',filename='images/illustrations/protection.svg') }}"
                    alt="warning"
                    class="section-img"
                    width="260"
                    height="219"
                    loading="lazy"
                  />
                </div>
                <div class="section-paragraph">
                  <div class="secondary-normal-title with-link">
                    <h4 class="title">Anonymous Florida LLC</h4>
                    <a
                      href="{{ url_for('anonymous') }}"
                      class="d-none d-lg-flex more"
                      >Learn More</a
                    >
                  </div>
                  <p>
                    Florida leads the US in corporate disclosure laws and
                    transparency. The Public Records Law and Government in the
                    Sunshine Law each dictate what each company must disclose
                    and that such disclosures be permanently available for
                    anyone who wants them. Given this, many incorrectly assume
                    it is not possible to form an
                    <a href="{{ url_for('anonymous') }}"
                      >anonymous LLC in Florida</a
                    >.
                  </p>
                  <p>
                    A Florida LLC is required to list its owner on the formation
                    documents. The easiest solution is to form an anonymous LLC
                    in another state and list it as the owner. For example, New
                    Mexico offers an anonymous LLC that has no annual report.
                    Setting up such an LLC and listing it as the owner leads
                    anyone who wants to find your identity into a dead end.
                    There many legitimate motives for desiring anonymity -
                    especially during the digital age. Public documents were
                    previously hard to hunt down. Involving faxing and mailing
                    things across the country. The records were piles of
                    documents in a county building somewhere. Today, though,
                    corporate records are easy to search for online.
                  </p>
                  <a href="{{ url_for('anonymous') }}" class="d-lg-none more"
                    >Learn More</a
                  >
                </div>

                <div class="section-paragraph">
                  <div class="secondary-normal-title with-link">
                    <h4 class="title">Florida Corporations</h4>
                    <a
                      href="{{ url_for('corp') }}"
                      class="d-none d-lg-flex more"
                      >Learn More</a
                    >
                  </div>
                  <p>
                    We generally advise forming an LLC because they're easier to
                    manage and have more tax flexibility than a Corporation.
                    However, there are some circumstances where a traditional
                    Corporation is the best choice. For example, if a board of
                    directors is desired, or split share classes, then a Corp
                    can provide an easier template to work with. While Florida
                    does have a corporate tax rate of 5.5%, in addition to the
                    federal rate, S-Corp taxation is available. Learn more here
                    about
                    <a href="{{ url_for('corp') }}">Florida corporations</a>.
                  </p>
                  <a href="{{ url_for('corp') }}" class="d-lg-none more"
                    >Learn More</a
                  >
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="d-none d-lg-flex justify-content-center">
                <img
                  src="{{ url_for('static',filename='images/protect.svg') }}"
                  alt="warning"
                  class="section-img"
                  width="260"
                  height="219"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="home-section">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-8">
              <div class="title-block with-row">
                <div class="child-block">
                  <span class="sub-text">
                    Get your business up and running today!
                  </span>
                  <h3 class="title">Form your LLC</h3>
                </div>
                <div class="price"></div>
                <a
                  href="https://app.cindysfloridallc.com/v2/intake/service"
                  rel="nofollow"
                  target="_blank"
                  class="btn-primary d-md-none"
                  >Order Now</a
                >
              </div>

              <div class="section-content">
                <p>
                  We make forming a Florida Limited Liability Company (LLC) easy
                  and fast. We do everything from submitting your company's
                  Articles and drafting the operating agreement to being your
                  registered agent in Florida. We submit everything within 24hrs
                  and generally Sunbiz accepts the company within 3-10 days
                  (depending upon Florida's volume), so everything will be ready
                  to print, sign and take to the bank.
                </p>
                <p>
                  Our service also provides the option of forming an anonymous
                  LLC in Florida so that your personal details do not appear on
                  the Sunbiz website. Competing formation services take more
                  time and charge obscene fees for expedited service. Everything
                  is filed within 24 hours of us receiving your order.
                </p>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="d-flex flex-column align-items-center">
                <img
                  src="{{ url_for('static',filename='images/improvement.svg') }}"
                  alt="warning"
                  class="section-img"
                  width="260"
                  height="219"
                  loading="lazy"
                />
                <a
                  href="https://app.cindysfloridallc.com/v2/intake/service"
                  rel="nofollow"
                  target="_blank"
                  class="btn-primary"
                  >Order Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="home-section with-paragraph">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-8">
              <div class="title-block">
                <span class="sub-text">Corporation for just $199</span>
                <h3 class="title">Frequently Asked Questions</h3>
              </div>
              <div class="section-content">
                <div class="section-paragraph">
                  <div class="secondary-bold-title">
                    <h3 class="title">Permitted LLC Endings</h3>
                  </div>
                  <p>
                    Florida dictates every LLC's name must disclose it is a
                    limited liability company. The most frequent way of doing
                    this is by simply adding "LLC" to the end, however you may
                    use any variation such as "limited liability company"
                    "Limited Liability Co.", "Limited Co.", etc.
                  </p>
                </div>

                <div class="section-paragraph">
                  <div class="secondary-bold-title">
                    <h3 class="title">More Than LLCs</h3>
                  </div>
                  <ul class="list-group">
                    <li>Mail Scanning</li>
                    <li>Online Portal</li>
                    <li>Affordable Virtual Offices</li>
                    <li>Registered Agents</li>
                    <li>Professional Book Keeping</li>
                    <li>& More</li>
                  </ul>
                </div>

                <div class="section-paragraph">
                  <div class="secondary-bold-title">
                    <h3 class="title">Florida Land Trust</h3>
                  </div>
                  <p>
                    A land trust is generally used to anonymously own real
                    estate. It can also be used to transfer a property out of
                    your name and to enjoy the benefits of an LLC. The trust
                    avoids accelerating the mortgage and removes your personal
                    name from the title. Learn more about
                    <a href="{{ url_for('land') }}">Florida land trusts</a>.
                  </p>
                </div>

                <div class="section-paragraph">
                  <div class="secondary-bold-title">
                    <h3 class="title">Florida Registered Agent Services</h3>
                  </div>
                  <p>
                    Florida companies must maintain a
                    <a href="{{ url_for('agent') }}"
                      >registered agent in Florida</a
                    >. Each LLC we create includes registered agent services for
                    a year. Afterward, our service is $75 annually and includes
                    the use of our address to keep you private. We also provide
                    filing notifications and keep your personal address out of
                    the public record. Follow our link to learn more about why
                    you shouldn't be your own registered agent.
                  </p>
                </div>

                <div class="accordion bordered">
                  <div class="item" open="false">
                    <div class="item-header">Problems Filing Yourself</div>
                    <div class="item-body">
                      <div class="content">
                        <p>
                          The primary reason not to register the LLC yourself is
                          the privacy aspect. We have clients call us every week
                          who tried to save a few dollars doing it themselves.
                          They quickly found out one mistake cost them more than
                          money. Having us set up your LLC also provides you
                          with a number of important documents and a help line
                          in case you have any questions.
                          <br /><br />
                          There are other providers. However, most of them tend
                          to be large national incorporation companies. They
                          charge more, take longer and care less than we do.
                          Some of them are simply just resellers of local
                          incorporation and virtual office providers such as us.
                          There are no call center employees here, nor will you
                          ever be passed off from one person to another.
                          <br /><br />
                          In future years, you can save money with our
                          <a href="{{ url_for('agent') }}"
                            >cheap $75 registered agent service.</a
                          >
                        </p>
                      </div>
                      <a
                        href="https://app.cindysfloridallc.com/v2/intake/service"
                        rel="nofollow"
                        target="_blank"
                        class="more"
                        >Learn More</a
                      >
                    </div>
                  </div>
                  <div class="item" open="false">
                    <div class="item-header">
                      What is An Employer Identification Number?
                    </div>
                    <div class="item-body">
                      <div class="content">
                        <p>
                          An EIN stands for Employer Identification Number, or
                          more simply is an Employer ID. This number functions
                          as the equivalent of the company's social security
                          number. It is required to open a bank account, have
                          employees and to obtain wholesale rates. Having an EIN
                          is important because it allows the separation of your
                          personal and business assets. This separation assists
                          with asset protection and obtaining various tax
                          benefits which can only be had by setting up a
                          company.
                        </p>
                      </div>
                      <a
                        class="more"
                        href="https://app.cindysfloridallc.com/v2/intake/service"
                        rel="nofollow"
                        target="_blank"
                        >Learn More</a
                      >
                    </div>
                  </div>
                  <div class="item" open="false">
                    <div class="item-header">What is A Corporate Veil?</div>
                    <div class="item-body">
                      <div class="content">
                        <p>
                          The corporate veil is what provides personal
                          protection from business liabilities. It centers
                          around the idea that the LLC or Corporation is an
                          entity separate from its owners. As such, the company
                          can agree to contracts and be solely liable for debt
                          and other liabilities. This degree of separation
                          prevents the owner's assets from being taken by the
                          company's creditors.
                        </p>
                      </div>
                      <a
                        class="more"
                        href="https://app.cindysfloridallc.com/v2/intake/service"
                        rel="nofollow"
                        target="_blank"
                        >Learn More</a
                      >
                    </div>
                  </div>
                  <div class="item" open="false">
                    <div class="item-header">What Documents Are Included?</div>
                    <div class="item-body">
                      <div class="content">
                        <p>
                          Our service provides everything needed to open a bank
                          account except an EIN (which we can assist with too).
                          You receive your Articles of Organization with the
                          Sunbiz stamp, an Operating Agreement and more. These
                          documents are ready to download, print and sign
                          whereas other services often provide templates you
                          must complete yourself. All of our documents are in
                          word format and can easily be edited without any
                          additional fees.
                        </p>
                      </div>
                      <a
                        class="more"
                        href="https://app.cindysfloridallc.com/v2/intake/service"
                        rel="nofollow"
                        target="_blank"
                        >Learn More</a
                      >
                    </div>
                  </div>
                  <div class="item" open="false">
                    <div class="item-header">
                      What's An Operating Agreement?
                    </div>
                    <div class="item-body">
                      <div class="content">
                        <p>
                          An operating agreement is a contract which delineates
                          the rights and responsibilities of the owners and
                          managers. With one owner the the operating agreement
                          is fairly short. In such cases, the agreement creates
                          some guidelines and is useful for opening a bank
                          account, but there is no need for protection from
                          other owners.
                        </p>
                      </div>
                      <a href="{{ url_for('oa') }}" class="more">Learn More</a>
                    </div>
                  </div>
                  <div class="item" open="false">
                    <div class="item-header">Are There Annual Reports?</div>
                    <div class="item-body">
                      <div class="content">
                        <p>
                          Florida requires you file an annual report every year
                          to keep your company in good standing. Failure to pay
                          on time can result in significant fines. We are happy
                          to assist you with filing this report. For simplicity,
                          simply check the subscribe feature on our site to
                          automatically renew every year without any worries.
                        </p>
                      </div>
                      <a href="{{ url_for('ar') }}" class="more">Learn More</a>
                    </div>
                  </div>
                  <div class="item" open="false">
                    <div class="item-header">Sole-Proprietorship Negatives</div>
                    <div class="item-body">
                      <div class="content">
                        <p>
                          We strongly advise against this. A "Sole-Prop" is when
                          you run everything personally. This provides no
                          protection from liabilities, no tax benefits and is
                          not viewed as being professional generally speaking.
                        </p>
                      </div>
                      <a
                        href="https://app.cindysnewmexicollcs.com/intake"
                        rel="nofollow"
                        target="_blank"
                        class="more"
                        >Learn More</a
                      >
                    </div>
                  </div>
                  <div class="item" open="false">
                    <div class="item-header">Are FL LLCs Taxed?</div>
                    <div class="item-body">
                      <div class="content">
                        <p>
                          A limited liability company is treated as a pass
                          through entity by default. For FL residents this means
                          there will be no personal income tax since the
                          company's earnings flow directly onto your personal
                          tax statement. While an LLC does not pay taxes
                          directly, it can still assist with lowering your
                          overall tax rate. This is due to the new tax laws
                          congress has passed which provide unique benefits to
                          business owners you cannot obtain via being a
                          sole-proprietorship.
                        </p>
                      </div>
                      <a
                        href="https://app.cindysnewmexicollcs.com/intake"
                        rel="nofollow"
                        target="_blank"
                        class="more"
                        >Learn More</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="d-none d-lg-flex justify-content-center">
                <img
                  src="{{ url_for('static',filename='images/illustrations/mail.svg') }}"
                  alt="mail"
                  class="section-img"
                  width="250"
                  height="200"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="home-section related-index">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-9">
              <div class="title-block">
                <h5 class="title">Related Links</h5>
              </div>

              <div class="section-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>

                <div class="related-index">
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <ul class="first-list">
                        <li>
                          <a href="{{ url_for('benefits') }}"
                            >LLC Benefits</a
                          >
                        </li>
                        <li>
                          <a href="{{ url_for('anonymous') }}"
                            >Anonymous Florida LLC</a
                          >
                        </li>
                        <li>
                          <a href="{{ url_for('land') }}"
                            >Florida Land Trust</a
                          >
                        </li>
                        <li>
                          <a href="{{ url_for('agent') }}"
                            >Registered Agent</a
                          >
                        </li>
                        <li>
                          <a href="{{ url_for('corp') }}"
                            >Corporation</a
                          >
                        </li>
                        <li>
                          <a href="{{ url_for('name_search') }}"
                            >Florida LLC Name Search</a
                          >
                        </li>
                        <li>
                          <a href="{{ url_for('dissolve_llc') }}"
                            >Dissolving a Florida LLC</a
                          >
                        </li>
                        <li>
                          <a href="{{ url_for('license') }}"
                            >Getting a Florida Business License</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-12 col-md-6">
                      <ul>
                        <li>
                          <a href="{{ url_for('holding') }}"
                            >Holding Companies</a
                          >
                        </li>
                        <li>
                          <a href="{{ url_for('fl_reqs') }}"
                            >LLC Requirements</a
                          >
                        </li>
                        <li>
                          <a href="{{ url_for('ar') }}"
                            >Annual Report</a
                          >
                        </li>
                        <li>
                          <a href="{{ url_for('taxes') }}"
                            >Florida LLC Taxes</a
                          >
                        </li>
                        <li>
                          <a href="{{ url_for('fees') }}"
                            >Florida LLC Fees</a
                          >
                        </li>
                        <li>
                          <a href="{{ url_for('vo') }}"
                            >Florida Virtual Office</a
                          >
                        </li>
                        <li>
                          <a href="{{ url_for('mail') }}"
                            >Florida Mail Forwarding</a
                          >
                        </li>
                        <li>
                          <a href="{{ url_for('vo_business_web') }}"
                            >Resources for Building A Business Website</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="get-started">
        <div class="container">
          <div class="block">
            <div class="promo">
              <h4 class="title">Ready to get started?</h4>
              <h6 class="sub-title">Get your business up and running today!</h6>
              <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <a  href="https://app.cindysfloridallc.com/v2/intake/service"
                  rel="nofollow"
                  target="_blank" class="d-none d-md-flex btn-primary"
                >Let's get to business</a
              >
            </div>
            <img
              src="{{ url_for('static',filename='images/illustrations/celebrate.svg') }}"
              alt="celebrate"
              class="cover"
              width="475"
              height="436"
              loading="lazy"
            />
            <a 
              href="https://app.cindysfloridallc.com/v2/intake/service"
              rel="nofollow"
              target="_blank" 
              class="d-md-none btn-primary">Let's get to business</a>
          </div>
        </div>
      </section>
      <section class="testimonials">
        <div class="container">
          <div class="title-block">
            <h3 class="title">Testimonials</h3>
            <div class="line-break"></div>
            <span class="sub-text">
              Check out the reviews from our happy customers. Even more - here
            </span>
          </div>
          <div class="testimonials-list">
            <div class="row gx-sm-5">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                  <img
                    src="{{ url_for('static',filename='images/reviewer-1.jpg') }}"
                    alt="Reviewer"
                    class="image"
                    width="141"
                    height="140"
                    loading="lazy"
                  />
                  <p class="reviewer-text">
                    Awesome, attentive, fast, overall great service. It was
                    simple, and she was always available via phone, or email to
                    answer any of my questions. Even helped me to secure my
                    foundation on the specific date I wanted.
                  </p>
                  <span class="reviewer-fullname"> - Essix White </span>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                  <img
                    src="{{ url_for('static',filename='images/reviewer-4.jpg') }}"
                    alt="Reviewer"
                    class="image"
                    width="141"
                    height="140"
                    loading="lazy"
                  />
                  <p class="reviewer-text">
                    Cindy is super great helped me LLC my company and gave me
                    all the correct documents. Thanks!! She was awesome and very
                    responsive. 5 Stars
                  </p>
                  <span class="reviewer-fullname">
                    - Michael Bigleague Mckenzie
                  </span>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                  <img
                    src="{{ url_for('static',filename='images/reviewer-3.jpg') }}"
                    alt="Reviewer"
                    class="image"
                    width="141"
                    height="140"
                    loading="lazy"
                  />
                  <p class="reviewer-text">
                    Extraordinary client care... Lightening fast response to
                    questions. This was my third LLC formed. The first two I did
                    myself. Cindy made it so simple and thoroughly done that I
                    wonder why I ever did the others. She is so worth the money!
                  </p>
                  <span class="reviewer-fullname"> - Bex Harder </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end -->
      <div class="container d-none">
        <div class="row">
          <div class="col-12">
            <div class="table-of-content d-lg-none">
              <h6 class="block-title">Table of Contents</h6>
              <ul>
                <li>
                  <a href="#intro"> Form a Florida LLC </a>
                </li>
                <li>
                  <a href="#Benefits"> Florida LLC Benefits </a>
                </li>
                <li>
                  <a href="#Package"> Our LLC Package </a>
                </li>
                <li>
                  <a href="#Holding"> Holding Company </a>
                </li>
                <li>
                  <a href="#Questions"> Florida LLC Questions </a>
                </li>
                <li>
                  <a href="#Anonymous"> Anonymous Florida LLC </a>
                </li>
                <li>
                  <a href="#Permitted"> Permitted LLC Endings </a>
                </li>
                <li>
                  <a href="#More"> More Than LLCs </a>
                </li>
                <li>
                  <a href="#Corporations"> Florida Corporations </a>
                </li>
                <li>
                  <a href="#Land-Trust"> Florida Land Trust </a>
                </li>
                <li>
                  <a href="#Agent"> Florida Registered Agent Services </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-lg-4 col-xl-3 order-2 order-lg-1">
            <div class="sticky-side">
              <div class="table-of-content d-none d-lg-flex">
                <h6 class="block-title">Table of Contents</h6>
                <ul>
                  <li>
                    <a href="#intro"> Form a Florida LLC </a>
                  </li>
                  <li>
                    <a href="#Benefits"> Florida LLC Benefits </a>
                  </li>
                  <li>
                    <a href="#Package"> Our LLC Package </a>
                  </li>
                  <li>
                    <a href="#Holding"> Holding Company </a>
                  </li>
                  <li>
                    <a href="#Questions"> Florida LLC Questions </a>
                  </li>
                  <li>
                    <a href="#Anonymous"> Anonymous Florida LLC </a>
                  </li>
                  <li>
                    <a href="#Permitted"> Permitted LLC Endings </a>
                  </li>
                  <li>
                    <a href="#More"> More Than LLCs </a>
                  </li>
                  <li>
                    <a href="#Corporations"> Florida Corporations </a>
                  </li>
                  <li>
                    <a href="#Land-Trust"> Florida Land Trust </a>
                  </li>
                  <li>
                    <a href="#Agent"> Florida Registered Agent Services </a>
                  </li>
                </ul>
              </div>
              <!-- related -->
              {% include "/links/related/index.html" %}
            </div>
          </div>
          <div class="col-12 col-lg-8 col-xl-9 order-1 order-lg-2">
            <div class="col-12 paragraph" id="intro">
              <h1 class="primary-title">Form a Florida LLC</h1>
              <p class="secondary-title">$225 - Same Day Filing</p>
              <p>
                We make forming a Florida Limited Liability Company (LLC) easy
                and fast. We do everything from submitting your company's
                Articles and drafting the operating agreement to being your
                registered agent in Florida. We submit everything within 24hrs
                and generally Sunbiz accepts the company within 3-10 days
                (depending upon Florida's volume), so everything will be ready
                to print, sign and take to the bank. <br /><br />Our service
                also provides the option of forming an anonymous LLC in Florida
                so that your personal details do not appear on the Sunbiz
                website. Competing formation services take more time and charge
                obscene fees for expedited service. Everything is filed within
                24 hours of us receiving your order.
              </p>
            </div>

            <div class="col-12 paragraph" id="Benefits">
              <h2 class="primary-title boxed">Florida LLC Benefits</h2>
              <p>
                Florida's Sunbiz and Divison of Corporations encourage new
                business formations. They provide limited liability protections
                while lowering personal and business. If formed correctly, a
                Florida LLC can also be anonymous - thus providing you with a
                degree of protection from fortune hunters and those who wish you
                harm. Forming an
                <a href="{{ url_for('benefits') }}"
                  >LLC provides important benefits</a
                >
                and you should choose a formation service that understands the
                ins and outs of the process. Florida companies have the
                following advantages:
              </p>
              <br />

              <ul class="list-group">
                <li>Anonymous Formation Strategies</li>
                <li>Everything Done Online</li>
                <li>Fast Filing Times</li>
                <li>No Visit to Florida</li>
                <li>No Visit to U.S.A.</li>
                <li>LLCs are Taxable as S-Corps</li>
                <li>LLCs are Taxable as C-Corps</li>
                <li>Be A Resident Anywhere Worldwide</li>
                <li>Limit Your Liability</li>
              </ul>
            </div>

            <div class="col-12 paragraph">
              <p>
                Do your research before forming a limited liability company.
                Competing providers add unnecessary fees and force you to
                publish personal details. Find a discussion of
                <a href="{{ url_for('benefits') }}"
                  >Florida LLC advantages here.</a
                >
              </p>
            </div>

            <div class="col-12 paragraph" id="Package">
              <h3 class="primary-title boxed text-center">Our LLC Package</h3>

              <p>
                We are one of the few local Florida LLC providers. To us, you're
                not a number but an important customer. Our pricing is straight
                forward without any upsells. We sincerely believe this method is
                easier for everyone. We take what we do seriously and you should
                too. From affordable formations to annual compliance, there is
                no reason to overpay for a national provider such as Legal Zoom.
                Such providers often simply resell formation and agent services
                such as ours. Our service provides:
              </p>

              <ul class="list-group">
                <li>Discrete & Anonymous</li>
                <li>Business Address for Privacy</li>
                <li>We're The Listed Organizer</li>
                <li>Editable Operating Agreement</li>
                <li>Bank Account Resolution</li>
                <li>Articles of Organization</li>
                <li>Operating Guide</li>
                <li>Annual Compliance Assistance</li>
              </ul>
              <p>
                If you shop around, then you will find other providers begin
                with one price before trying to upsell basic services that
                frankly should be provided from the beginning. LegalZoom, for
                example, has a 30 day turn around for their basic package AND
                only includes an operating agreement if you pay ~$70 more.
              </p>
            </div>

            <div class="col-12 paragraph" id="Holding">
              <h4 class="primary-title">Holding Company</h4>
              <p>
                Those desiring additional protections may consider establishing
                a holding companies with subsidiaries. Such structures are
                common for real estate and other risk prone industries, or for
                those with significant personal assets who are interested in
                protecting them. A holding company separates valuable assets
                from operating liabilities. This graphics shows how the
                structure works:
              </p>
              <br />
              <img
                src="{{ url_for('static',filename='images/holding.svg') }}"
                alt="New Mexico LLC Formations"
                height="500"
                width="400"
                class="paragraph-img mx-auto"
                loading="lazy"
              />
            </div>

            <div class="col-12 paragraph" id="Questions">
              <h3 class="primary-title">Florida LLC Questions</h3>

              <div class="accordion bordered">
                <div class="item" open="false">
                  <div class="item-header">Problems Filing Yourself</div>
                  <div class="item-body">
                    <p>
                      The primary reason not to register the LLC yourself is the
                      privacy aspect. We have clients call us every week who
                      tried to save a few dollars doing it themselves. They
                      quickly found out one mistake cost them more than money.
                      Having us set up your LLC also provides you with a number
                      of important documents and a help line in case you have
                      any questions.
                      <br /><br />
                      There are other providers. However, most of them tend to
                      be large national incorporation companies. They charge
                      more, take longer and care less than we do. Some of them
                      are simply just resellers of local incorporation and
                      virtual office providers such as us. There are no call
                      center employees here, nor will you ever be passed off
                      from one person to another.
                      <br /><br />
                      In future years, you can save money with our
                      <a href="{{ url_for('agent') }}"
                        >cheap $75 registered agent service.</a
                      >
                    </p>
                  </div>
                </div>
                <div class="item" open="false">
                  <div class="item-header">
                    What is An Employer Identification Number?
                  </div>
                  <div class="item-body">
                    <p>
                      An EIN stands for Employer Identification Number, or more
                      simply is an Employer ID. This number functions as the
                      equivalent of the company's social security number. It is
                      required to open a bank account, have employees and to
                      obtain wholesale rates. Having an EIN is important because
                      it allows the separation of your personal and business
                      assets. This separation assists with asset protection and
                      obtaining various tax benefits which can only be had by
                      setting up a company.
                    </p>
                  </div>
                </div>
                <div class="item" open="false">
                  <div class="item-header">What is A Corporate Veil?</div>
                  <div class="item-body">
                    <p>
                      The corporate veil is what provides personal protection
                      from business liabilities. It centers around the idea that
                      the LLC or Corporation is an entity separate from its
                      owners. As such, the company can agree to contracts and be
                      solely liable for debt and other liabilities. This degree
                      of separation prevents the owner's assets from being taken
                      by the company's creditors.
                    </p>
                  </div>
                </div>
                <div class="item" open="false">
                  <div class="item-header">What Documents Are Included?</div>
                  <div class="item-body">
                    <p>
                      Our service provides everything needed to open a bank
                      account except an EIN (which we can assist with too). You
                      receive your Articles of Organization with the Sunbiz
                      stamp, an Operating Agreement and more. These documents
                      are ready to download, print and sign whereas other
                      services often provide templates you must complete
                      yourself. All of our documents are in word format and can
                      easily be edited without any additional fees.
                    </p>
                  </div>
                </div>
                <div class="item" open="false">
                  <div class="item-header">What's An Operating Agreement?</div>
                  <div class="item-body">
                    <p>
                      An operating agreement is a contract which delineates the
                      rights and responsibilities of the owners and managers.
                      With one owner the the operating agreement is fairly
                      short. In such cases, the agreement creates some
                      guidelines and is useful for opening a bank account, but
                      there is no need for protection from other owners.
                    </p>
                  </div>
                </div>
                <div class="item" open="false">
                  <div class="item-header">Are There Annual Reports?</div>
                  <div class="item-body">
                    <p>
                      Florida requires you file an annual report every year to
                      keep your company in good standing. Failure to pay on time
                      can result in significant fines. We are happy to assist
                      you with filing this report. For simplicity, simply check
                      the subscribe feature on our site to automatically renew
                      every year without any worries.
                    </p>
                  </div>
                </div>
                <div class="item" open="false">
                  <div class="item-header">Sole-Proprietorship Negatives</div>
                  <div class="item-body">
                    <p>
                      We strongly advise against this. A "Sole-Prop" is when you
                      run everything personally. This provides no protection
                      from liabilities, no tax benefits and is not viewed as
                      being professional generally speaking.
                    </p>
                  </div>
                </div>
                <div class="item" open="false">
                  <div class="item-header">Are FL LLCs Taxed?</div>
                  <div class="item-body">
                    <p>
                      A limited liability company is treated as a pass through
                      entity by default. For FL residents this means there will
                      be no personal income tax since the company's earnings
                      flow directly onto your personal tax statement. While an
                      LLC does not pay taxes directly, it can still assist with
                      lowering your overall tax rate. This is due to the new tax
                      laws congress has passed which provide unique benefits to
                      business owners you cannot obtain via being a
                      sole-proprietorship.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 paragraph" id="Anonymous">
              <h3 class="primary-title boxed">Anonymous Florida LLC</h3>
              <p>
                Florida leads the US in corporate disclosure laws and
                transparency. The Public Records Law and Government in the
                Sunshine Law each dictate what each company must disclose and
                that such disclosures be permanently available for anyone who
                wants them. Given this, many incorrectly assume it is not
                possible to form an
                <a href="{{ url_for('anonymous') }}">anonymous LLC in Florida</a
                >.
              </p>
              <p>
                A Florida LLC is required to list its owner on the formation
                documents. The easiest solution is to form an anonymous LLC in
                another state and list it as the owner. For example, New Mexico
                offers an anonymous LLC that has no annual report. Setting up
                such an LLC and listing it as the owner leads anyone who wants
                to find your identity into a dead end. There many legitimate
                motives for desiring anonymity - especially during the digital
                age. Public documents were previously hard to hunt down.
                Involving faxing and mailing things across the country. The
                records were piles of documents in a county building somewhere.
                Today, though, corporate records are easy to search for online.
              </p>
            </div>

            <div class="col-12 paragraph" id="Permitted">
              <h4 class="primary-title">Permitted LLC Endings</h4>
              <p>
                Florida dictates every LLC's name must disclose it is a limited
                liability company. The most frequent way of doing this is by
                simply adding "LLC" to the end, however you may use any
                variation such as "limited liability company" "Limited Liability
                Co.", "Limited Co.", etc.
              </p>
            </div>

            <div class="col-12 paragraph" id="More">
              <h3 class="primary-title">More Than LLCs</h3>

              <ul class="list-group">
                <li>Mail Scanning</li>
                <li>Online Portal</li>
                <li>Affordable Virtual Offices</li>
                <li>Registered Agents</li>
                <li>Professional Book Keeping</li>
                <li>& More</li>
              </ul>
            </div>

            <div class="col-12 paragraph" id="Corporations">
              <h3 class="primary-title">Florida Corporations</h3>
              <p>
                We generally advise forming an LLC because they're easier to
                manage and have more tax flexibility than a Corporation.
                However, there are some circumstances where a traditional
                Corporation is the best choice. For example, if a board of
                directors is desired, or split share classes, then a Corp can
                provide an easier template to work with. While Florida does have
                a corporate tax rate of 5.5%, in addition to the federal rate,
                S-Corp taxation is available. Learn more here about
                <a href="{{ url_for('corp') }}">Florida corporations</a>.
              </p>
            </div>

            <div class="col-12 paragraph" id="Land-Trust">
              <h3 class="primary-title">Florida Land Trust</h3>
              <p>
                A land trust is generally used to anonymously own real estate.
                It can also be used to transfer a property out of your name and
                to enjoy the benefits of an LLC. The trust avoids accelerating
                the mortgage and removes your personal name from the title.
                Learn more about
                <a href="{{ url_for('land') }}">Florida land trusts</a>.
              </p>
            </div>

            <div class="col-12 paragraph" id="Agent">
              <h3 class="primary-title">Florida Registered Agent Services</h3>
              <p>
                Florida companies must maintain a
                <a href="{{ url_for('agent') }}">registered agent in Florida</a
                >. Each LLC we create includes registered agent services for a
                year. Afterward, our service is $75 annually and includes the
                use of our address to keep you private. We also provide filing
                notifications and keep your personal address out of the public
                record. Follow our link to learn more about why you shouldn't be
                your own registered agent.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% endblock %}