<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Terms and Conditions</title>

    <meta
      name="description"
      content="This webpage represents a legal document and is the Terms and Conditions hereinafter called “Agreement” when you are using our website https://cindysfloridallc.com, and all other websites owned by our company The Things We Do PR, LLC including our mobile application(s), hereinafter and collectively referred to as our Website."
    />

    <!-- Json-LD Breadcrumb -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "https://cindysfloridallc.com/",
              "name": "New Mexico LLC"
            }
          },
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "https://cindysfloridallc.com/Terms",
              "name": "Terms and Conditions"
            }
          }
        ]
      }
    </script>
    <!-- Json-LD Breadcrumb end -->

    {% extends "links/master/index.html" %} {% block content %}

    <header id="main" class="header-promo page-header">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-9 mx-auto">
            <div class="row align-items-center">
              <div class="col-12">
                <div class="breadcrumb">
                  {% include "links/bread/index.html" %}
                  <div class="breadcrumb-item">
                    <span> Terms and Conditions </span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-7">
                <h1 class="promo-title">Terms and Conditions</h1>
              </div>
              <div class="col-12 col-lg-5 d-none d-lg-block">
                <img
                  src="{{ url_for('static',filename='images/warning.svg') }}"
                  alt="warning"
                  class="promo-cover"
                  width="730"
                  height="728"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="table-of-content d-lg-none">
              <h6 class="block-title">Table of Contents</h6>
              <ul>
                <li>
                  <a href="#Terms"> Terms and Conditions</a>
                </li>
                <li>
                  <a href="#Definitions"> Definitions</a>
                </li>
                <li>
                  <a href="#Registration"> Eligibility and Registration</a>
                </li>
                <li>
                  <a href="#Agreement"> Acceptance of Agreement</a>
                </li>
                <li>
                  <a href="#Privacy">Privacy Notice</a>
                </li>
                <li>
                  <a href="#Arbitration">Arbitration</a>
                </li>
                <li>
                  <a href="#Choice">Choice of Law and Jurisdiction</a>
                </li>
                <li>
                  <a href="#RA">Registered Agent</a>
                </li>
                <li>
                  <a href="#Responsibilities-of-RA"
                    >Responsibilities of the Registered Agent</a
                  >
                </li>
                <li>
                  <a href="#Mail-Received"
                    >Mail Received for your Business Entity</a
                  >
                </li>
                <li>
                  <a href="#Not-Responsibility-of-RA"
                    >Not the Responsibility of the Registered Agent</a
                  >
                </li>
                <li>
                  <a href="#Responsibilities-of-Client"
                    >Responsibilities of Client</a
                  >
                </li>
                <li>
                  <a href="#Basic-Fee">Basic Fee</a>
                </li>
                <li>
                  <a href="#Limited-License">Limited License</a>
                </li>
                <li>
                  <a href="#Legal-Compliance">Legal Compliance</a>
                </li>
                <li>
                  <a href="#OIP">Our Intellectual Property</a>
                </li>
                <li>
                  <a href="#Errors"> Errors, Corrections, and Changes</a>
                </li>
                <li>
                  <a href="#Warranty-Disclaimer">Warranty Disclaimer</a>
                </li>
                <li>
                  <a href="#Liability">Limitation of Liability</a>
                </li>
                <li>
                  <a href="#Client-Conduct">Client Conduct</a>
                </li>
                <li>
                  <a href="#following"
                    >As a User, you agree not to use our Website or Products to
                    do any of the following</a
                  >
                </li>
                <li>
                  <a href="#Use">Use of Information</a>
                </li>
                <li>
                  <a href="#Unlawful-Activity">Unlawful Activity</a>
                </li>
                <li>
                  <a href="#Our-Website">Linking to Our Website</a>
                </li>
                <li>
                  <a href="#Other-Websites">Links to Other Websites</a>
                </li>
                <li>
                  <a href="#Payments">Payments</a>
                </li>
                <li>
                  <a href="#Affiliate">Affiliate Disclosure</a>
                </li>
                <li>
                  <a href="#Refund">Refund Policy</a>
                </li>
                <li>
                  <a href="#Termination"
                    >Termination of Client Relationship or User Privileges</a
                  >
                </li>
                <li>
                  <a href="#Indemnification">Indemnification</a>
                </li>
                <li>
                  <a href="#Severability">Severability and Survival</a>
                </li>
                <li>
                  <a href="#Changes">Changes to Our Agreement</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-lg-4 col-xl-3 order-2 order-lg-1">
            <div class="sticky-side">
              <div class="table-of-content d-none d-lg-flex">
                <h6 class="block-title">Table of Contents</h6>
                <ul>
                  <li>
                    <a href="#Terms"> Terms and Conditions</a>
                  </li>
                  <li>
                    <a href="#Definitions"> Definitions</a>
                  </li>
                  <li>
                    <a href="#Registration"> Eligibility and Registration</a>
                  </li>
                  <li>
                    <a href="#Agreement"> Acceptance of Agreement</a>
                  </li>
                  <li>
                    <a href="#Privacy">Privacy Notice</a>
                  </li>
                  <li>
                    <a href="#Arbitration">Arbitration</a>
                  </li>
                  <li>
                    <a href="#Choice">Choice of Law and Jurisdiction</a>
                  </li>
                  <li>
                    <a href="#RA">Registered Agent</a>
                  </li>
                  <li>
                    <a href="#Responsibilities-of-RA"
                      >Responsibilities of the Registered Agent</a
                    >
                  </li>
                  <li>
                    <a href="#Mail-Received"
                      >Mail Received for your Business Entity</a
                    >
                  </li>
                  <li>
                    <a href="#Not-Responsibility-of-RA"
                      >Not the Responsibility of the Registered Agent</a
                    >
                  </li>
                  <li>
                    <a href="#Responsibilities-of-Client"
                      >Responsibilities of Client</a
                    >
                  </li>
                  <li>
                    <a href="#Basic-Fee">Basic Fee</a>
                  </li>
                  <li>
                    <a href="#Limited-License">Limited License</a>
                  </li>
                  <li>
                    <a href="#Legal-Compliance">Legal Compliance</a>
                  </li>
                  <li>
                    <a href="#OIP">Our Intellectual Property</a>
                  </li>
                  <li>
                    <a href="#Errors"> Errors, Corrections, and Changes</a>
                  </li>
                  <li>
                    <a href="#Warranty-Disclaimer">Warranty Disclaimer</a>
                  </li>
                  <li>
                    <a href="#Liability">Limitation of Liability</a>
                  </li>
                  <li>
                    <a href="#Client-Conduct">Client Conduct</a>
                  </li>
                  <li>
                    <a href="#following"
                      >As a User, you agree not to use our Website or Products
                      to do any of the following</a
                    >
                  </li>
                  <li>
                    <a href="#Use">Use of Information</a>
                  </li>
                  <li>
                    <a href="#Unlawful-Activity">Unlawful Activity</a>
                  </li>
                  <li>
                    <a href="#Our-Website">Linking to Our Website</a>
                  </li>
                  <li>
                    <a href="#Other-Websites">Links to Other Websites</a>
                  </li>
                  <li>
                    <a href="#Payments">Payments</a>
                  </li>
                  <li>
                    <a href="#Affiliate">Affiliate Disclosure</a>
                  </li>
                  <li>
                    <a href="#Refund">Refund Policy</a>
                  </li>
                  <li>
                    <a href="#Termination"
                      >Termination of Client Relationship or User Privileges</a
                    >
                  </li>
                  <li>
                    <a href="#Indemnification">Indemnification</a>
                  </li>
                  <li>
                    <a href="#Severability">Severability and Survival</a>
                  </li>
                  <li>
                    <a href="#Changes">Changes to Our Agreement</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-8 col-xl-9 order-1 order-lg-2">
            <div class="col-12 mx-auto paragraph" id="Terms">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <strong class="regular-strong">
                    The Things We Do PR, LLC, doing business as Company Sage
                    <br />
                    1250 Ave Ponce De Leon Ste 301
                    <br />
                    PMB 2013, San Juan, PR 00907-3976
                    <br />
                    privacy@cloudpeaklaw.com
                    <br />
                    Effective Date: April 12, 2023
                  </strong>

                  <p class="mt-3">
                    This webpage represents a legal document and is the Terms
                    and Conditions hereinafter called “Agreement” when you are
                    using our website:
                    https://cindysfloridallc.com,
                    and all other websites owned by our company The Things We Do
                    PR, LLC including our mobile application(s), hereinafter and
                    collectively referred to as our Website.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Definitions">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Definitions</h3>

                  <p>
                    The terms "us", "we", "our", and "Registered Agent", refer
                    to refer to The Things We Do PR, LLC, the owner of this
                    Website. The term “Product(s)” refers to any products or
                    services we sell or give away. A “Visitor” is someone who
                    merely browses our Website. A “Client” is someone who has
                    registered with our Website to buy our Products, usually,
                    but not always a “Business Entity”. The term “User” is a
                    collective identifier that refers to either a Visitor or a
                    Client.
                  </p>
                  <p>
                    All text, information, graphics, design, and data offered
                    through our Website or Products whether produced by our
                    Clients or by us, are collectively known as our “Content”.
                    We distinguish content posted by our Clients as “Client
                    Content”.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Registration">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Eligibility and Registration</h3>

                  <p>
                    To buy our Products, you must register to become a Client.
                    Our Website and Products are intended solely for Users who
                    are at least (18) years of age. Any registration by, use of,
                    or access to our Website and Products by anyone under that
                    age is unauthorized, unlicensed, and in violation of this
                    Agreement. By using our Website and Products, you represent
                    and warrant that you are at least (18) years of age and
                    agree to obey all the terms of this Agreement.
                  </p>
                  <p>
                    The Things We Do PR, LLC has sole right and discretion to
                    decide whether to accept a Client and may reject a Clients
                    registration with or without explanation.
                    <br />
                    When you complete the registration process, you may receive
                    a password that will allow you to access our Website and
                    Products. You agree to maintain the confidentiality of your
                    password and are fully responsible for all liability and
                    damages resulting from your failure to maintain that
                    confidentiality as well as all activities that occur by
                    using your password.
                    <br />
                    You agree to immediately tell us of any unauthorized use of
                    your password or any other breach of security. You agree
                    that we cannot and will not be liable for any loss or damage
                    arising from your failure to comply with password security
                    as discussed here.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Agreement">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Acceptance of Agreement</h3>

                  <p>
                    This Agreement is between you and The Things We Do PR, LLC.
                  </p>
                  <p>
                    THIS AGREEMENT CONTAINS WARRANTY DISCLAIMERS AND OTHER
                    PROVISIONS THAT LIMIT OUR LIABILITY TO YOU. PLEASE READ
                    THESE TERMS AND CONDITIONS CAREFULLY AND IN THEIR ENTIRETY,
                    AS USING, ACCESSING, AND/OR BROWSING OUR WEBSITE CONSTITUTES
                    ACCEPTANCE OF THESE TERMS AND CONDITIONS. IF YOU DO NOT
                    AGREE TO BE BOUND TO EVERY TERM AND CONDITION SET FORTH
                    HERE, PLEASE EXIT OUR WEBSITE IMMEDIATELY AND DO NOT USE,
                    ACCESS, OR BROWSE IT FURTHER.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Privacy">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Privacy Notice</h3>

                  <p>
                    Our Privacy Notice is considered part of this Agreement and
                    is available on this Website. You must review our Privacy
                    Notice by clicking on this
                    <a href="{{ url_for('privacy') }}">link</a>. If you do not
                    accept and agree to be bound by all the terms of this
                    Agreement, including The Things We Do PR, LLC Privacy
                    Notice, do not use this Website.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 mx-auto paragraph" id="Arbitration">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Arbitration</h3>

                  <p>
                    Any legal controversy or claim arising from or relating to
                    this Agreement and/or our Website and Products, excluding
                    legal action taken by us to collect or recover damages
                    for–or obtain any injunction relating to–website operations,
                    intellectual property, and our Products, will be settled
                    solely by binding arbitration following the commercial
                    arbitration rules of the American Arbitration Association.
                    Any such controversy or claim will be arbitrated on an
                    individual basis and will not be consolidated in any
                    arbitration with any claim or controversy of any other
                    party. The arbitration will be conducted in Cheyenne,
                    Wyoming, and judgment on the arbitration award may be
                    entered into any court having jurisdiction thereof. You or
                    we may seek any interim or preliminary relief from a court
                    of competent jurisdiction in Cheyenne, Wyoming necessary to
                    protect our or your rights or property pending the
                    completion of arbitration. Each party will bear half the
                    arbitration fees and costs.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Choice">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Choice of Law and Jurisdiction</h3>

                  <p>
                    This Agreement will be treated as if it were executed and
                    performed in Cheyenne, Wyoming, and will be governed by and
                    construed following the laws of the state of Wyoming without
                    regard to conflict of law provisions. Also, you agree to
                    submit to the personal jurisdiction and venue of such
                    courts. Any cause of action by you about our Website or
                    Products must be instituted within one (1) year after the
                    cause of action arose or be forever waived and barred.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="RA">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Registered Agent</h3>

                  <p>
                    This Agreement addresses the nature and scope of our duties
                    to you as your Registered Agent and your duties to us as
                    your Registered Agent. Every state in the nation allows for
                    the creation of business entities such as a corporation,
                    partnerships, or limited liability companies. However,
                    because the business entity is not a real person and may not
                    have a physical location in the state of formation, each
                    state requires that a person or entity with a physical
                    presence in the state be named as the registered agent to
                    accept service of process and other legal documents for that
                    business entity.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Responsibilities-of-RA">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">
                    Responsibilities of the Registered Agent
                  </h3>

                  <p>
                    So long as the Registered Agent at all times knows your
                    mailing address and how to contact you, the Registered Agent
                    will notify you within seventy-two (72) business hours after
                    receipt of any legal process directed to your Business
                    Entity that is received by Registered Agent. The pertinent
                    documents will be forwarded to you at the email address you
                    have provided for electronic delivery or through your Client
                    portal with an email notification sent to the email address
                    on file.
                  </p>

                  <p>
                    The Registered Agent provides you with the notification, and
                    once you receive the documents from the Registered Agent's
                    office, it is your responsibility to respond or otherwise
                    address the legal matter. If you have not provided the
                    Registered Agent with a valid email address through which
                    the Registered Agent may notify you, the Registered Agent's
                    contractual obligation to notify you is null and void, and
                    the Registered Agent has no further responsibility to notify
                    you in any way.
                  </p>

                  <p>
                    Any service of process and legal documents received by or
                    sent to Registered Agent's address for your Business Entity
                    will be opened, scanned, and deposited in your Client portal
                    without prior notification for no additional fee.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Mail-Received">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">
                    Mail Received for your Business Entity
                  </h3>

                  <p>
                    The Registered Agent will Process five (5) pieces of first-class mail, general business documents, and other items
                    (collectively, “Mail”) on behalf of your Business Entity each year for no additional fee. So long as the Registered
                    Agent is serving, you authorize the Registered Agent to accept, open, review, determine in its sole and unreviewable
                    discretion whether such Mail is “junk” mail or other mail, scan, forward, shred, and/or deposit in your Client Portal
                    such Mail as an authorized representative of the company (collectively, “Process”). If your Business Entity receives
                    more than five (5) pieces of Mail, you agree that we may Process excess Mail and charge your payment method on file at
                    the then-current rate an additional Mail handling fee for an additional five (5) pieces of mail.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Not-Responsibility-of-RA">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">
                    Not the Responsibility of the Registered Agent
                  </h3>

                  <p>
                    The Registered Agent's duties do not include answering or
                    responding to service of process of legal documents or in
                    any manner getting involved with any court proceeding,
                    demand letters, litigation, or threats of litigation.
                  </p>
                </div>
              </div>
            </div>

            <div
              class="col-12 mx-auto paragraph"
              id="Responsibilities-of-Client"
            >
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Responsibilities of Client</h3>

                  <p>
                    It is your responsibility to maintain a current email
                    address on file with us. If we do not have your email
                    address or the email address you have provided is invalid,
                    we may, but are under no obligation to mail the documents to
                    the address that you have supplied to us in your contact
                    information and charge you an additional fee.
                  </p>
                  <p>
                    For the Registered Agent to adequately perform the duty of
                    immediate notification of service of process, and to comply
                    with the laws of the Business Entity's state of formation,
                    it is important that you always keep Registered Agent
                    informed of the current contact information for your
                    Business Entity. You agree to keep us up to date with your
                    contact information, including:
                  </p>
                  <ul class="dot-list">
                    <li class="f-regular">
                      The email address to which all service process is to be
                      delivered;
                    </li>
                    <li class="f-regular">
                      The names and addresses of each director, officer,
                      manager, partner, trustee, or other persons serving in a
                      similar capacity; and
                    </li>
                    <li class="f-regular">
                      The name, business address, business telephone number, and
                      email address of a natural person who is an officer,
                      director, employee, or designated agent of the Business
                      Entity who is authorized to receive communications from
                      the Registered Agent and is deemed the designated
                      communications contact for the Business Entity.
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Basic-Fee">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Basic Fee</h3>

                  <p>
                    Registered Agent will charge Business Entity an annual fee
                    for acting as Business Entity's Registered Agent. This fee
                    is due and owing on the anniversary date of the initial date
                    on which we are named as Registered Agent for the Business
                    Entity. Registered Agent will notify you of the impending
                    annual fee in advance of each anniversary date by sending
                    one or more emails to the email address you provided. In
                    these email(s), you will be asked to complete a form that
                    you will return to Registered Agent.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Limited-License">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Limited License</h3>

                  <p>
                    The Things We Do PR, LLC grants you a nonexclusive,
                    nontransferable, revocable license to access and use our
                    Website and Products strictly under this Agreement. No
                    printout or electronic version of any part of our Website or
                    Products may be used by you in any litigation or arbitration
                    matter at all under any circumstances.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Legal-Compliance">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Legal Compliance</h3>

                  <p>
                    You agree to comply with all applicable domestic and
                    international laws, statutes, ordinances, and regulations
                    about your use of our Website, Content, and Products.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="OIP">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Our Intellectual Property</h3>

                  <p>
                    Our Website may contain our service marks or trademarks as
                    well as those of our affiliates or other companies in the
                    form of words, graphics, and logos. Your use of our Website
                    or Products does not constitute any right or license for you
                    to use our service marks or trademarks without the prior
                    written permission of The Things We Do PR, LLC.
                    <br />
                    Our Content, as found within our Website and Products, is
                    protected under the United States and foreign copyrights.
                    The copying, redistribution, use, or publication by you of
                    any such Content is strictly prohibited. Your use of our
                    Website and Products does not grant you any ownership rights
                    to our Content.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Errors">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">
                    Errors, Corrections, and Changes
                  </h3>

                  <p>
                    We do not represent or otherwise warrant that our Website
                    and Products will be error-free or free from viruses or
                    other harmful components. We do not represent or warrant the
                    information available on or through our Website and Products
                    will be correct, accurate, timely, or reliable. We reserve
                    the right at our sole discretion to change any content,
                    software, and other items used or contained in our Website
                    or Products at any time without notice.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Disclaimer">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Disclaimer</h3>

                  <p>
                    The material on this website and any third-party website
                    link is for informational purposes only and does not
                    constitute legal advice or establish an attorney/client
                    relationship. The content of this site and any linked
                    websites is general and educational and should not be used
                    as a substitute for seeking professional legal advice.
                    Always seek the advice of a qualified attorney regarding any
                    legal issue about which you have a question. You should not
                    refrain from seeking professional advice from a lawyer or
                    disregard professional legal advice because of anything
                    contained in this website. Nothing on this website should be
                    viewed as the giving of legal advice or the practice of law.
                    We insist that all visitors to this website consult with
                    their own attorney regarding all questions or legal needs.
                    We are not responsible for any action or failure to act by a
                    visitor to our website based upon any information on this
                    website that is taken without our prior express written
                    consent.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Warranty-Disclaimer">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Warranty Disclaimer</h3>

                  <p>
                    The Things We Do PR, LLC is not responsible or liable in any
                    manner for any Content posted on our Website or in
                    connection with our Products, whether posted or caused by
                    Clients of our Website, or by The Things We Do PR, LLC.
                    Although we provide rules for Client conduct and postings,
                    we do not control and are not responsible for what Clients
                    post, transmit, or share on our Website or Products, and are
                    not responsible for any offensive, inappropriate, obscene,
                    unlawful, or otherwise objectionable content you may
                    encounter using our Website or Products. The Things We Do
                    PR, LLC is not responsible for the online or offline conduct
                    of any User of our Website or Products.
                    <br />
                    Our Website or Products may be temporarily unavailable from
                    time to time for maintenance or other reasons. We assume no
                    responsibility for any error, omission, interruption,
                    deletion, defect, delay in operation or transmission,
                    communications line failure, theft or destruction,
                    unauthorized access to, or alteration of Client
                    communications.
                    <br />
                    The Things We Do PR, LLC is not responsible for any
                    technical problem or other problems of any telephone network
                    or service, computer system, server or provider, computer or
                    mobile phone equipment, or software, or any failure of email
                    because of technical problems or traffic congestion on the
                    Internet, or any combination–including injury or damage to
                    Clients’ or any other person’s computer, mobile phone, or
                    other hardware or software–related to or resulting from the
                    use or downloading of materials in connection with our
                    Website or Products, including, without limitation, any
                    software provided through our Website or Products. Under no
                    circumstances will The Things We Do PR, LLC be responsible
                    for any loss or damage, including any loss or damage,
                    personal injury, or death resulting from anyone’s use of our
                    Website or Products, or any interactions between Users of
                    our Website or Products, whether online or offline.
                    Reference to any products, services, processes, or other
                    information by trade name, trademark, manufacturer, or
                    supplier, does not constitute or imply endorsement,
                    sponsorship, recommendation, or any affiliation with our
                    Website by third parties or by any of the equipment or
                    programming associated with or used by our Products.
                  </p>
                  <p>
                    THE INFORMATION, CONTENT, AND DOCUMENTS FROM OR THROUGH OUR
                    WEBSITE ARE PROVIDED AS-IS, AS AVAILABLE, WITH ‘ALL FAULTS’,
                    AND ALL EXPRESS OR IMPLIED WARRANTIES ARE DISCLAIMED
                    (INCLUDING, BUT NOT LIMITED TO, THE DISCLAIMER OF ANY
                    IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
                    PARTICULAR PURPOSE). OUR WEBSITE AND PRODUCTS MAY CONTAIN
                    BUGS, ERRORS, PROBLEMS, OR OTHER LIMITATIONS. The Things We
                    Do PR, LLC, INCLUDING ALL OUR AFFILIATES, HAS NO LIABILITY
                    AT ALL FOR YOUR USE OF OUR WEBSITE OR PRODUCTS. The Things
                    We Do PR, LLC CAN NOT GUARANTEE AND DOES NOT PROMISE ANY
                    SPECIFIC RESULTS FROM THE USE OF OUR WEBSITE OR PRODUCTS,
                    INCLUDING, BUT NOT LIMITED TO, RELATED SOFTWARE. The Things
                    We Do PR, LLC DOES NOT REPRESENT OR WARRANT THAT OUR
                    CONTENT, PRODUCTS, OR ANY SOFTWARE FOUND WITHIN ARE
                    ACCURATE, COMPLETE, RELIABLE, CURRENT, OR ERROR-FREE.
                    <br />
                    WITHOUT LIMITATION, YOU UNDERSTAND AND AGREE THAT YOU
                    DOWNLOAD OR OTHERWISE OBTAIN CONTENT AND RELATED SOFTWARE
                    FROM OR THROUGH OUR WEBSITE OR PRODUCTS AT YOUR OWN RISK AND
                    THAT YOU WILL BE SOLELY RESPONSIBLE FOR YOUR USE OF IT AND
                    ANY DAMAGES TO YOUR MOBILE DEVICE OR COMPUTER SYSTEM, LOSS
                    OF DATA, OR OTHER HARM OF ANY KIND THAT MAY RESULT. WE AND
                    ALL OUR AFFILIATES ARE NOT LIABLE FOR ANY INDIRECT, SPECIAL,
                    INCIDENTAL, OR CONSEQUENTIAL DAMAGES (INCLUDING DAMAGES FOR
                    LOSS OF BUSINESS, LOSS OF PROFITS, LITIGATION, OR THE LIKE),
                    WHETHER BASED ON BREACH OF CONTRACT, BREACH OF WARRANTY,
                    TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY, EVEN IF
                    ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE NEGATION AND
                    LIMITATION OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL
                    ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN YOU AND The
                    Things We Do PR, LLC.
                    <br />
                    OUR WEBSITE AND PRODUCTS WOULD NOT BE PROVIDED WITHOUT SUCH
                    LIMITATIONS. NO ADVICE OR INFORMATION, WHETHER ORAL OR
                    WRITTEN, OBTAINED BY YOU FROM US THROUGH OUR WEBSITE OR
                    PRODUCTS WILL CREATE ANY WARRANTY, REPRESENTATION, OR
                    GUARANTEE NOT EXPRESSLY STATED IN THIS AGREEMENT.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Liability">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Limitation of Liability</h3>

                  <p>
                    IN NO EVENT WILL The Things We Do PR, LLC OR ITS DIRECTORS,
                    EMPLOYEES, OR AGENTS BE LIABLE TO YOU OR ANY THIRD PERSON
                    FOR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL,
                    SPECIAL, OR PUNITIVE DAMAGES, INCLUDING FOR ANY LOST PROFITS
                    OR LOST DATA ARISING FROM YOUR USE OF OUR WEBSITE, CONTENT,
                    PRODUCTS, OR ANY RELATED SOFTWARE ACCESSED THROUGH OR
                    DOWNLOADED FROM OUR WEBSITE OR PRODUCTS, EVEN IF The Things
                    We Do PR, LLC IS AWARE OR HAS BEEN ADVISED OF THE
                    POSSIBILITY OF SUCH DAMAGES. DESPITE ANYTHING TO THE
                    CONTRARY HERE, The Things We Do PR, LLC’s LIABILITY TO YOU
                    FOR ANY CAUSE AT ALL, AND REGARDLESS OF THE FORM OF THE
                    ACTION, WILL ALWAYS BE LIMITED TO THE AMOUNT PAID, IF ANY,
                    BY YOU TO US FOR USE OF OUR WEBSITE AND/OR PRODUCTS ACCESSED
                    DURING THE PREVIOUS MONTH OF YOUR CLIENTSHIP BEFORE THE
                    EVENT RESULTING IN LIABILITY.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Client-Conduct">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Client Conduct</h3>

                  <p>
                    Clients may post their content to our Website (Client
                    Content). Clients and Visitors understand that by using our
                    Website or Products, they may be exposed to content that is
                    objectionable. We have no control over Client Content and do
                    not in any way guarantee its quality, accuracy, or
                    integrity. The Things We Do PR, LLC is not responsible for
                    the monitoring or filtering of any Client Content. Should
                    any Client Content be found illegal, we will submit all
                    necessary information to relevant authorities.
                  </p>
                  <p>
                    If any Client Content is reported to The Things We Do PR,
                    LLC as being offensive or inappropriate, we may ask the
                    Client to retract or modify the questionable content within
                    24 hours of being notified by us. If the Client fails to
                    meet such a request, we have full authority to restrict the
                    Client’s ability to post Client Content or to immediately
                    terminate the Client’s use of our Website and Products
                    without further notice to the Client.
                  </p>
                  <p>
                    We have sole discretion to remove any Client Content that
                    violates this Agreement or that is otherwise objectionable
                    in our sole discretion. Clients are responsible for
                    complying with all applicable federal, state, and global
                    laws for their content, including copyright and trademark
                    laws.
                  </p>
                  <p>
                    You warrant that you will not use our Website or Products to
                    infringe on the intellectual property rights of others in
                    any way. Following the Digital Millennium Copyright Act
                    (DMCA) and other applicable laws, we have adopted a policy
                    of terminating Clients whom we judge, in our sole
                    discretion, to be infringers of others’ intellectual
                    property rights.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="following">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">
                    As a User, you agree not to use our Website or Products to
                    do any of the following:
                  </h3>

                  <p class="text-underline">
                    Upload, post, or transmit any Client Content that:
                  </p>
                  <ol class="dot-list">
                    <li class="f-regular">
                      Violates any local, state, federal, or international laws;
                    </li>
                    <li class="f-regular">
                      Infringes on any patent, trademark, trade secret,
                      copyright, or other proprietary rights of any party;
                    </li>
                    <li class="f-regular">
                      Harms, threatens, defames, promotes violence or illegal
                      activities, or is otherwise vulgar, obscene, abusive,
                      harassing, tortuous, libelous, invasive of another’s
                      privacy, hateful, or racially, ethically, or otherwise
                      objectionable;
                    </li>
                    <li class="f-regular">
                      Links directly or indirectly to any materials to which you
                      do not have a right to link;
                    </li>
                    <li class="f-regular">
                      Contains any private information of any third-party,
                      including, without limitation, addresses, phone numbers,
                      email addresses, Social Security numbers, and credit card
                      numbers;
                    </li>
                    <li class="f-regular">
                      Contains software viruses or any other computer code,
                      files, or programs designed to interrupt, destroy, or
                      limit the functionality of any computer software or
                      hardware or telecommunications equipment, or to extract
                      information from our Website or Products;
                    </li>
                    <li class="f-regular">
                      Contains any unsolicited or unauthorized advertising,
                      solicitations, promotional materials, junk mail, spam,
                      chain letters, pyramid schemes, or any other form of
                      solicitation; or
                    </li>
                    <li class="f-regular">
                      In the sole judgment of The Things We Do PR, LLC is
                      objectionable or restricts or inhibits any other person
                      from using or enjoying our Website or Products, or which
                      may expose The Things We Do PR, LLC, our affiliates, or
                      our Users to any harm or liability of any type.
                    </li>
                  </ol>
                  <br />
                  <p class="text-underline">Use our Content to:</p>
                  <ol class="dot-list">
                    <li class="f-regular">Develop a competing website;</li>
                    <li class="f-regular">
                      Create compilations or derivative works as defined under
                      United States copyright laws;
                    </li>
                    <li class="f-regular">
                      Redistribute it in any manner, including, but not limited
                      to, sale, license, lease, rental, subscription, or any
                      other distribution mechanism;
                    </li>
                    <li class="f-regular">
                      Decompile, disassemble, or reverse engineer our Website,
                      Products, and any related software; or
                    </li>
                    <li class="f-regular">
                      Use our Website or Products in any manner that violates
                      this Agreement or any local, state, federal, or
                      international laws.
                    </li>
                  </ol>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Use">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Use of Information</h3>

                  <p>
                    You grant The Things We Do PR, LLC a license to use the
                    information and materials you post on our Website. By
                    posting, displaying, transmitting, performing, or
                    distributing information or other content (“Client Content”)
                    to our Website, you are granting The Things We Do PR, LLC,
                    its officers, directors, employees, agents, consultants,
                    representatives, and affiliates, a license to use the Client
                    Content about the operation of the business of The Things We
                    Do PR, LLC, its directors, employees, officers, affiliates,
                    representatives, consultants, and agents, including, without
                    limitation, a right to distribute, copy, transmit, publicly
                    display, reproduce, translate, edit, and reformat Client
                    Content. You understand and agree that you will not be
                    compensated for any Client Content. By posting Client
                    Content on our Website or Products, you warrant and
                    represent that you own the rights to the Client Content or
                    are authorized to post, display, distribute, perform, or
                    transmit Client Content.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Unlawful-Activity">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Unlawful Activity</h3>

                  <p>
                    We reserve the right to investigate complaints or reported
                    violations of this Agreement and to take any action we judge
                    appropriate, including, but not limited to, reporting any
                    suspected unlawful activity to law enforcement officials,
                    regulators, or other third parties and disclosing any
                    information necessary or appropriate to such persons or
                    entities relating to your profile, email addresses, usage
                    history, posted materials, IP addresses, and traffic
                    information.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Our-Website">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Linking to Our Website</h3>

                  <p>
                    You may provide links to our Website if (a) you do not
                    remove or obscure any portion of our Website by framing, (b)
                    your website does not engage in illegal or pornographic
                    activities, and (c) you stop providing links to our Website
                    immediately on our request.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Other-Websites">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Links to Other Websites</h3>

                  <p>
                    Our Website may from time to time contain links to
                    third-party websites. Inclusion of links for any website on
                    our Website does not mean that we endorse, guarantee,
                    warrant, or recommend the services, information, content,
                    and/or data of such third-party websites. The Things We Do
                    PR, LLC has no control over the legal documents and privacy
                    practices of third-party websites; you access any
                    third-party websites at your own risk. We recommend that you
                    review the privacy notice and terms and conditions of those
                    websites to fully understand what information is collected
                    and how it is used.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Payments">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Payments</h3>

                  <p>
                    You represent and warrant that if you are buying something
                    from us, (i) any payment information you supply is true and
                    complete, (ii) charges incurred by you will be honored by
                    your bank or credit card company, (iii) you will pay the
                    charges incurred by you at the posted prices, including any
                    applicable taxes, and (iv) if your initial payment method is
                    dishonored, you will still pay the incurred charges,
                    including any surcharge we may incur because of the
                    dishonored payment.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Affiliate">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Affiliate Disclosure</h3>

                  <p>
                    You should assume the owner of this website has an affiliate
                    relationship and/or another material connection, to any
                    suppliers of goods and services that may be discussed here,
                    and maybe compensated for showing ads or recommending
                    products or services, or linking to the supplier’s website.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Refund">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Refund Policy</h3>

                  <p>We have no refund policy at this time.</p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Termination">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">
                    Termination of Client Relationship or User Privileges
                  </h3>

                  <p>
                    Your Client relationship or User privileges with us are
                    effective until terminated by you or us. Your rights under
                    this Agreement will terminate without our notice if you fail
                    to comply with any term of this Agreement. On termination,
                    you will stop representing yourself as a Client or User of
                    our company. You must delete or destroy any information or
                    content including all copies obtained from our Website and
                    or Products. Certain provisions of this Agreement,
                    including, but not limited to, copyrights, indemnity,
                    trademarks, limitation of liability, warranty, and
                    jurisdictional issues will survive the termination of this
                    Agreement.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Indemnification">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Indemnification</h3>

                  <p>
                    You agree to indemnify, defend, and hold us and our
                    partners, agents, officers, directors, employees,
                    subcontractors, successors, assigns, third-party suppliers
                    of information and documents, attorneys, advertisers,
                    product and service providers, and affiliates free from any
                    liability, loss, claim, and expense, including reasonable
                    attorney’s fees, related to your violation of this Agreement
                    or use of our Website or Products.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Severability">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Severability and Survival</h3>

                  <p>
                    Should any part of this Agreement be held invalid or
                    unenforceable, that portion will be construed consistent
                    with applicable law and the remaining portions will remain
                    in full force and effect. To the extent that any Content is
                    in conflict or inconsistent with this Agreement, this
                    Agreement will take precedence. Our failure to enforce any
                    provision of this Agreement will not be deemed a waiver of
                    such a provision, nor of the right to enforce such a
                    provision. Our rights under this Agreement will survive any
                    termination of this Agreement.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto paragraph" id="Changes">
              <div class="row">
                <div class="col-12 col-lg-10">
                  <h3 class="primary-title">Changes to Our Agreement</h3>

                  <p>
                    We reserve the right to change this Agreement at any time by
                    giving you advance notice of the changes by email or in
                    writing. We will also post these changes on our Website.
                    These changes will become effective 30 days after receipt of
                    the notice. To avoid doubt, no unilateral amendment will
                    retroactively change agreed dispute-resolution provisions of
                    these Terms and Conditions, if any, including, for example,
                    arbitration provisions for then-pending disputes unless the
                    parties expressly agree otherwise. Your continued use of our
                    Website and Products after any change to this Agreement and
                    our telling you will constitute your acceptance of such
                    change. If you do not agree with the changes to this
                    Agreement, you can choose to discontinue the use of our
                    Website and Products.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% endblock %}