@font-face {
  font-family: "Roboto-Condensed-Light";
  src: url("/static/fonts/RobotoCondensed-Light.woff2") format("woff2"),
    url("/static/fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Condensed-Regular";
  src: url("/static/fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("/static/fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Condensed-Bold";
  src: url("/static/fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("/static/fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// cabin
@font-face {
  font-family: "Cabin-Bold";
  src: url("/static/fonts/Cabin-Bold.woff2") format("woff2"),
    url("/static/fonts/Cabin-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabin-Regular";
  src: url("/static/fonts/Cabin-Regular.woff2") format("woff2"),
    url("/static/fonts/Cabin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
