// colors
$light: rgba(255, 255, 255, 1);
$blue: rgba(174, 226, 250, 1); 
$dark: rgba(23, 22, 22, 1);
$darkGray: rgba(64, 61, 60, 1);
$lightBlue: rgba(215, 240, 252, 1);
$lightGray: rgba(137, 137, 137, 1);
$gray: rgba(112, 112, 112, 1);
$darkBlue: #39A0DB;
$salmon: #df6f54;

$primary: rgba(215, 240, 252, 1);
$secondary: #67A678;
$secondary-dark: #6599a5;
$thirdy: rgba(247, 230, 192, 1);
$fourth: rgba(0, 0, 0, 1);
$fourth-light: rgba(51, 51, 51, 1);
$fifth: rgba(159, 159, 159, 1);
$fifth-light: rgba(174, 174, 174, 1);
$sixth: rgba(0, 0, 0, 0.16);

// breackpoints
$sm: 540px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1900px;

// fonts
$cabin: 'Cabin-Regular';
$cabin-bold: 'Cabin-Bold';
$roboto-bold: 'Roboto-Condensed-Bold';
$roboto-light: 'Roboto-Condensed-Light';
$roboto: 'Roboto-Condensed-Regular';