<div class="row justify-content-center mt-5">
            <div class="col-10">


            <table class="links-table table table-responsive-sm text-center">
                <tr>
                    <th></th>
                    <th>
                        Related Pages
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('anonymous') }}">Anonymous Florida LLC</a>
                    </td>
                    <td>
                        <a href="{{ url_for('index') }}">Form a Florida LLC</a>
                    </td>
                    <td>
                        <a href="{{ url_for('oa') }}">Operating Agreement</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('ar') }}">Annual Report</a>
                    </td>
                    <td>
                        <a href="{{ url_for('ein') }}">Free IRS EIN</a>
                    </td>
                    <td>
                        <a href="{{ url_for('bank') }}">Business Bank Account</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('taxes') }}">
                            Taxes
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('holding') }}">
                            Holding Company
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('agent') }}">
                            Registered Agent
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('spouse') }}">
                            Forming an LLC With Your Spouse
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('judgement') }}">
                            Business Judgment Rule in Florida
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('fiduciary') }}">
                            Fiduciary Duties of Florida LLCs
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('best') }}">
                            Best State to Form an LLC
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('fl_real_estate') }}">
                            Florida Holding Company for Real Estate
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('fl_articles') }}">
                            Filing Florida Articles of Organization
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('single_vs_multi') }}">
                            Single Member vs Multi-Membered Florida LLC
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('manager_vs_member') }}">
                            Manager vs Member Managed Florida LLC
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('vs_nevada') }}">
                            Florida LLC vs Nevada LLC
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('vs_professional') }}">
                            Florida LLC vs Florida Professional Association
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('vs_pllc') }}">
                            Florida LLC vs Florida PLLC
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('vs_partnership') }}">
                            Florida LLC vs Florida Partnership
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('vs_wyoming') }}">
                            Florida LLC vs Wyoming LLC
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('vs_pllc') }}">
                            
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('vs_partnership') }}">
                            
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('benefits') }}">LLC Benefits</a>
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        <a href="{{ url_for('vo') }}">
                            Florida Virtual Office
                        </a>
                    </td>
                </tr>

            </table>


            </div>
    </div>