<div class="container">
  <div class="row">
    <div class="col-12 col-lg-9 mx-auto">
      <div class="related-links-block" id="related">
        <h6 class="block-title">Related Links</h6>

        <div class="d-flex flex-wrap justify-content-center">
          <a class="related-link" href="{{ url_for('fl_reqs') }}">
            LLC Requirements
          </a>

          <a class="related-link" href="{{ url_for('ar') }}"> Annual Report </a>

          <a class="related-link" href="{{ url_for('vs_scorp') }}">
            Florida LLC vs Florida S-Corp
          </a>

          <a class="related-link" href="{{ url_for('oa') }}">
            Florida LLC Operating Agreement
          </a>

          <a class="related-link" href="{{ url_for('llcvssole') }}">
            Florida Sole-Proprietorship
          </a>

          <a class="related-link" href="{{ url_for('fl_articles') }}">
            Filing Florida Articles of Organization
          </a>

          <a class="related-link" href="{{ url_for('taxes') }}">
            Florida LLC Taxes
          </a>

          <a class="related-link" href="{{ url_for('fees') }}">
            Florida LLC Fees
          </a>

          <a class="related-link" href="{{ url_for('smllc') }}">
            Single Member LLC
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
