<div class="related-links-block mt-lg-0 mb-4" id="related">
  <h6 class="block-title">Related Links</h6>

  <div class="d-flex related-links">
    <a class="related-link-btn" href="{{ url_for('ar') }}"> Annual Report </a>

    <a class="related-link-btn" href="{{ url_for('ein') }}"> Free IRS EIN </a>

    <a class="related-link-btn" href="{{ url_for('bank') }}">
      Business Bank Account
    </a>

    <a class="related-link-btn" href="{{ url_for('fl_reqs') }}">
      LLC Requirements
    </a>

    <a class="related-link-btn" href="{{ url_for('benefits') }}">
      Florida LLC Benefits
    </a>

    <a class="related-link-btn" href="{{ url_for('smllc') }}">
      Single Member LLC
    </a>

    <a class="related-link-btn" href="{{ url_for('spouse') }}">
      Forming an LLC With Your Spouse
    </a>

    <a class="related-link-btn" href="{{ url_for('judgement') }}">
      Business Judgment Rule in Florida
    </a>

    <a class="related-link-btn" href="{{ url_for('fiduciary') }}">
      Fiduciary Duties of Florida LLCs
    </a>

    <a class="related-link-btn" href="{{ url_for('best') }}">
      Best State to Form an LLC
    </a>

    <a class="related-link-btn" href="{{ url_for('taxes') }}"> LLC Taxes </a>

    <a class="related-link-btn" href="{{ url_for('fl_articles') }}">
      Filing Florida Articles of Organization
    </a>

    <a class="related-link-btn" href="{{ url_for('oa') }}">
      Florida LLC Operating Agreement
    </a>

    <a class="related-link-btn" href="{{ url_for('llcvssole') }}">
      Florida Sole-Proprietorship
    </a>

    <a class="related-link-btn" href="{{ url_for('fees') }}">
      Florida LLC Fees
    </a>

    <a class="related-link-btn" href="{{ url_for('math_kids') }}">
      Importance of Math in Business for Kids
    </a>
  </div>
</div>
