<div class="related-links-block mt-lg-0 mb-4" id="related">
  <h6 class="block-title">Related Links</h6>

  <div class="d-flex related-links">
    <a class="related-link-btn" href="{{ url_for('vs_wyoming') }}">
      Florida LLC vs Wyoming LLC
    </a>

    <a class="related-link-btn" href="{{ url_for('benefits') }}">
      Florida LLC Benefits
    </a>

    <a class="related-link-btn" href="{{ url_for('vs_scorp') }}">
      Florida LLC vs Florida S-Corp
    </a>

    <a class="related-link-btn" href="{{ url_for('best') }}">
      Best State to Form an LLC
    </a>

    <a class="related-link-btn" href="{{ url_for('vs_delaware') }}">
      Florida LLC vs Delaware LLC
    </a>

    <a class="related-link-btn" href="{{ url_for('vs_pllc') }}">
      Florida LLC vs Florida PLLC
    </a>

    <a class="related-link-btn" href="{{ url_for('manager_vs_member') }}">
      Manager vs Member Managed Florida LLC
    </a>

    <a class="related-link-btn" href="{{ url_for('vs_partnership') }}">
      Florida LLC vs Florida Partnership
    </a>

    <a class="related-link-btn" href="{{ url_for('vs_nevada') }}">
      Florida LLC vs Nevada LLC
    </a>

    <a class="related-link-btn" href="{{ url_for('vs_professional') }}">
      Florida LLC vs Florida Professional Association
    </a>
  </div>
</div>
