<div class="related-links-block mt-lg-0 mb-4" id="related">
  <h6 class="block-title">Related Links</h6>

  <div class="d-flex related-links">
    <a class="related-link-btn" href="{{ url_for('corp') }}">
      Florida Corporation
    </a>

    <a class="related-link-btn" href="{{ url_for('corp_taxation') }}">
      S-Corp Taxation
    </a>

    <a class="related-link-btn" href="{{ url_for('corp_aoi') }}">
      Articles of Incorporation
    </a>

    <a class="related-link-btn" href="{{ url_for('fl_ns') }}">
      Florida Corporation Name Search
    </a>

    <a class="related-link-btn" href="{{ url_for('corp') }}">
      Florida Corporation
    </a>

    <a class="related-link-btn" href="{{ url_for('fl_dissolve') }}">
      Dissolving a Florida Corporation
    </a>

    <a class="related-link-btn" href="{{ url_for('corp_bylaws') }}">
      Corporate Bylaws
    </a>

    <a class="related-link-btn" href="{{ url_for('corp_no_profit') }}">
      Florida Non-Profit
    </a>
  </div>
</div>
