<div class="related-links-block mt-lg-0 mb-4" id="related">
  <h6 class="block-title">Related Links</h6>

  <div class="d-flex related-links">
    <a class="related-link-btn" href="{{ url_for('hc_oa') }}">
      Operating Agreement
    </a>

    <a class="related-link-btn" href="{{ url_for('hc_taxes') }}">
      Holding Company Taxes
    </a>

    <a class="related-link-btn" href="{{ url_for('hc_real_estate') }}">
      Florida Real Estate Holding Company
    </a>

    <a class="related-link-btn" href="{{ url_for('hc_naming') }}">
      Holding Company Name Ideas
    </a>

    <a class="related-link-btn" href="{{ url_for('anonymous') }}">
      Anonymous Double Florida LLC
    </a>

    <a class="related-link-btn" href="{{ url_for('holding') }}">
      Florida Holding Company
    </a>
  </div>
</div>
