<div class="related-links-block mt-lg-0 mb-4" id="related">
  <h6 class="block-title">Related Links</h6>

  <div class="d-flex related-links">
    <a class="related-link-btn" href="{{ url_for('benefits') }}">
      LLC Benefits
    </a>

    <a class="related-link-btn" href="{{ url_for('anonymous') }}">
      Anonymous Florida LLC
    </a>

    <a class="related-link-btn" href="{{ url_for('land') }}">
      Florida Land Trust
    </a>

    <a class="related-link-btn" href="{{ url_for('agent') }}">
      Registered Agent
    </a>

    <a class="related-link-btn" href="{{ url_for('corp') }}"> Corporation </a>

    <a class="related-link-btn" href="{{ url_for('holding') }}">
      Holding Companies
    </a>
    <a class="related-link-btn" href="{{ url_for('tx_index') }}">
      Forming an LLC in Texas
    </a>
  </div>
</div>
