<div class="related-links-block mt-lg-0 mb-4" id="related">
  <h6 class="block-title">Related Links</h6>

  <div class="d-flex related-links">
    <a class="related-link-btn" href="{{ url_for('land') }}">
      Florida Land Trust
    </a>

    <a class="related-link-btn" href="{{ url_for('corp_ppt') }}">
      Personal Property Trust
    </a>

    <a class="related-link-btn" href="{{ url_for('corp_trustee') }}">
      Land Trust Trustee
    </a>

    <a class="related-link-btn" href="{{ url_for('corp_vlt') }}">
      Land Trust vs. Living Trust
    </a>

    <a class="related-link-btn" href="{{ url_for('conservation_lt') }}">
      Conservation Land Trust
    </a>

    <a class="related-link-btn" href="{{ url_for('corp_llc_trustee') }}">
      LLC Trustee
    </a>

    <a class="related-link-btn" href="{{ url_for('land_conservation') }}"
      >Land Conservation 101</a
    >

    <a class="related-link-btn" href="{{ url_for('apt') }}">
      A Florida Asset Protection Trust
    </a>
  </div>
</div>
