<div class="related-links-block mt-lg-0 mb-4" id="related">
  <h6 class="block-title">Related Links</h6>

  <div class="d-flex related-links">
    <a class="related-link-btn" href="{{ url_for('vo') }}">
      Florida Virtual Office
    </a>

    <a class="related-link-btn" href="{{ url_for('mail') }}">
      Florida Mail Forwarding
    </a>

    <a class="related-link-btn" href="{{ url_for('phone') }}">
      Phone Forwarding
    </a>

    <a class="related-link-btn" href="{{ url_for('vo_pros_cons') }}">
      The Pros and Cons of Having a Virtual Office</a
    >

    <a class="related-link-btn" href="{{ url_for('forwarding_answering') }}">
      Live Phone Answering
    </a>

    <a class="related-link-btn" href="{{ url_for('vo_business_web') }}">
      Resources for Building A Business Website
    </a>
  </div>
</div>
