{% include "/links/components/head" %}
</head>

<body>
  {% include 'links/announcement/banner.html' %}
  {% include 'links/navbars/index.html' %}
  {% block content %}
<!-- Google Tag Manager (noscript) -->
<noscript
  ><iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-TBFBNF2"
    height="0"
    width="0"
    style="display: none; visibility: hidden"
    ></iframe
  ></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% endblock %} 
  {% include 'contact.html' %}
  {% include 'footer.html' %}


  <script src="{{ url_for('static',filename='javascript/scripts.min.js') }}" defer></script>

  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/22739768.js"></script>
  <!-- End of HubSpot Embed Code -->
</body>

</html>